# Python (2022-11-16 - 2022-11-18)

## Object Oriented

In [1]:
print('Hello World')

Hello World

In [2]:
a = 42

In [3]:
print(type(a))

<class 'int'>

In [4]:
import sys
sys.getsizeof(a)

28

In [5]:
print(type(print))

<class 'builtin_function_or_method'>

In [6]:
print(type(type))

<class 'type'>

In [7]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [9]:
class Person:
    '''Some pointless and repetitive implementation of
    yet another Person class (for didactical purposes only)'''
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
    def fullname(self):
        return self.firstname + ' ' + self.lastname

In [10]:
joerg = Person('Joerg', 'Faschingbauer')

In [11]:
type(joerg)

__main__.Person

In [12]:
joerg.firstname

'Joerg'

In [13]:
joerg.fullname()

'Joerg Faschingbauer'

In [14]:
Person

__main__.Person

In [15]:
type(Person)

type

In [16]:
Person.__name__

'Person'

In [17]:
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'fullname']

In [18]:
Person.__doc__

'Some pointless and repetitive implementation of\n    yet another Person class (for didactical purposes only)'

In [19]:
help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(firstname, lastname)
 |
 |  Some pointless and repetitive implementation of
 |  yet another Person class (for didactical purposes only)
 |
 |  Methods defined here:
 |
 |  __init__(self, firstname, lastname)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fullname(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

## Integers

In [20]:
i = 666

In [21]:
type(i)

int

In [22]:
i = 2**64 - 1

In [23]:
bin(i)

'0b1111111111111111111111111111111111111111111111111111111111111111'

In [24]:
len(bin(i))

66

In [25]:
i += 1

In [26]:
i

18446744073709551616

In [27]:
bin(i)

'0b10000000000000000000000000000000000000000000000000000000000000000'

In [28]:
len(bin(i))

67

In [29]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [30]:
a = 42

In [31]:
a

42

In [32]:
a == 42

True

In [33]:
if a == 42:
    print('hurra')

hurra

## Strings

In [34]:
s = 'abc'
s

'abc'

In [35]:
s = "abc"
s

'abc'

In [36]:
s = 'ab"c'
s

'ab"c'

In [37]:
s = "ab'c"
s

"ab'c"

In [38]:
s = "ab\"'c"
s

'ab"\'c'

In [39]:
s = 'ab"\'c'
s

'ab"\'c'

In [40]:
s = """
erste zeile
zweite zeile
"""
s

'\nerste zeile\nzweite zeile\n'

## Datatype Conversions

In [41]:
round(12.9)

13

In [42]:
round(12.1)

12

In [43]:
try:
    int('abc')
except ValueError as e:
    print(e)

invalid literal for int() with base 10: 'abc'

In [44]:
int('abc', 16)

2748

In [45]:
try:
    int('abc')
except BaseException as e:
    print(e)

invalid literal for int() with base 10: 'abc'

In [46]:
try:
    int('abc')
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'abc'

## Lists and Tuples

In [47]:
l = [1,2,'drei']
l

[1, 2, 'drei']

In [48]:
len(l)

3

In [49]:
l.append(4.0)
l

[1, 2, 'drei', 4.0]

In [50]:
andere_liste = [5, 6, 7]

In [51]:
neue_liste = l + andere_liste
neue_liste

[1, 2, 'drei', 4.0, 5, 6, 7]

In [52]:
l

[1, 2, 'drei', 4.0]

In [53]:
andere_liste

[5, 6, 7]

In [54]:
l += andere_liste
l

[1, 2, 'drei', 4.0, 5, 6, 7]

In [55]:
l.append([8,9,10])
l

[1, 2, 'drei', 4.0, 5, 6, 7, [8, 9, 10]]

In [56]:
l.extend([11,12,13,14])
l

[1, 2, 'drei', 4.0, 5, 6, 7, [8, 9, 10], 11, 12, 13, 14]

In [57]:
l[2]

'drei'

In [58]:
del l[2]

In [59]:
l

[1, 2, 4.0, 5, 6, 7, [8, 9, 10], 11, 12, 13, 14]

In [60]:
5 in l

True

In [61]:
14 in l

True

In [62]:
666 in l

False

In [63]:
t = (1,2,3)
t

(1, 2, 3)

In [64]:
t[2]

3

In [65]:
len(t)

3

In [66]:
try:
    t.append(4)
except AttributeError as e:
    print(e)

'tuple' object has no attribute 'append'

## Dictionary

In [67]:
d = {1:'one', 2:'two'}

In [68]:
1 in d

True

In [69]:
d[1]

'one'

In [70]:
try:
    d[3]
except KeyError as e:
    print(e)

3

In [71]:
d[3] = 'drei'
d

{1: 'one', 2: 'two', 3: 'drei'}

In [72]:
del d[1]
d

{2: 'two', 3: 'drei'}

In [73]:
for elem in d:
    print(elem)

2
3

In [74]:
for elem in d.keys():
    print(elem)

2
3

In [76]:
for elem in d.values():
    print(elem)

two
drei

In [77]:
for elem in d.items():
    print(elem)

(2, 'two')
(3, 'drei')

In [78]:
for key, value in d.items():
    print(key, value)

2 two
3 drei

## Set

In [80]:
s = {1,2,3}
s

{1, 2, 3}

In [81]:
1 in s

True

In [83]:
666 in s

False

In [85]:
for elem in s:
    print(elem)

1
2
3

In [86]:
s.add('vier')
s

{1, 2, 3, 'vier'}

In [87]:
s.remove(3)