# Python (2022-11-16 - 2022-11-18)

## Object Oriented

In [1]:
print('Hello World')

Hello World

In [2]:
a = 42

In [3]:
print(type(a))

<class 'int'>

In [4]:
import sys
sys.getsizeof(a)

28

In [5]:
print(type(print))

<class 'builtin_function_or_method'>

In [6]:
print(type(type))

<class 'type'>

In [7]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [9]:
class Person:
    '''Some pointless and repetitive implementation of
    yet another Person class (for didactical purposes only)'''
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
    def fullname(self):
        return self.firstname + ' ' + self.lastname

In [10]:
joerg = Person('Joerg', 'Faschingbauer')

In [11]:
type(joerg)

__main__.Person

In [12]:
joerg.firstname

'Joerg'

In [13]:
joerg.fullname()

'Joerg Faschingbauer'

In [14]:
Person

__main__.Person

In [15]:
type(Person)

type

In [16]:
Person.__name__

'Person'

In [17]:
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'fullname']

In [18]:
Person.__doc__

'Some pointless and repetitive implementation of\n    yet another Person class (for didactical purposes only)'

In [19]:
help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(firstname, lastname)
 |
 |  Some pointless and repetitive implementation of
 |  yet another Person class (for didactical purposes only)
 |
 |  Methods defined here:
 |
 |  __init__(self, firstname, lastname)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fullname(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

## Integers

In [20]:
i = 666

In [21]:
type(i)

int

In [22]:
i = 2**64 - 1

In [23]:
bin(i)

'0b1111111111111111111111111111111111111111111111111111111111111111'

In [24]:
len(bin(i))

66

In [25]:
i += 1

In [26]:
i

18446744073709551616

In [27]:
bin(i)

'0b10000000000000000000000000000000000000000000000000000000000000000'

In [28]:
len(bin(i))

67

In [29]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [30]:
a = 42

In [31]:
a

42

In [32]:
a == 42

True

In [33]:
if a == 42:
    print('hurra')

hurra

## Strings

In [34]:
s = 'abc'
s

'abc'

In [35]:
s = "abc"
s

'abc'

In [36]:
s = 'ab"c'
s

'ab"c'

In [37]:
s = "ab'c"
s

"ab'c"

In [38]:
s = "ab\"'c"
s

'ab"\'c'

In [39]:
s = 'ab"\'c'
s

'ab"\'c'

In [40]:
s = """
erste zeile
zweite zeile
"""
s

'\nerste zeile\nzweite zeile\n'

## Datatype Conversions

In [41]:
round(12.9)

13

In [42]:
round(12.1)

12

In [43]:
try:
    int('abc')
except ValueError as e:
    print(e)

invalid literal for int() with base 10: 'abc'

In [44]:
int('abc', 16)

2748

In [45]:
try:
    int('abc')
except BaseException as e:
    print(e)

invalid literal for int() with base 10: 'abc'

In [46]:
try:
    int('abc')
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'abc'

## Lists and Tuples

In [47]:
l = [1,2,'drei']
l

[1, 2, 'drei']

In [48]:
len(l)

3

In [49]:
l.append(4.0)
l

[1, 2, 'drei', 4.0]

In [50]:
andere_liste = [5, 6, 7]

In [51]:
neue_liste = l + andere_liste
neue_liste

[1, 2, 'drei', 4.0, 5, 6, 7]

In [52]:
l

[1, 2, 'drei', 4.0]

In [53]:
andere_liste

[5, 6, 7]

In [54]:
l += andere_liste
l

[1, 2, 'drei', 4.0, 5, 6, 7]

In [55]:
l.append([8,9,10])
l

[1, 2, 'drei', 4.0, 5, 6, 7, [8, 9, 10]]

In [56]:
l.extend([11,12,13,14])
l

[1, 2, 'drei', 4.0, 5, 6, 7, [8, 9, 10], 11, 12, 13, 14]

In [57]:
l[2]

'drei'

In [58]:
del l[2]

In [59]:
l

[1, 2, 4.0, 5, 6, 7, [8, 9, 10], 11, 12, 13, 14]

In [60]:
5 in l

True

In [61]:
14 in l

True

In [62]:
666 in l

False

In [63]:
t = (1,2,3)
t

(1, 2, 3)

In [64]:
t[2]

3

In [65]:
len(t)

3

In [66]:
try:
    t.append(4)
except AttributeError as e:
    print(e)

'tuple' object has no attribute 'append'

## Dictionary

In [67]:
d = {1:'one', 2:'two'}

In [68]:
1 in d

True

In [69]:
d[1]

'one'

In [70]:
try:
    d[3]
except KeyError as e:
    print(e)

3

In [71]:
d[3] = 'drei'
d

{1: 'one', 2: 'two', 3: 'drei'}

In [72]:
del d[1]
d

{2: 'two', 3: 'drei'}

In [73]:
for elem in d:
    print(elem)

2
3

In [74]:
for elem in d.keys():
    print(elem)

2
3

In [75]:
for elem in d.values():
    print(elem)

two
drei

In [76]:
for elem in d.items():
    print(elem)

(2, 'two')
(3, 'drei')

In [77]:
for key, value in d.items():
    print(key, value)

2 two
3 drei

## Set

In [78]:
s = {1,2,3}
s

{1, 2, 3}

In [79]:
1 in s

True

In [80]:
666 in s

False

In [81]:
for elem in s:
    print(elem)

1
2
3

In [82]:
s.add('vier')
s

{1, 2, 3, 'vier'}

In [83]:
s.remove(3)

## ``for``, and Iteration, and Generators

In [84]:
l = [1,2,3,4]
for elem in l:
    print(elem)

1
2
3
4

In [85]:
for elem in range(1,5):
    print(elem)

1
2
3
4

In [86]:
d = {'one': 1, 'two': 2}
for elem in d:
    print(elem)

one
two

In [87]:
for elem in d.keys():
    print(elem)

one
two

In [88]:
for elem in d.values():
    print(elem)

1
2

In [89]:
for elem in d.items():
    print(elem)

('one', 1)
('two', 2)

In [90]:
for elem in d.items():
    key = elem[0]
    value = elem[1]
    print(f'Key={key}, Value={value}')

Key=one, Value=1
Key=two, Value=2

In [91]:
f = open('/etc/passwd')
for line in f:
    print(line)

root:x:0:0:root:/root:/bin/bash

bin:x:1:1:bin:/bin:/sbin/nologin

daemon:x:2:2:daemon:/sbin:/sbin/nologin

adm:x:3:4:adm:/var/adm:/sbin/nologin

lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin

sync:x:5:0:sync:/sbin:/bin/sync

shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown

halt:x:7:0:halt:/sbin:/sbin/halt

mail:x:8:12:mail:/var/spool/mail:/sbin/nologin

operator:x:11:0:operator:/root:/sbin/nologin

games:x:12:100:games:/usr/games:/sbin/nologin

ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin

nobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin

dbus:x:81:81:System message bus:/:/sbin/nologin

apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin

tss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin

systemd-network:x:192:192:systemd Network Management:/:/usr/sbin/nologin

systemd-oom:x:999:999:systemd Userspace OOM Killer:/:/usr/sbin/nologin

systemd-resolve:x:193:193:systemd Resolver:/:/usr/sbin/nologin

qemu:x:107:107:qemu user:/:/sbin/nologin

polkitd:x:998:997:User for polkitd:/:/sbin/nologin

avahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin

unbound:x:997:995:Unbound DNS resolver:/etc/unbound:/sbin/nologin

nm-openconnect:x:996:994:NetworkManager user for OpenConnect:/:/sbin/nologin

geoclue:x:995:993:User for geoclue:/var/lib/geoclue:/sbin/nologin

usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin

gluster:x:994:992:GlusterFS daemons:/run/gluster:/sbin/nologin

rtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin

chrony:x:993:990::/var/lib/chrony:/sbin/nologin

saslauth:x:992:76:Saslauthd user:/run/saslauthd:/sbin/nologin

dnsmasq:x:991:989:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin

rpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin

colord:x:990:988:User for colord:/var/lib/colord:/sbin/nologin

rpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin

openvpn:x:989:987:OpenVPN:/etc/openvpn:/sbin/nologin

nm-openvpn:x:988:986:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin

pipewire:x:987:985:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin

abrt:x:173:173::/etc/abrt:/sbin/nologin

flatpak:x:986:983:User for flatpak system helper:/:/sbin/nologin

gdm:x:42:42:GNOME Display Manager:/var/lib/gdm:/sbin/nologin

gnome-initial-setup:x:985:982::/run/gnome-initial-setup/:/sbin/nologin

vboxadd:x:984:1::/var/run/vboxadd:/sbin/nologin

sshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin

tcpdump:x:72:72::/:/sbin/nologin

jfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash

systemd-coredump:x:978:978:systemd Core Dumper:/:/usr/sbin/nologin

systemd-timesync:x:977:977:systemd Time Synchronization:/:/usr/sbin/nologin

mosquitto:x:976:976:Mosquitto Broker:/etc/mosquitto:/sbin/nologin

In [92]:
for elem in range(3):
    print(elem)

0
1
2

In [93]:
r = range(3)
type(r)

range

In [94]:
r = range(10**1000)
r

range(0, 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000)

In [95]:
r = range(3)
r

range(0, 3)

In [96]:
for elem in r:
    print(elem)

0
1
2

### Iterator Protocol

In [97]:
r = range(3)

In [98]:
it = iter(r)

In [99]:
type(it)

range_iterator

In [100]:
next(it)

0

In [101]:
next(it)

1

In [102]:
next(it)

2

In [103]:
try:
    next(it)
except StopIteration:
    pass

## ``enumerate()``

In [104]:
names = ['Joerg', 'Caro', 'Johanna', 'Philipp']
for name in names:
    print(name)

Joerg
Caro
Johanna
Philipp

In [105]:
for i in range(len(names)):
    print(i, names[i])

0 Joerg
1 Caro
2 Johanna
3 Philipp

In [106]:
i = 0
while i < len(names):
    print(i, names[i])
    i += 1

0 Joerg
1 Caro
2 Johanna
3 Philipp

In [107]:
for elem in enumerate(names):
    print(elem)

(0, 'Joerg')
(1, 'Caro')
(2, 'Johanna')
(3, 'Philipp')

In [108]:
for i, name in enumerate(names):
    print(i, name)

0 Joerg
1 Caro
2 Johanna
3 Philipp

## Lists, Dictionaries, Generators, Constructors

In [109]:
for i in range(3):
    print(i)

0
1
2

In [110]:
l = []
for i in range(3):
    l.append(i)
l

[0, 1, 2]

In [111]:
list(range(3))

[0, 1, 2]

In [112]:
for i in 'abc':
    print(i)

a
b
c

In [113]:
list('abc')

['a', 'b', 'c']

In [114]:
d = {'one': 1, 'two': 2}
for elem in d:
    print(elem)

one
two

In [115]:
list(d)

['one', 'two']

In [116]:
l = [('one', 1), ('two', 2)]
for k, v in l:
    print(k, v)

one 1
two 2

In [117]:
dict(l)

{'one': 1, 'two': 2}

## Slicing

In [118]:
text = 'Hello World'
text[-1:-5]

''

In [119]:
for i in range(0,7,2):
    print(i)

0
2
4
6

## References, (Im)mutability

In [120]:
a = 42
b = a

In [121]:
id(a)

140323934455312

In [122]:
id(b)

140323934455312

In [123]:
a += 1
a

43

In [124]:
b

42

In [125]:
id(a)

140323934455344

In [126]:
a += 1
id(a)

140323934455376

### And Lists? Mutable!

In [127]:
l1 = [1,2,3]
l2 = l1
l2

[1, 2, 3]

In [128]:
l1.append(4)
l1

[1, 2, 3, 4]

In [129]:
l2

[1, 2, 3, 4]

### Tuples?

In [130]:
t1 = (1,2,3)
t2 = t1

In [131]:
id(t1)

140323852147712

In [132]:
id(t2)

140323852147712

In [133]:
try:
    t1.append(4)
except AttributeError as e:
    print(e)

'tuple' object has no attribute 'append'

In [134]:
try:
    del t[1]
except TypeError as e:
    print(e)

'tuple' object doesn't support item deletion

### Strings

In [135]:
s1 = 'abc'
s2 = s1
id(s1)

140323933649904

In [136]:
id(s2)

140323933649904

In [137]:
s1 += 'def'
id(s1)

140323833601584

In [138]:
s2

'abc'

### ``set``

In [139]:
s1 = {1,2,3}
s2 = s1
id(s1) == id(s2)

True

In [140]:
s1.add(4)
s1

{1, 2, 3, 4}

In [141]:
s2

{1, 2, 3, 4}

In [142]:
s1 = frozenset((1,2,3))
s1

frozenset({1, 2, 3})

In [143]:
try:
    s1.add(4)
except AttributeError as e:
    print(e)

'frozenset' object has no attribute 'add'

In [144]:
s2 = set(s1)
s2.add(4)

## Functions

In [145]:
a, b = [1,2]
a

1

In [146]:
b

2

In [147]:
def f():
    return 1, 2
i, j = f()

In [148]:
i

1

In [149]:
j

2

In [150]:
def f():
    return (1,2)
(i, j) = f()

In [151]:
def maximum(a, b):
    if a < b:
        return b
    return a

In [152]:
maximum

In [153]:
type(maximum)

function

In [154]:
a = maximum
a(1,2)

2

In [155]:
maximum.__name__

'maximum'

In [156]:
dir(maximum)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [157]:
def greet(who, phrase='Grüß Gott'):
    print(phrase, who)

In [158]:
greet('Jörg')

Grüß Gott Jörg

In [159]:
greet('Jörg', 'Seas')

Seas Jörg

In [160]:
def f(x=[]):
    print(x)

In [161]:
f()

[]

In [162]:
f([1,2,3])

[1, 2, 3]

In [163]:
def f(x=[]):
    x.append(42)
    print(x)

In [164]:
f()

[42]

In [165]:
f()

[42, 42]

In [166]:
f.__defaults__

([42, 42],)

## Strings

In [167]:
s = 'abc'
s

'abc'

In [168]:
s = "abc"
s

'abc'

In [169]:
s = 'abc"def'
s

'abc"def'

In [170]:
s = "abc'def"
s

"abc'def"

In [171]:
s = 'abc"\'def'
s

'abc"\'def'

In [172]:
print(s)

abc"'def

In [173]:
s = 'erste zeile\nzweite zeile'
s

'erste zeile\nzweite zeile'

In [174]:
print(s)

erste zeile
zweite zeile

In [175]:
s = 'abc\tdef'
print(s)

abc	def

In [176]:
doze_path = 'C:\Programme\nocheinprogramm'
print(doze_path)

C:\Programme
ocheinprogramm

In [177]:
doze_path = 'C:\\Programme\\nocheinprogramm'
print(doze_path)

C:\Programme\nocheinprogramm

In [178]:
doze_path = r'C:\Programme\nocheinprogramm'
print(doze_path)

C:\Programme\nocheinprogramm

### Regular Expressions

In [179]:
line = '     dfghgfdfghj.  123   .   '

In [180]:
line = 'jhghgh   .123.   '

In [181]:
import re

In [182]:
matchstr = r'^\s*([a-z]+)\s*\.\s*(\d+)\s*\.\s*$'

In [183]:
compiled_match = re.compile(matchstr)

In [184]:
match = compiled_match.search('jhghgh   .123.   ')

In [185]:
match.group(1)

'jhghgh'

In [186]:
int(match.group(2))

123

### Miscellaneous String Methods

In [187]:
s = '123'
s.isdigit()

True

In [188]:
s = '    \t   \r\n'
s.isspace()

True

In [189]:
s = 'abc'
s.isalpha()

True

In [190]:
s.islower()

True

In [191]:
s.upper()

'ABC'

In [192]:
s = s.upper()

In [193]:
s

'ABC'

In [194]:
s.lower()

'abc'

In [195]:
s = 'a'
s.isidentifier()

True

In [196]:
s = '_a'
s.isidentifier()

True

In [197]:
s = 'abc'
s.capitalize()

'Abc'

In [198]:
s.center(50)

'                       abc                        '

In [199]:
s = 'mississippi'
s.count('ss')

2

In [200]:
s = 'ein.csv'
s.endswith('.csv')

True

In [201]:
s = '\tprint("hallo")'
s.expandtabs(4)

'    print("hallo")'

In [202]:
s = 'mississippi'
s.find('ss')

2

In [203]:
num_ss = 0
pos = 0
while True:
    pos = s.find('ss', pos)
    if pos == -1:
        break
    num_ss += 1
    pos += 1
print('ss gefunden:', num_ss)

ss gefunden: 2

In [204]:
s

'mississippi'

In [205]:
s.index('ss')

2

In [206]:
try:
    s.index('xyz')
except ValueError as e:
    print(e)

substring not found

In [207]:
s = '   abc    '

In [208]:
s.strip()

'abc'

In [209]:
s.lstrip()

'abc    '

In [210]:
s.rstrip()

'   abc'

In [211]:
s = 'line\n'

In [212]:
s.rstrip('\n')

'line'

In [213]:
items = ['Joerg', 'Caro', 'Philipp', 'Johanna', 'Isi']
','.join(items)

'Joerg,Caro,Philipp,Johanna,Isi'

In [214]:
line = ','.join(items)
line

'Joerg,Caro,Philipp,Johanna,Isi'

In [215]:
line.split(',')

['Joerg', 'Caro', 'Philipp', 'Johanna', 'Isi']

In [216]:
line = '     dfghgfdfghj.  123   .   '

In [217]:
items = line.split('.')
items

['     dfghgfdfghj', '  123   ', '   ']

In [218]:
strippeditems = []
for item in items:
    strippeditems.append(item.strip())
strippeditems

['dfghgfdfghj', '123', '']

In [219]:
strippeditems = [item.strip() for item in items]
items

['     dfghgfdfghj', '  123   ', '   ']

## More About Lists

In [220]:
l =  [3, 2, 5]

In [221]:
l.append(5)

In [222]:
l

[3, 2, 5, 5]

In [223]:
l1 = ['noch', 'was']

In [224]:
l.extend(l1)
l

[3, 2, 5, 5, 'noch', 'was']

In [225]:
l.append(l1)

In [226]:
l

[3, 2, 5, 5, 'noch', 'was', ['noch', 'was']]

In [227]:
try:
    l.sort()
except TypeError as e:
    print(e)

'<' not supported between instances of 'str' and 'int'

In [228]:
l = [4, 1, 6, 666, 42]

In [229]:
l.sort()

In [230]:
l

[1, 4, 6, 42, 666]

In [231]:
l = [4, 1, 6, 666, 42]

In [232]:
sorted(l)

[1, 4, 6, 42, 666]

In [233]:
l.reverse()

In [234]:
l

[42, 666, 6, 1, 4]

In [235]:
list(reversed(l))

[4, 1, 6, 666, 42]

In [236]:
666 in l

True

## More About Dictionaries

In [237]:
d = {}

In [238]:
type(d)

dict

In [239]:
d = dict()

In [240]:
d

{}

In [241]:
d['one'] = 1
d['two'] = 2

In [242]:
d

{'one': 1, 'two': 2}

In [243]:
d = {'one': 1, 'two': 2}

In [244]:
d['one']

1

In [245]:
d['three'] = 3

In [246]:
d['three']

3

In [247]:
try:
    d['four']
except KeyError as e:
    print(e)

'four'

In [248]:
d.get('three')

3

In [249]:
value = d.get('four')
print(value)

None

In [250]:
value = d.get('four')
if value is None:
    d['four'] = 4
else:
    print(value)

In [251]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [252]:
value = d.get('five', 5)
value

5

In [253]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [254]:
value = d.setdefault('five', 5)
value

5

In [255]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [256]:
other_d = {'hundred': 100, 'thousand': 1000}

In [257]:
d.update(other_d)

In [258]:
d

{'one': 1,
 'two': 2,
 'three': 3,
 'four': 4,
 'five': 5,
 'hundred': 100,
 'thousand': 1000}

In [259]:
yet_another_d = {'thousand': 1, 'one': 1000}

In [260]:
d.update(yet_another_d)
d

{'one': 1000,
 'two': 2,
 'three': 3,
 'four': 4,
 'five': 5,
 'hundred': 100,
 'thousand': 1}

## More About Sets

In [261]:
s = set()

In [262]:
s

set()

In [263]:
s = {1, 2, 3}

In [264]:
3 in s

True

In [265]:
3 not in s

False

In [266]:
4 not in s

True

In [267]:
s.add(4)

In [268]:
4 in s

True

In [269]:
s.remove(2)

In [270]:
2 in s

False

In [271]:
s == s

True

In [272]:
s

{1, 3, 4}

In [273]:
s1 = {1,2,3}
s2 = {3,1,2}
s1 == s2

True

In [274]:
s3 = {1,2,3,4}

In [275]:
s1 == s3

False

In [276]:
s1 < s3

True

In [277]:
s3 > s1

True

In [278]:
s4 = {1000, 2000}

In [279]:
s1.isdisjoint(s4)

True

## Comprehensions (List, Dictionary, Set)

### List

In [280]:
squares = []
for num in range(5):
    squares.append(num**2)

In [281]:
for sq in squares:
    print(sq)

0
1
4
9
16

In [282]:
for sq in [num**2 for num in range(5)]:
    print(sq)

0
1
4
9
16

In [283]:
for sq in [num**2 for num in range(10) if num%2==0]:
    print(sq)

0
4
16
36
64

### Dictionary

In [284]:
dict([('one', 1), ('two', 2)])

{'one': 1, 'two': 2}

In [285]:
squares = {}
for num in range(5):
    squares[num] = num**2

In [286]:
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [287]:
squares = {num: num**2 for num in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Set

In [288]:
squares = set()
for num in range(5):
    squares.add(num**2)
squares

{0, 1, 4, 9, 16}

In [289]:
squares = {num**2 for num in range(5)}
squares

{0, 1, 4, 9, 16}

### Generator Expressions

In [290]:
def squares(seq):
    squares = []
    for num in range(5):
        squares.append(num**2)
    return squares

In [291]:
for sq in squares(range(5)):
    print(sq)

0
1
4
9
16

In [292]:
def squares(seq):
    for num in range(5):
        yield num**2

In [293]:
for sq in squares(range(5)):
    print(sq)

0
1
4
9
16

In [294]:
for sq in [num**2 for num in range(5)]:
    print(sq)

0
1
4
9
16

In [295]:
for sq in (num**2 for num in range(5)):
    print(sq)

0
1
4
9
16

## ``eval`` and ``exec``

In [296]:
s = '42'

In [298]:
int(s)     # BORING!

42

In [299]:
eval(s)

42

In [300]:
s = '[1,2,3]'
eval(s)

[1, 2, 3]

In [301]:
s = '"    ".strip()'
eval(s)

''

In [302]:
value = print('hallo')
value

hallo

In [305]:
print(value)

None

In [306]:
s = 'print("hallo")'
value = eval(s)

hallo

In [307]:
print(value)

None

In [311]:
s = '['
s += '1,'
s += '2,'
s += '"drei"]'
s

'[1,2,"drei"]'

In [312]:
eval(s)

[1, 2, 'drei']

In [314]:
s = 'for i in range(5): print(i)'
exec(s)

0
1
2
3
4

In [315]:
s = '''
a = 666
print(a)
'''
exec(s)

666

In [316]:
a

666

In [317]:
del a

In [319]:
s

'\na = 666\nprint(a)\n'

In [320]:
context = {}

In [323]:
exec(s, context)

666

In [324]:
context

{'__builtins__': {'__name__': 'builtins',
  '__doc__': "Built-in functions, exceptions, and other objects.\n\nNoteworthy: None is the `nil' object; Ellipsis represents `...' in slices.",
  '__package__': '',
  '__loader__': _frozen_importlib.BuiltinImporter,
  '__spec__': ModuleSpec(name='builtins', loader=<class '_frozen_importlib.BuiltinImporter'>, origin='built-in'),
  '__build_class__': <function __build_class__>,
  '__import__': <function __import__>,
  'abs': <function abs(x, /)>,
  'all': <function all(iterable, /)>,
  'any': <function any(iterable, /)>,
  'ascii': <function ascii(obj, /)>,
  'bin': <function bin(number, /)>,
  'breakpoint': <function breakpoint>,
  'callable': <function callable(obj, /)>,
  'chr': <function chr(i, /)>,
  'compile': <function compile(source, filename, mode, flags=0, dont_inherit=False, optimize=-1, *, _feature_version=-1)>,
  'delattr': <function delattr(obj, name, /)>,
  'dir': <function dir>,
  'divmod': <function divmod(x, y, /)>,
  'eval': <function eval(source, globals=None, locals=None, /)>,
  'exec': <function exec(source, globals=None, locals=None, /)>,
  'format': <function format(value, format_spec='', /)>,
  'getattr': <function getattr>,
  'globals': <function globals()>,
  'hasattr': <function hasattr(obj, name, /)>,
  'hash': <function hash(obj, /)>,
  'hex': <function hex(number, /)>,
  'id': <function id(obj, /)>,
  'input': <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x7f9fb16abcd0>>,
  'isinstance': <function isinstance(obj, class_or_tuple, /)>,
  'issubclass': <function issubclass(cls, class_or_tuple, /)>,
  'iter': <function iter>,
  'aiter': <function aiter(async_iterable, /)>,
  'len': <function len(obj, /)>,
  'locals': <function locals()>,
  'max': <function max>,
  'min': <function min>,
  'next': <function next>,
  'anext': <function anext>,
  'oct': <function oct(number, /)>,
  'ord': <function ord(c, /)>,
  'pow': <function pow(base, exp, mod=None)>,
  'print': <function print>,
  'repr': <function repr(obj, /)>,
  'round': <function round(number, ndigits=None)>,
  'setattr': <function setattr(obj, name, value, /)>,
  'sorted': <function sorted(iterable, /, *, key=None, reverse=False)>,
  'sum': <function sum(iterable, /, start=0)>,
  'vars': <function vars>,
  'None': None,
  'Ellipsis': Ellipsis,
  'NotImplemented': NotImplemented,
  'False': False,
  'True': True,
  'bool': bool,
  'memoryview': memoryview,
  'bytearray': bytearray,
  'bytes': bytes,
  'classmethod': classmethod,
  'complex': complex,
  'dict': dict,
  'enumerate': enumerate,
  'filter': filter,
  'float': float,
  'frozenset': frozenset,
  'property': property,
  'int': int,
  'list': list,
  'map': map,
  'object': object,
  'range': range,
  'reversed': reversed,
  'set': set,
  'slice': slice,
  'staticmethod': staticmethod,
  'str': str,
  'super': super,
  'tuple': tuple,
  'type': type,
  'zip': zip,
  '__debug__': True,
  'BaseException': BaseException,
  'Exception': Exception,
  'TypeError': TypeError,
  'StopAsyncIteration': StopAsyncIteration,
  'StopIteration': StopIteration,
  'GeneratorExit': GeneratorExit,
  'SystemExit': SystemExit,
  'KeyboardInterrupt': KeyboardInterrupt,
  'ImportError': ImportError,
  'ModuleNotFoundError': ModuleNotFoundError,
  'OSError': OSError,
  'EnvironmentError': OSError,
  'IOError': OSError,
  'EOFError': EOFError,
  'RuntimeError': RuntimeError,
  'RecursionError': RecursionError,
  'NotImplementedError': NotImplementedError,
  'NameError': NameError,
  'UnboundLocalError': UnboundLocalError,
  'AttributeError': AttributeError,
  'SyntaxError': SyntaxError,
  'IndentationError': IndentationError,
  'TabError': TabError,
  'LookupError': LookupError,
  'IndexError': IndexError,
  'KeyError': KeyError,
  'ValueError': ValueError,
  'UnicodeError': UnicodeError,
  'UnicodeEncodeError': UnicodeEncodeError,
  'UnicodeDecodeError': UnicodeDecodeError,
  'UnicodeTranslateError': UnicodeTranslateError,
  'AssertionError': AssertionError,
  'ArithmeticError': ArithmeticError,
  'FloatingPointError': FloatingPointError,
  'OverflowError': OverflowError,
  'ZeroDivisionError': ZeroDivisionError,
  'SystemError': SystemError,
  'ReferenceError': ReferenceError,
  'MemoryError': MemoryError,
  'BufferError': BufferError,
  'Warning': Warning,
  'UserWarning': UserWarning,
  'EncodingWarning': EncodingWarning,
  'DeprecationWarning': DeprecationWarning,
  'PendingDeprecationWarning': PendingDeprecationWarning,
  'SyntaxWarning': SyntaxWarning,
  'RuntimeWarning': RuntimeWarning,
  'FutureWarning': FutureWarning,
  'ImportWarning': ImportWarning,
  'UnicodeWarning': UnicodeWarning,
  'BytesWarning': BytesWarning,
  'ResourceWarning': ResourceWarning,
  'ConnectionError': ConnectionError,
  'BlockingIOError': BlockingIOError,
  'BrokenPipeError': BrokenPipeError,
  'ChildProcessError': ChildProcessError,
  'ConnectionAbortedError': ConnectionAbortedError,
  'ConnectionRefusedError': ConnectionRefusedError,
  'ConnectionResetError': ConnectionResetError,
  'FileExistsError': FileExistsError,
  'FileNotFoundError': FileNotFoundError,
  'IsADirectoryError': IsADirectoryError,
  'NotADirectoryError': NotADirectoryError,
  'InterruptedError': InterruptedError,
  'PermissionError': PermissionError,
  'ProcessLookupError': ProcessLookupError,
  'TimeoutError': TimeoutError,
  'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
  'copyright': Copyright (c) 2001-2022 Python Software Foundation.
  All Rights Reserved.

  Copyright (c) 2000 BeOpen.com.
  All Rights Reserved.

  Copyright (c) 1995-2001 Corporation for National Research Initiatives.
  All Rights Reserved.

  Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
  All Rights Reserved.,
  'credits':     Thanks to CWI, CNRI, BeOpen.com, Zope Corporation and a cast of thousands
      for supporting Python development.  See www.python.org for more information.,
  'license': Type license() to see the full license text,
  'help': Type help() for interactive help, or help(object) for help about object.,
  'execfile': <function _pydev_imps._pydev_execfile.execfile(file, glob=None, loc=None)>,
  'runfile': <function _pydev_bundle.pydev_umd.runfile(filename, args=None, wdir=None, namespace=None)>,
  '__IPYTHON__': True,
  'display': <function IPython.core.display.display(*objs, include=None, exclude=None, metadata=None, transient=None, display_id=None, **kwargs)>,
  'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x7f9fb1516200>>},
 'a': 666}

In [326]:
print(context['a'])

666

In [327]:
config_file = '''
SRCDIR = '/tmp/src'
DSTDIR = '/tmp/dst'
INTERVAL = 3
'''

config = {}
exec(config_file, config)

In [329]:
config['SRCDIR']

'/tmp/src'

In [330]:
config['DSTDIR']

'/tmp/dst'

In [331]:
config['INTERVAL']

3