# 2021-11-17

## Variables

In [1]:
a = 42
type(a)

int

In [2]:
a = 1.7
type(a)

float

In [3]:
a = [1, 2, 'drei']
type(a)

list

In [4]:
_a = 666
_123 = 1

In [5]:
a = a

In [6]:
a = 1
b = 2
c = 3

In [7]:
print(a, b, c)

1 2 3

In [8]:
a, b, c = 1, 2, 3

In [9]:
print(a, b, c)

1 2 3

In [10]:
print(a, b, c, sep=',')

1,2,3

### Enter Tuples

In [11]:
a, b, c

(1, 2, 3)

In [12]:
t = a, b, c

In [13]:
t

(1, 2, 3)

In [14]:
type(t)

tuple

In [15]:
a, b

(1, 2)

Exchange values of a and b, the traditional way

In [16]:
c = a
a = b
b = c
a, b

(2, 1)

Exchange values, Pythonic

In [17]:
a = 1
b = 2

In [18]:
a, b = b, a

In [19]:
a, b

(2, 1)

Name of this: **Tuple Unpacking**

### References

In [20]:
a = 42
b = a

In [21]:
b

42

In [22]:
id(a)

140426735255120

In [23]:
id(b)

140426735255120

In [24]:
b = 7
id(b)

140426735254000

## Datatypes

In [25]:
i = 0xffffffff;

In [26]:
i

4294967295

In [27]:
i += 1

In [28]:
i

4294967296

In [29]:
i = 2**64 - 1

In [30]:
i

18446744073709551615

In [31]:
i += 1

In [32]:
i

18446744073709551616

In [33]:
2**100

1267650600228229401496703205376

In [34]:
2**10000

19950631168807583848837421626835850838234968318861924548520089498529438830221946631919961684036194597899331129423209124271556491349413781117593785932096323957855730046793794526765246551266059895520550086918193311542508608460618104685509074866089624888090489894838009253941633257850621568309473902556912388065225096643874441046759871626985453222868538161694315775629640762836880760732228535091641476183956381458969463899410840960536267821064621427333394036525565649530603142680234969400335934316651459297773279665775606172582031407994198179607378245683762280037302885487251900834464581454650557929601414833921615734588139257095379769119277800826957735674444123062018757836325502728323789270710373802866393031428133241401624195671690574061419654342324638801248856147305207431992259611796250130992860241708340807605932320161268492288496255841312844061536738951487114256315111089745514203313820202931640957596464756010405845841566072044962867016515061920631004186422275908670900574606417856951911456055068251250406007519842261898059237118054444788072906395242548339221982707404473162376760846613033778706039803413197133493654622700563169937455508241780972810983291314403571877524768509857276937926433221599399876886660808368837838027643282775172273657572744784112294389733810861607423253291974813120197604178281965697475898164531258434135959862784130128185406283476649088690521047580882615823961985770122407044330583075869039319604603404973156583208672105913300903752823415539745394397715257455290510212310947321610753474825740775273986348298498340756937955646638621874569499279016572103701364433135817214311791398222983845847334440270964182851005072927748364550578634501100852987812389473928699540834346158807043959118985815145779177143619698728131459483783202081474982171858011389071228250905826817436220577475921417653715687725614904582904992461028630081535583308130101987675856234343538955409175623400844887526162643568648833519463720377293240094456246923254350400678027273837755376406726898636241037491410966718557050759098100246789880178271925953381282421954028302759408448955014676668389697996886241636313376393903373455801407636741877711055384225739499110186468219696581651485130494222369947714763069155468217682876200362777257723781365331611196811280792669481887201298643660768551639860534602297871557517947385246369446923087894265948217008051120322365496288169035739121368338393591756418733850510970271613915439590991598154654417336311656936031122249937969999226781732358023111862644575299135758175008199839236284615249881088960232244362173771618086357015468484058622329792853875623486556440536962622018963571028812361567512543338303270029097668650568557157505516727518899194129711337690149916181315171544007728650573189557450920330185304847113818315407324053319038462084036421763703911550639789000742853672196280903477974533320468368795868580237952218629120080742819551317948157624448298518461509704888027274721574688131594750409732115080498190455803416826949787141316063210686391511681774304792596709376

Floor Division

In [35]:
3/2

1.5

In [36]:
3//2

1

In [37]:
3%2

1

In [38]:
4%2

0

In [39]:
if 22%2 == 0:
    print('even number')

even number

In [40]:
16%3

1

In [41]:
1+2*3

7

In [42]:
(1+2)*3

9

### Datatype Conversions, Type Names

In [43]:
s = 'abc'
type(s)

str

In [44]:
s = '666'
type(s)

str

In [45]:
try:
    s += 1
except Exception as e:
    print(type(e), e)

<class 'TypeError'> can only concatenate str (not "int") to str

In [46]:
i = int(s, 10)
i

666

In [47]:
type(i)

int

In [48]:
s = '0x48'
int(s, 16)

72

In [49]:
i = 666
s = str(i)
s

'666'

In [50]:
d = {'eins': 1, 'zwei': 2}
dstr = str(d)
dstr

"{'eins': 1, 'zwei': 2}"

In [51]:
i = 666
print(type(i))

<class 'int'>

In [52]:
f = float(i)
f

666.0

In [53]:
f = 666.777
i = int(f)
i

666

In [54]:
round(f)

667

In [55]:
s = 'abc'
l = list(s)
l

['a', 'b', 'c']

In [56]:
try:
    list(666)
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

**Type names are variables** (or so)

In [57]:
type(666)

int

In [58]:
a = 666
type(a)

int

In [59]:
type(int)

type

In [60]:
type(bool)

type

In [61]:
type(dict)

type

In [62]:
int('666')

666

In [63]:
type(int)

type

At this point, the name "int" refer to the integer type ("int" is a variable that refers to a type object).
Now, we assign an int object to the "int" variable.

In [64]:
int = 666

In [65]:
int

666

The type int is apparently gone!

In [66]:
type(int)

int

In [67]:
try:
    i = int('666')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not callable

WTF?? How to repair this??!!

In [68]:
type(666)   # int is still alive!!

int

In [69]:
int = type(666)

In [70]:
type(int)

type

In [71]:
int('666')

666

## Compound Datatypes

### List

In [72]:
l = [1, 2, 3]
l

[1, 2, 3]

In [73]:
len(l)

3

Question: is something in the list?

In [74]:
2 in l

True

In [75]:
not 2 in l

False

In [76]:
2 not in l

False

In [77]:
100 in l

False

In [78]:
l.append(4)

In [79]:
l

[1, 2, 3, 4]

In [80]:
l.extend([5, 6, 7])

In [81]:
l

[1, 2, 3, 4, 5, 6, 7]

**Attention**

In [82]:
l.append([8, 9, 10])  # appends only one element of type list!
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]

In [83]:
l.extend('abc')  # appends three elements of type str (one character each)
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10], 'a', 'b', 'c']

In [84]:
l.extend(range(4))
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10], 'a', 'b', 'c', 0, 1, 2, 3]

### Tuple

In [85]:
t = (1, 2, 3)

In [86]:
t

(1, 2, 3)

In [87]:
len(t)

3

In [88]:
try:
    t.append(4)
except Exception as e:
    print(e)

'tuple' object has no attribute 'append'

### Dictionary

In [89]:
map = {
    'eins': 1,
    'zwei': 2,
}
type(map)

dict

In [90]:
len(map)

2

In [91]:
'zwei' in map

True

In [92]:
'drei' in map

False

In [93]:
map['eins']

1

In [94]:
map['drei'] = 3

In [95]:
map

{'eins': 1, 'zwei': 2, 'drei': 3}

In [96]:
map['zwei'] = 2.0

In [97]:
map

{'eins': 1, 'zwei': 2.0, 'drei': 3}

In [98]:
try:
    map['vier']
except KeyError as e:
    print(type(e), e)

<class 'KeyError'> 'vier'

### Set

In [99]:
s = {1, 2, 3}

In [100]:
len(s)

3

In [101]:
2 in s

True

In [102]:
s.add(100)

In [103]:
s

{1, 2, 3, 100}

In [104]:
s.add('/path/to/something')

In [105]:
s

{'/path/to/something', 1, 100, 2, 3}

In [106]:
{1, 2, 3} - {2, 3, 4}   # difference

{1}

Question: can I use a string as a set?

In [107]:
try:
    "abc" - "bcd"
except Exception as e:
    print(type(e), e)

<class 'TypeError'> unsupported operand type(s) for -: 'str' and 'str'

In [108]:
s = set("abc")
s

{'a', 'b', 'c'}

In [109]:
s = set(range(10))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [110]:
s = set([3, 1000, 'vier'])
s

{1000, 3, 'vier'}

In [111]:
3 in s

True

## Boolean

In [112]:
1 < 2

True

In [113]:
type(1<2)

bool

In [114]:
b = True

In [115]:
if 1:
    print('hm')

hm

In [116]:
if 100:
    print('hm')

hm

In [117]:
if 0:
    print('hm')

In [118]:
bool(0)

False

In [119]:
bool(100)

True

**Attention**: boolean values of compound types

In [120]:
s = {}
bool(s)

False

In [121]:
bool('')

False

In [122]:
bool('abc')

True

## NoneType

In [123]:
a = None
type(a)

NoneType

In [124]:
def f(s):
    if s:
        print('jo')
    else:
        print('na')

In [125]:
f({1, 2, 3})

jo

In [126]:
f({})

na

In [127]:
f(None)

na

In [128]:
def f(s):
    if s is None:
        print('na')
    else:
        print('ja')

In [129]:
f(None)

na

In [130]:
f({})

ja

### Short Circuit Evaluation of Boolean Expression

In [131]:
True or False

True

In [132]:
if 1 in {1, 2} or type('abc') is int:
    print('jo')

jo

In [133]:
False or True

True

In [134]:
True and False

False

In [135]:
False and True

False

In [136]:
if 1 in {1, 2} and type('abc') is int:
    print('jo')
else:
    print('na')

na

In [137]:
False or False

False

In [138]:
True and True

True

In [139]:
bool(print('hallo'))   # print has a boolean value

hallo

False

In [140]:
1 == 2 and print('hallo')    # note: we do not see 'hallo'

False

In [141]:
1 == 2 or print('hallo')

hallo

In [142]:
not True

False

## Exercise: Mixed List

In [143]:
d = {'eins': 1, 'zwei': 2}    # dict

In [144]:
xxx = 1, 2

In [145]:
xxx

(1, 2)

In [146]:
type(xxx)

tuple

In [147]:
d = {'eins':1}, {'zwei': 2}     # tuple :-) :-) :-)

In [148]:
type(d)

tuple

## Day 2

### Python Documentation

**String examples**

In [149]:
s = 'mississippi'

In [151]:
s.count('ss')

2

In [152]:
s.capitalize()

'Mississippi'

In [153]:
s

'mississippi'

In [154]:
s = '1,2,3,4'

In [155]:
items = s.split(',')

In [156]:
items

['1', '2', '3', '4']

In [157]:
'-'.join(items)

'1-2-3-4'

In [158]:
s.replace(',', '-')

'1-2-3-4'

In [160]:
a = 'dusan'
b = 'alex'
'+'.join([a, b])

'dusan+alex'

In [161]:
s = '        das sind die nutzdaten, alles andere ist mist               '

In [162]:
s.strip()

'das sind die nutzdaten, alles andere ist mist'

In [163]:
s.strip().split(' ')

['das', 'sind', 'die', 'nutzdaten,', 'alles', 'andere', 'ist', 'mist']

**Regular Expressions**

In [180]:
s = '2021-11-17'   # hm: year, month, day

In [182]:
import re
match = re.search('^(\d{4})-(\d+)-(\d+)$', s)
match

In [175]:
match.group(1)

'2021'

In [176]:
match.group(2)

'11'

In [177]:
match.group(3)

'17'

**Where is ``pi``**

In [185]:
import math
math.pi

3.141592653589793

**Random numbers**

In [186]:
import random

In [187]:
random.randrange(10, 100)

37

**Paths, Filenames, Directories**

In [188]:
import os.path

In [189]:
dirname = '/home/jfasch'
filename = '.bashrc'

In [191]:
os.path.join(dirname, filename)

'/home/jfasch/.bashrc'

## ``while``

In [197]:
# sum of number 1..10
i = 1
s = 0   # the future sum
while i <= 10:
    print(i)
    s += i
    i += 1
print('the sum is:', s)

1
2
3
4
5
6
7
8
9
10
the sum is: 55

In [226]:
# roll dice (at most 10 times) until we see 6
import random

win = False
n = 0
while n < 10:
    rnd = random.randrange(1, 7)
    if rnd == 6:
        win = True
        break
    n += 1
if win:
    print('yay!')
else:
    print('you lost!')

you lost!

In [249]:
# roll dice (at most 10 times) until we see 6
import random

n = 0
while n < 10:
    rnd = random.randrange(1, 7)
    if rnd == 6:
        print('yay!')
        break
    n += 1
else:
    print('you lost!')

you lost!

## ``for``

In [262]:
# roll dice (at most 10 times) until we see 6
import random

for _ in range(10):     # use '_' to conventionally state that we do not use this variable
    rnd = random.randrange(1, 7)
    if rnd == 6:
        print('yay!')
        break
else:
    print('you lost!')

you lost!

### Iteration over Compound Datatypes

**List**

In [264]:
l = [1, 2, 'drei']
for element in l:
    print(element)

1
2
drei

**Tuple**

In [265]:
t = (1, 2, 'drei')
for element in t:
    print(element)

1
2
drei

**Set**

In [286]:
s = set()
for i in range(20):
    s.add(i)
s.add('drei')
s

{0, 1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 'drei'}

In [285]:
for element in s:
    print(element)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
drei

**Dictionary**

In [287]:
map = {
    'eins': 1,
    'zwei': 2,
    'drei': 3,
}

In [289]:
for element in map:     # implicitly iterates over keys
    print(element)

eins
zwei
drei

In [294]:
for key in map.keys():  # explicitly iterates over keys (better)
    print(key)

eins
zwei
drei

In [296]:
for value in map.values():
    print(value)

1
2
3

In [301]:
for element in map.items():   # pairwise iteration -> tuples
    print(element, type(element))

('eins', 1) <class 'tuple'>
('zwei', 2) <class 'tuple'>
('drei', 3) <class 'tuple'>

**Tuple unpacking**

In [303]:
a, b = 1, 2
a, b

(1, 2)

In [304]:
a, b = b, a

In [306]:
for element in map.items():
    key = element[0]
    value = element[1]
    print('key:', key, ', value:', value)

key: eins , value: 1
key: zwei , value: 2
key: drei , value: 3

In [310]:
for key, value in map.items():
    print('key:', key, ', value:', value)

key: eins , value: 1
key: zwei , value: 2
key: drei , value: 3

**Tuple unpacking, Database-wise**

In [316]:
resultset = [  # SVNr, Firstname, Lastname
    (1, 'Joerg', 'Faschingbauer'),
    (3, 'Johanna', 'Faschingbauer'),
    (2, 'Caro', 'Faschingbauer'),
]
for svnr, first, last in resultset:
    print(f'SVNr: {svnr}, Firstname: {first}, Lastname: {last}')

SVNr: 1, Firstname: Joerg, Lastname: Faschingbauer
SVNr: 3, Firstname: Johanna, Lastname: Faschingbauer
SVNr: 2, Firstname: Caro, Lastname: Faschingbauer

## File IO

In [317]:
f = open('passwd')

In [319]:
f

In [321]:
line = f.readline()
line

'bin:x:1:1:bin:/bin:/sbin/nologin\n'

In [322]:
line = f.readline()
line

'daemon:x:2:2:daemon:/sbin:/sbin/nologin\n'

In [323]:
f = open('passwd')

In [324]:
for line in f:
    print(line)

root:x:0:0:root:/root:/bin/bash

bin:x:1:1:bin:/bin:/sbin/nologin

daemon:x:2:2:daemon:/sbin:/sbin/nologin

adm:x:3:4:adm:/var/adm:/sbin/nologin

lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin

sync:x:5:0:sync:/sbin:/bin/sync

shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown

halt:x:7:0:halt:/sbin:/sbin/halt

mail:x:8:12:mail:/var/spool/mail:/sbin/nologin

operator:x:11:0:operator:/root:/sbin/nologin

games:x:12:100:games:/usr/games:/sbin/nologin

ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin

nobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin

apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin

systemd-network:x:192:192:systemd Network Management:/:/sbin/nologin

systemd-coredump:x:999:997:systemd Core Dumper:/:/sbin/nologin

systemd-resolve:x:193:193:systemd Resolver:/:/sbin/nologin

systemd-oom:x:998:996:systemd Userspace OOM Killer:/:/sbin/nologin

systemd-timesync:x:997:995:systemd Time Synchronization:/:/sbin/nologin

tss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin

dbus:x:81:81:System message bus:/:/sbin/nologin

polkitd:x:996:994:User for polkitd:/:/sbin/nologin

avahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin

unbound:x:995:992:Unbound DNS resolver:/etc/unbound:/sbin/nologin

dnsmasq:x:994:991:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin

nm-openconnect:x:993:989:NetworkManager user for OpenConnect:/:/sbin/nologin

usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin

gluster:x:992:988:GlusterFS daemons:/run/gluster:/sbin/nologin

rtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin

pipewire:x:991:987:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin

geoclue:x:990:986:User for geoclue:/var/lib/geoclue:/sbin/nologin

chrony:x:989:984::/var/lib/chrony:/sbin/nologin

saslauth:x:988:76:Saslauthd user:/run/saslauthd:/sbin/nologin

radvd:x:75:75:radvd user:/:/sbin/nologin

rpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin

qemu:x:107:107:qemu user:/:/sbin/nologin

openvpn:x:987:982:OpenVPN:/etc/openvpn:/sbin/nologin

nm-openvpn:x:986:981:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin

colord:x:985:980:User for colord:/var/lib/colord:/sbin/nologin

rpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin

abrt:x:173:173::/etc/abrt:/sbin/nologin

flatpak:x:984:979:User for flatpak system helper:/:/sbin/nologin

gdm:x:42:42::/var/lib/gdm:/sbin/nologin

gnome-initial-setup:x:983:978::/run/gnome-initial-setup/:/sbin/nologin

vboxadd:x:982:1::/var/run/vboxadd:/sbin/nologin

sshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin

tcpdump:x:72:72::/:/sbin/nologin

jfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash

mosquitto:x:981:974:Mosquitto Broker:/etc/mosquitto:/sbin/nologin