# 2021-11-17

## Variables

In [1]:
a = 42
type(a)

int

In [2]:
a = 1.7
type(a)

float

In [3]:
a = [1, 2, 'drei']
type(a)

list

In [4]:
_a = 666
_123 = 1

In [5]:
a = a

In [6]:
a = 1
b = 2
c = 3

In [7]:
print(a, b, c)

1 2 3

In [8]:
a, b, c = 1, 2, 3

In [9]:
print(a, b, c)

1 2 3

In [10]:
print(a, b, c, sep=',')

1,2,3

### Enter Tuples

In [11]:
a, b, c

(1, 2, 3)

In [12]:
t = a, b, c

In [13]:
t

(1, 2, 3)

In [14]:
type(t)

tuple

In [15]:
a, b

(1, 2)

Exchange values of a and b, the traditional way

In [16]:
c = a
a = b
b = c
a, b

(2, 1)

Exchange values, Pythonic

In [17]:
a = 1
b = 2

In [18]:
a, b = b, a

In [19]:
a, b

(2, 1)

Name of this: **Tuple Unpacking**

### References

In [20]:
a = 42
b = a

In [21]:
b

42

In [22]:
id(a)

140575811317328

In [23]:
id(b)

140575811317328

In [24]:
b = 7
id(b)

140575811316208

## Datatypes

In [25]:
i = 0xffffffff;

In [26]:
i

4294967295

In [27]:
i += 1

In [28]:
i

4294967296

In [29]:
i = 2**64 - 1

In [30]:
i

18446744073709551615

In [31]:
i += 1

In [32]:
i

18446744073709551616

In [33]:
2**100

1267650600228229401496703205376

In [34]:
2**10000

19950631168807583848837421626835850838234968318861924548520089498529438830221946631919961684036194597899331129423209124271556491349413781117593785932096323957855730046793794526765246551266059895520550086918193311542508608460618104685509074866089624888090489894838009253941633257850621568309473902556912388065225096643874441046759871626985453222868538161694315775629640762836880760732228535091641476183956381458969463899410840960536267821064621427333394036525565649530603142680234969400335934316651459297773279665775606172582031407994198179607378245683762280037302885487251900834464581454650557929601414833921615734588139257095379769119277800826957735674444123062018757836325502728323789270710373802866393031428133241401624195671690574061419654342324638801248856147305207431992259611796250130992860241708340807605932320161268492288496255841312844061536738951487114256315111089745514203313820202931640957596464756010405845841566072044962867016515061920631004186422275908670900574606417856951911456055068251250406007519842261898059237118054444788072906395242548339221982707404473162376760846613033778706039803413197133493654622700563169937455508241780972810983291314403571877524768509857276937926433221599399876886660808368837838027643282775172273657572744784112294389733810861607423253291974813120197604178281965697475898164531258434135959862784130128185406283476649088690521047580882615823961985770122407044330583075869039319604603404973156583208672105913300903752823415539745394397715257455290510212310947321610753474825740775273986348298498340756937955646638621874569499279016572103701364433135817214311791398222983845847334440270964182851005072927748364550578634501100852987812389473928699540834346158807043959118985815145779177143619698728131459483783202081474982171858011389071228250905826817436220577475921417653715687725614904582904992461028630081535583308130101987675856234343538955409175623400844887526162643568648833519463720377293240094456246923254350400678027273837755376406726898636241037491410966718557050759098100246789880178271925953381282421954028302759408448955014676668389697996886241636313376393903373455801407636741877711055384225739499110186468219696581651485130494222369947714763069155468217682876200362777257723781365331611196811280792669481887201298643660768551639860534602297871557517947385246369446923087894265948217008051120322365496288169035739121368338393591756418733850510970271613915439590991598154654417336311656936031122249937969999226781732358023111862644575299135758175008199839236284615249881088960232244362173771618086357015468484058622329792853875623486556440536962622018963571028812361567512543338303270029097668650568557157505516727518899194129711337690149916181315171544007728650573189557450920330185304847113818315407324053319038462084036421763703911550639789000742853672196280903477974533320468368795868580237952218629120080742819551317948157624448298518461509704888027274721574688131594750409732115080498190455803416826949787141316063210686391511681774304792596709376

Floor Division

In [35]:
3/2

1.5

In [36]:
3//2

1

In [37]:
3%2

1

In [38]:
4%2

0

In [39]:
if 22%2 == 0:
    print('even number')

even number

In [40]:
16%3

1

In [41]:
1+2*3

7

In [42]:
(1+2)*3

9

### Strings

### Datatype Conversions, Type Names

In [43]:
s = 'abc'
type(s)

str

In [44]:
s = '666'
type(s)

str

In [45]:
try:
    s += 1
except Exception as e:
    print(type(e), e)

<class 'TypeError'> can only concatenate str (not "int") to str

In [46]:
i = int(s, 10)
i

666

In [47]:
type(i)

int

In [48]:
s = '0x48'
int(s, 16)

72

In [330]:
s = '1.234'
float(s)

1.234

In [332]:
s = '1,234'   # hm. comma?
try:
    float(s)
except Exception as e:
    print(type(e), e)

<class 'ValueError'> could not convert string to float: '1,234'

In [333]:
s = '1,234'   # hm. comma? have to correct this!
s.replace(',', '.')

'1.234'

In [334]:
float(s.replace(',', '.'))

1.234

In [49]:
i = 666
s = str(i)
s

'666'

In [50]:
d = {'eins': 1, 'zwei': 2}
dstr = str(d)
dstr

"{'eins': 1, 'zwei': 2}"

In [51]:
i = 666
print(type(i))

<class 'int'>

In [52]:
f = float(i)
f

666.0

In [53]:
f = 666.777
i = int(f)
i

666

In [54]:
round(f)

667

In [55]:
s = 'abc'
l = list(s)
l

['a', 'b', 'c']

In [56]:
try:
    list(666)
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

**Type names are variables** (or so)

In [57]:
type(666)

int

In [58]:
a = 666
type(a)

int

In [59]:
type(int)

type

In [60]:
type(bool)

type

In [61]:
type(dict)

type

In [62]:
int('666')

666

In [63]:
type(int)

type

At this point, the name "int" refer to the integer type ("int" is a variable that refers to a type object).
Now, we assign an int object to the "int" variable.

In [64]:
int = 666

In [65]:
int

666

The type int is apparently gone!

In [66]:
type(int)

int

In [67]:
try:
    i = int('666')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not callable

WTF?? How to repair this??!!

In [68]:
type(666)   # int is still alive!!

int

In [69]:
int = type(666)

In [70]:
type(int)

type

In [71]:
int('666')

666

## Compound Datatypes

### List

In [72]:
l = [1, 2, 3]
l

[1, 2, 3]

In [73]:
len(l)

3

Question: is something in the list?

In [74]:
2 in l

True

In [75]:
not 2 in l

False

In [76]:
2 not in l

False

In [77]:
100 in l

False

In [78]:
l.append(4)

In [79]:
l

[1, 2, 3, 4]

In [80]:
l.extend([5, 6, 7])

In [81]:
l

[1, 2, 3, 4, 5, 6, 7]

**Attention**

In [82]:
l.append([8, 9, 10])  # appends only one element of type list!
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]

In [83]:
l.extend('abc')  # appends three elements of type str (one character each)
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10], 'a', 'b', 'c']

In [84]:
l.extend(range(4))
l

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10], 'a', 'b', 'c', 0, 1, 2, 3]

### Tuple

In [85]:
t = (1, 2, 3)

In [86]:
t

(1, 2, 3)

In [87]:
len(t)

3

In [88]:
try:
    t.append(4)
except Exception as e:
    print(e)

'tuple' object has no attribute 'append'

### Dictionary

In [89]:
map = {
    'eins': 1,
    'zwei': 2,
}
type(map)

dict

In [90]:
len(map)

2

In [91]:
'zwei' in map

True

In [92]:
'drei' in map

False

In [93]:
map['eins']

1

In [94]:
map['drei'] = 3

In [95]:
map

{'eins': 1, 'zwei': 2, 'drei': 3}

In [96]:
map['zwei'] = 2.0

In [97]:
map

{'eins': 1, 'zwei': 2.0, 'drei': 3}

In [98]:
try:
    map['vier']
except KeyError as e:
    print(type(e), e)

<class 'KeyError'> 'vier'

### Set

In [99]:
s = {1, 2, 3}

In [100]:
len(s)

3

In [101]:
2 in s

True

In [102]:
s.add(100)

In [103]:
s

{1, 2, 3, 100}

In [104]:
s.add('/path/to/something')

In [105]:
s

{'/path/to/something', 1, 100, 2, 3}

In [106]:
{1, 2, 3} - {2, 3, 4}   # difference

{1}

Question: can I use a string as a set?

In [107]:
try:
    "abc" - "bcd"
except Exception as e:
    print(type(e), e)

<class 'TypeError'> unsupported operand type(s) for -: 'str' and 'str'

In [108]:
s = set("abc")
s

{'a', 'b', 'c'}

In [109]:
s = set(range(10))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [110]:
s = set([3, 1000, 'vier'])
s

{1000, 3, 'vier'}

In [111]:
3 in s

True

## Boolean

In [112]:
1 < 2

True

In [113]:
type(1<2)

bool

In [114]:
b = True

In [115]:
if 1:
    print('hm')

hm

In [116]:
if 100:
    print('hm')

hm

In [117]:
if 0:
    print('hm')

In [118]:
bool(0)

False

In [119]:
bool(100)

True

**Attention**: boolean values of compound types

In [120]:
s = {}
bool(s)

False

In [121]:
bool('')

False

In [122]:
bool('abc')

True

## NoneType

In [123]:
a = None
type(a)

NoneType

In [124]:
def f(s):
    if s:
        print('jo')
    else:
        print('na')

In [125]:
f({1, 2, 3})

jo

In [126]:
f({})

na

In [127]:
f(None)

na

In [128]:
def f(s):
    if s is None:
        print('na')
    else:
        print('ja')

In [129]:
f(None)

na

In [130]:
f({})

ja

### Short Circuit Evaluation of Boolean Expression

In [131]:
True or False

True

In [132]:
if 1 in {1, 2} or type('abc') is int:
    print('jo')

jo

In [133]:
False or True

True

In [134]:
True and False

False

In [135]:
False and True

False

In [136]:
if 1 in {1, 2} and type('abc') is int:
    print('jo')
else:
    print('na')

na

In [137]:
False or False

False

In [138]:
True and True

True

In [139]:
bool(print('hallo'))   # print has a boolean value

hallo

False

In [140]:
1 == 2 and print('hallo')    # note: we do not see 'hallo'

False

In [141]:
1 == 2 or print('hallo')

hallo

In [142]:
not True

False

## Exercise: Mixed List

In [143]:
d = {'eins': 1, 'zwei': 2}    # dict

In [144]:
xxx = 1, 2

In [145]:
xxx

(1, 2)

In [146]:
type(xxx)

tuple

In [147]:
d = {'eins':1}, {'zwei': 2}     # tuple :-) :-) :-)

In [148]:
type(d)

tuple

## Day 2

### Python Documentation

**String examples**

In [149]:
s = 'mississippi'

In [150]:
s.count('ss')

2

In [151]:
s.capitalize()

'Mississippi'

In [152]:
s

'mississippi'

In [153]:
s = '1,2,3,4'

In [154]:
items = s.split(',')

In [155]:
items

['1', '2', '3', '4']

In [156]:
'-'.join(items)

'1-2-3-4'

In [157]:
s.replace(',', '-')

'1-2-3-4'

In [158]:
a = 'dusan'
b = 'alex'
'+'.join([a, b])

'dusan+alex'

In [159]:
s = '        das sind die nutzdaten, alles andere ist mist               '

In [160]:
s.strip()

'das sind die nutzdaten, alles andere ist mist'

In [161]:
s.strip().split(' ')

['das', 'sind', 'die', 'nutzdaten,', 'alles', 'andere', 'ist', 'mist']

**Regular Expressions**

In [162]:
s = '2021-11-17'   # hm: year, month, day

In [163]:
import re
match = re.search('^(\d{4})-(\d+)-(\d+)$', s)
match

In [164]:
match.group(1)

'2021'

In [165]:
match.group(2)

'11'

In [166]:
match.group(3)

'17'

**Where is ``pi``**

In [167]:
import math
math.pi

3.141592653589793

**Random numbers**

In [168]:
import random

In [169]:
random.randrange(10, 100)

61

**Paths, Filenames, Directories**

In [170]:
import os.path

In [171]:
dirname = '/home/jfasch'
filename = '.bashrc'

In [172]:
os.path.join(dirname, filename)

'/home/jfasch/.bashrc'

## ``while``

In [173]:
# sum of number 1..10
i = 1
s = 0   # the future sum
while i <= 10:
    print(i)
    s += i
    i += 1
print('the sum is:', s)

1
2
3
4
5
6
7
8
9
10
the sum is: 55

In [174]:
# roll dice (at most 10 times) until we see 6
import random

win = False
n = 0
while n < 10:
    rnd = random.randrange(1, 7)
    if rnd == 6:
        win = True
        break
    n += 1
if win:
    print('yay!')
else:
    print('you lost!')

yay!

In [175]:
# roll dice (at most 10 times) until we see 6
import random

n = 0
while n < 10:
    rnd = random.randrange(1, 7)
    if rnd == 6:
        print('yay!')
        break
    n += 1
else:
    print('you lost!')

yay!

## ``for``

In [176]:
# roll dice (at most 10 times) until we see 6
import random

for _ in range(10):     # use '_' to conventionally state that we do not use this variable
    rnd = random.randrange(1, 7)
    if rnd == 6:
        print('yay!')
        break
else:
    print('you lost!')

yay!

### Iteration over Compound Datatypes

**List**

In [177]:
l = [1, 2, 'drei']
for element in l:
    print(element)

1
2
drei

**Tuple**

In [178]:
t = (1, 2, 'drei')
for element in t:
    print(element)

1
2
drei

**Set**

In [179]:
s = set()
for i in range(20):
    s.add(i)
s.add('drei')
s

{0, 1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 'drei'}

In [180]:
for element in s:
    print(element)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
drei

**Dictionary**

In [181]:
map = {
    'eins': 1,
    'zwei': 2,
    'drei': 3,
}

In [182]:
for element in map:     # implicitly iterates over keys
    print(element)

eins
zwei
drei

In [183]:
for key in map.keys():  # explicitly iterates over keys (better)
    print(key)

eins
zwei
drei

In [184]:
for value in map.values():
    print(value)

1
2
3

In [185]:
for element in map.items():   # pairwise iteration -> tuples
    print(element, type(element))

('eins', 1) <class 'tuple'>
('zwei', 2) <class 'tuple'>
('drei', 3) <class 'tuple'>

**Tuple unpacking**

In [186]:
a, b = 1, 2
a, b

(1, 2)

In [187]:
a, b = b, a

In [188]:
for element in map.items():
    key = element[0]
    value = element[1]
    print('key:', key, ', value:', value)

key: eins , value: 1
key: zwei , value: 2
key: drei , value: 3

In [189]:
for key, value in map.items():
    print('key:', key, ', value:', value)

key: eins , value: 1
key: zwei , value: 2
key: drei , value: 3

**Tuple unpacking, Database-wise**

In [190]:
resultset = [  # SVNr, Firstname, Lastname
    (1, 'Joerg', 'Faschingbauer'),
    (3, 'Johanna', 'Faschingbauer'),
    (2, 'Caro', 'Faschingbauer'),
]
for svnr, first, last in resultset:
    print(f'SVNr: {svnr}, Firstname: {first}, Lastname: {last}')

SVNr: 1, Firstname: Joerg, Lastname: Faschingbauer
SVNr: 3, Firstname: Johanna, Lastname: Faschingbauer
SVNr: 2, Firstname: Caro, Lastname: Faschingbauer

## File IO

In [191]:
f = open('passwd')

In [192]:
f

In [193]:
line = f.readline()
line

'root:x:0:0:root:/root:/bin/bash\n'

In [194]:
line = f.readline()
line

'bin:x:1:1:bin:/bin:/sbin/nologin\n'

In [195]:
f = open('passwd')

In [196]:
for line in f:
    print(line)

root:x:0:0:root:/root:/bin/bash

bin:x:1:1:bin:/bin:/sbin/nologin

daemon:x:2:2:daemon:/sbin:/sbin/nologin

adm:x:3:4:adm:/var/adm:/sbin/nologin

lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin

sync:x:5:0:sync:/sbin:/bin/sync

shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown

halt:x:7:0:halt:/sbin:/sbin/halt

mail:x:8:12:mail:/var/spool/mail:/sbin/nologin

operator:x:11:0:operator:/root:/sbin/nologin

games:x:12:100:games:/usr/games:/sbin/nologin

ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin

nobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin

apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin

systemd-network:x:192:192:systemd Network Management:/:/sbin/nologin

systemd-coredump:x:999:997:systemd Core Dumper:/:/sbin/nologin

systemd-resolve:x:193:193:systemd Resolver:/:/sbin/nologin

systemd-oom:x:998:996:systemd Userspace OOM Killer:/:/sbin/nologin

systemd-timesync:x:997:995:systemd Time Synchronization:/:/sbin/nologin

tss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin

dbus:x:81:81:System message bus:/:/sbin/nologin

polkitd:x:996:994:User for polkitd:/:/sbin/nologin

avahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin

unbound:x:995:992:Unbound DNS resolver:/etc/unbound:/sbin/nologin

dnsmasq:x:994:991:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin

nm-openconnect:x:993:989:NetworkManager user for OpenConnect:/:/sbin/nologin

usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin

gluster:x:992:988:GlusterFS daemons:/run/gluster:/sbin/nologin

rtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin

pipewire:x:991:987:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin

geoclue:x:990:986:User for geoclue:/var/lib/geoclue:/sbin/nologin

chrony:x:989:984::/var/lib/chrony:/sbin/nologin

saslauth:x:988:76:Saslauthd user:/run/saslauthd:/sbin/nologin

radvd:x:75:75:radvd user:/:/sbin/nologin

rpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin

qemu:x:107:107:qemu user:/:/sbin/nologin

openvpn:x:987:982:OpenVPN:/etc/openvpn:/sbin/nologin

nm-openvpn:x:986:981:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin

colord:x:985:980:User for colord:/var/lib/colord:/sbin/nologin

rpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin

abrt:x:173:173::/etc/abrt:/sbin/nologin

flatpak:x:984:979:User for flatpak system helper:/:/sbin/nologin

gdm:x:42:42::/var/lib/gdm:/sbin/nologin

gnome-initial-setup:x:983:978::/run/gnome-initial-setup/:/sbin/nologin

vboxadd:x:982:1::/var/run/vboxadd:/sbin/nologin

sshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin

tcpdump:x:72:72::/:/sbin/nologin

jfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash

mosquitto:x:981:974:Mosquitto Broker:/etc/mosquitto:/sbin/nologin

## Day 3

In [197]:
def maximum(a, b):
    if a < b:
        return b
    else:
        return a

In [198]:
maximum(1, 2)

2

In [199]:
maximum('a', 'b')

'b'

In [200]:
maximum([1, 2, 3], [4, 5, 6])

[4, 5, 6]

In [201]:
try:
    maximum(1, 'abc')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'str'

In [202]:
class A:
    def __init__(self, a, b):
        self.a = a
        self.b = b
    def doit(self):
        print(self.a, self.b)

In [203]:
a = A(2, 3)
a.doit()

2 3

In [204]:
type(A)

type

In [205]:
A.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.A.__init__(self, a, b)>,
              'doit': <function __main__.A.doit(self)>,
              '__dict__': <attribute '__dict__' of 'A' objects>,
              '__weakref__': <attribute '__weakref__' of 'A' objects>,
              '__doc__': None})

In [206]:
# s = 'def xxx(self): print("xxx jessas")'
# exec(s, A.__dict__)

### The ``range()`` Function

In [207]:
for i in [0,1,2,3,4,5,6,7,8,9]:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [208]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [209]:
for i in range(10, 2):   # begin 10, end 2 -> nothing in between
    print(i)

In [210]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [211]:
# 10+1 = 11
for i in range(0, 10+1, 2):
    print(i)

0
2
4
6
8
10

### Generators, Iterator Protocol, ``for``

In [212]:
range(3)

range(0, 3)

In [213]:
r = range(3)
r

range(0, 3)

In [214]:
type(r)

range

In [215]:
for i in r:
    print(i)

0
1
2

In [216]:
r = range(3)

In [217]:
it = iter(r)

In [218]:
type(it)

range_iterator

In [219]:
i = next(it)
i

0

In [220]:
i = next(it)
i

1

In [221]:
i = next(it)
i

2

In [222]:
try:
    i = next(it)
except Exception as e:
    print(type(e), e)

<class 'StopIteration'>

### Common Sequence Operation

In [223]:
s = 'abc'

In [224]:
s + s

'abcabc'

In [225]:
s*2

'abcabc'

In [226]:
[1, 2, 3]*2

[1, 2, 3, 1, 2, 3]

In [227]:
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

**Slicing**

In [228]:
l[2:4]

['c', 'd']

In [229]:
'abcde'[2:4]

'cd'

In [230]:
l[1:6:2]

['b', 'd', 'f']

In [231]:
l[2:4] = [1, 2, 3, 4]

In [232]:
l

['a', 'b', 1, 2, 3, 4, 'e', 'f', 'g', 'h']

### Comprehensions

In [233]:
l = [1, 2, 3, 4, 5]

In [234]:
def squares(inputlist):
    ret = []
    for i in inputlist:
        ret.append(i**2)
    return ret

In [235]:
sq = squares(l)
sq

[1, 4, 9, 16, 25]

In [236]:
squares(range(1, 6))

[1, 4, 9, 16, 25]

**List Comprehension**

In [237]:
sq = [i**2 for i in l]
type(sq)

list

In [238]:
sq

[1, 4, 9, 16, 25]

In [239]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [240]:
[i**2 for i in range(10) if i%2 == 0]

[0, 4, 16, 36, 64]

In [241]:
[i**2 for i in range(0, 10, 2)]

[0, 4, 16, 36, 64]

**Set Comprehensions**

In [242]:
wtf = {i**2 for i in range(10) if i%2 == 0}
type(wtf)

set

In [243]:
wtf

{0, 4, 16, 36, 64}

**Dictionary Comprehension**

In [244]:
wtf = {i: i**2 for i in range(10)}
type(wtf)

dict

In [245]:
print(wtf)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### List, Iterable? WTF?

In [246]:
l = list(range(10))

In [247]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [248]:
l = list('abc')
l

['a', 'b', 'c']

### Dict and iterable

In [249]:
l = [('eins', 1), ('zwei', 2), ('drei', 3)]
for k, v in l:
    print(k, v)

eins 1
zwei 2
drei 3

In [250]:
map = dict(l)
map

{'eins': 1, 'zwei': 2, 'drei': 3}

### More on Lists

In [251]:
l = [3, 2, 1, 4, 7, 5]

In [252]:
del l[2]

In [253]:
l

[3, 2, 4, 7, 5]

In [254]:
sorted(l)    # returns a sorted list

[2, 3, 4, 5, 7]

In [255]:
l

[3, 2, 4, 7, 5]

In [256]:
l.sort()    # sort l in place

In [257]:
l

[2, 3, 4, 5, 7]

In [258]:
reversed(l)

In [259]:
l.reverse()

In [260]:
l

[7, 5, 4, 3, 2]

### More on Dictionaries

In [261]:
map = {'eins': 1, 'zwei': 2}

In [262]:
map['eins']

1

In [263]:
try:
    map['drei']
except Exception as e:
    print(type(e), e)

<class 'KeyError'> 'drei'

In [264]:
if map.get('drei') is None:     # 
    print('not found')
else:
    print('found')

not found

In [265]:
if map.get('zwei') is None:     # 
    print('not found')
else:
    print('found')

found

In [266]:
v = map.get('zwei')
v

2

In [267]:
v = map.get('drei', 3)
v

3

In [268]:
map

{'eins': 1, 'zwei': 2}

In [269]:
del map['zwei']

In [270]:
map

{'eins': 1}

In [271]:
other_map = {'eins': 1, 'zwei': 2, 'vier': 4}

In [272]:
map.update(other_map)
map

{'eins': 1, 'zwei': 2, 'vier': 4}

### References, Mutability

**Integers are Immutable**

In [273]:
a = 10
b = a

In [274]:
id(a)

140575811316304

In [275]:
id(b)

140575811316304

In [276]:
b = 42
a

10

In [277]:
a = 10
b = a

In [278]:
a = 42
b

10

**Lists are Mutable**

In [279]:
l1 = [1, 2, 3]
l2 = l1

In [280]:
id(l1)

140575692459008

In [281]:
id(l2)

140575692459008

In [282]:
l2.append(4)
l2

[1, 2, 3, 4]

In [283]:
l1

[1, 2, 3, 4]

**Protect against such errors?**

In [284]:
l1 = [1, 2, 3]
l2 = l1[:]    # slice [begin:end] -> elementwise copy

In [285]:
l1

[1, 2, 3]

In [286]:
l2

[1, 2, 3]

In [287]:
id(l1)

140575692438848

In [288]:
id(l2)

140575692448960

In [289]:
l2.append(4)

In [290]:
l2

[1, 2, 3, 4]

In [292]:
l1

[1, 2, 3]

**Hm ...**

In [293]:
l1 = [1, 2, ['drei', 'vier'], 5, 6]
len(l1)

5

In [295]:
l2 = l1[:]
l2

[1, 2, ['drei', 'vier'], 5, 6]

In [296]:
l2[2].append('fuenf')
l2

[1, 2, ['drei', 'vier', 'fuenf'], 5, 6]

In [298]:
l1

[1, 2, ['drei', 'vier', 'fuenf'], 5, 6]

---> **Shallow copy**

**Deep copy?**

In [300]:
l1 = [1, 2, ['drei', 'vier'], 5, 6]

In [301]:
import copy

In [302]:
l2 = copy.deepcopy(l1)
l2

[1, 2, ['drei', 'vier'], 5, 6]

In [303]:
l2[2].append('fuenf')
l2

[1, 2, ['drei', 'vier', 'fuenf'], 5, 6]

In [304]:
l1

[1, 2, ['drei', 'vier'], 5, 6]

### CSV

In [305]:
import csv

In [314]:
f = open('code/beispiel.csv')

In [315]:
rdr = csv.reader(f, delimiter=';')
for row in rdr:
    print(row)

['FUND_NAME', 'FUND_ISIN', 'FUND_TICKER', 'AS_OF_DATE', 'FUND_IN_UNIVERSE', 'FUND_OF_FUNDS', 'FUND_HOLDINGS_COUNT', 'FUND_HOLDING_FUNDS_COUNT']
['American Funds American Balanced Fund;A', 'US0240711020', 'ABALX', '20210103', 'T', '', '2,084', '0']
['Dodge & Cox Balanced Fund', 'US2562011047', 'DODBX', '20210103', 'T', 'T', '410', '1']
['Dodge & Cox Stock Fund', 'US2562191062', 'DODGX', '20210103', 'T', 'T', '74', '1']
['Franklin Income Fund;A1', 'US3534963000', 'FKINX', '20210103', 'T', 'T', '302', '1']
['American Funds Growth Fund of America;A', 'US3998741066', 'AGTHX', '20210103', 'T', '', '378', '0']
['T Rowe Price Growth Stock Fund', 'US7414791092', 'PRGFX', '20210103', 'T', 'T', '87', '1']
['Fidelity Puritan Fund', 'US3163451079', 'FPURX', '20210103', 'T', '', '1,124', '0']
['Fidelity Contrafund', 'US3160711095', 'FCNTX', '20210103', 'T', '', '363', '0']
['T Rowe Price Capital Appreciation Fund', 'US77954M1053', 'PRWCX', '20210103', 'T', 'T', '165', '2']
['Old Westbury Large Cap Strategies Fund', 'US6804141090', 'OWLSX', '20210103', 'T', 'T', '199', '2']
['American Funds Capital Income Builder;A', 'US1401931035', 'CAIBX', '20210103', 'T', '', '1,582', '0']
['Harbor Capital Appreciation Fund;Institutional', 'US4115115044', 'HACAX', '20210103', 'T', '', '55', '0']
['T Rowe Price Blue Chip Growth Fund', 'US77954Q1067', 'TRBCX', '20210103', 'T', 'T', '123', '1']
['Dreyfus Treasury Securities Cash Management;Inst', 'US2619411083', 'DIRXX', '20210103', 'T', '', '50', '0']
['BlackRock Global Allocation Fund;Institutional', 'US09251T5092', 'MALOX', '20210103', 'T', 'T', '1,241', '16']
['Fidelity Low-Priced Stock Fund', 'US3163453059', 'FLPSX', '20210103', 'T', '', '799', '0']
['BlackRock Liquidity Treasury Trust Fund;Inst', 'US09248U5517', 'TTTXX', '20210103', 'T', '', '63', '0']
['DFA Five-Year Global Fixed Income Portfolio;Inst', 'US2332038841', 'DFGBX', '20210103', 'T', '', '350', '0']
['Federated Hermes US Treasury Cash Reserves;Inst', 'US60934N6821', 'UTIXX', '20210103', 'T', '', '55', '0']
['Oakmark International Fund;Investor', 'US4138382027', 'OAKIX', '20210103', 'T', '', '80', '0']
['Advanced Srs T Rowe Price Asset Allocation Port', 'US00767H4939', '', '20210103', 'T', '', '2,787', '0']
['FPA Crescent Fund;Inst', 'US30254T7596', 'FPACX', '20210103', 'T', '', '138', '0']
['Franklin Income Fund;C', 'US3534968058', 'FCISX', '20210103', 'T', 'T', '302', '1']
['MFS Value Fund;I', 'US5529836943', 'MEIIX', '20210103', 'T', '', '76', '0']
['Goldman Sachs FS Treasury Instruments Fd;Inst', 'US38142B5003', 'FTIXX', '20210103', 'T', '', '67', '0']
['Schwab S&P 500 Index Fund', 'US8085098551', 'SWPPX', '20210103', 'T', '', '508', '0']
['Templeton Global Bond Fund;Advisor', 'US8802084009', 'TGBAX', '20210103', 'T', 'T', '82', '1']
['First Eagle Global Fund;I', 'US32008F6060', 'SGIIX', '20210103', 'T', 'T', '225', '1']
['iShares Core S&P 500 ETF', 'US4642872000', 'IVV', '20210103', 'T', 'T', '507', '1']
['Vanguard 500 Index Fund;Admiral', 'US9229087104', 'VFIAX', '20210103', 'T', '', '510', '0']
['Vanguard Total Stock Market Index Fund;Admiral', 'US9229087286', 'VTSAX', '20210103', 'T', '', '3,370', '0']
['SPDR S&P MidCap 400 ETF', 'US78467Y1073', 'MDY', '20210103', 'T', '', '400', '0']
['SPDR Dow Jones Industrial Average ETF Trust', 'US78467X1090', 'DIA', '20210103', 'T', '', '31', '0']
['Health Care Select Sector SPDR Fund', 'US81369Y2090', 'XLV', '20210103', 'T', 'T', '64', '1']
['Consumer Discretionary Select Sector SPDR Fund', 'US81369Y4070', 'XLY', '20210103', 'T', 'T', '62', '1']
['Energy Select Sector SPDR Fund', 'US81369Y5069', 'XLE', '20210103', 'T', 'T', '28', '1']
['Financial Select Sector SPDR Fund', 'US81369Y6059', 'XLF', '20210103', 'T', 'T', '66', '1']
['Technology Select Sector SPDR Fund', 'US81369Y8030', 'XLK', '20210103', 'T', 'T', '74', '1']
['Invesco QQQ Trust Series 1', 'US46090E1038', 'QQQ', '20210103', 'T', '', '104', '0']
['Dodge & Cox International Stock Fund', 'US2562061034', 'DODFX', '20210103', 'T', 'T', '80', '1']
['iShares MSCI EAFE ETF', 'US4642874659', 'EFA', '20210103', 'T', 'T', '897', '1']
['JPMorgan 100% US Treasury Secs Mny Mkt Fd;Inst', 'US4812A28358', 'JTSXX', '20210103', 'T', '', '41', '0']
['Invesco S&P 500 Eql Wght ETF', 'US46137V3574', 'RSP', '20210103', 'T', 'T', '507', '1']
['JPMorgan 100% US Treasury Secs Mny Mkt Fd;Capital', 'US4812A03757', 'CJTXX', '20210103', 'T', '', '41', '0']
['Invesco Developing Markets Fund;Y', 'US00143W8753', 'ODVYX', '20210103', 'T', 'T', '72', '3']
['SPDR S&P Dividend ETF', 'US78464A7634', 'SDY', '20210103', 'T', 'T', '118', '1']
['DFA International Core Equity Portfolio;Inst', 'US2332033719', 'DFIEX', '20210103', 'T', '', '4,888', '0']
['Edgewood Growth Fund;Institutional', 'US0075W07594', 'EGFIX', '20210103', 'T', 'T', '23', '1']
['Advanced Series Prudential Growth Allocation Port', 'US00767H7585', '', '20210103', 'T', 'T', '2,400', '3']
['MFS Value Fund;R6', 'US55273H3536', 'MEIKX', '20210103', 'T', '', '76', '0']

In [327]:
f = open('code/beispiel.csv')

In [328]:
rdr = csv.DictReader(f, delimiter=';')
for elem in rdr:
    print(elem)

{'FUND_NAME': 'American Funds American Balanced Fund;A', 'FUND_ISIN': 'US0240711020', 'FUND_TICKER': 'ABALX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '2,084', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Dodge & Cox Balanced Fund', 'FUND_ISIN': 'US2562011047', 'FUND_TICKER': 'DODBX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '410', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Dodge & Cox Stock Fund', 'FUND_ISIN': 'US2562191062', 'FUND_TICKER': 'DODGX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '74', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Franklin Income Fund;A1', 'FUND_ISIN': 'US3534963000', 'FUND_TICKER': 'FKINX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '302', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'American Funds Growth Fund of America;A', 'FUND_ISIN': 'US3998741066', 'FUND_TICKER': 'AGTHX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '378', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'T Rowe Price Growth Stock Fund', 'FUND_ISIN': 'US7414791092', 'FUND_TICKER': 'PRGFX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '87', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Fidelity Puritan Fund', 'FUND_ISIN': 'US3163451079', 'FUND_TICKER': 'FPURX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '1,124', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Fidelity Contrafund', 'FUND_ISIN': 'US3160711095', 'FUND_TICKER': 'FCNTX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '363', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'T Rowe Price Capital Appreciation Fund', 'FUND_ISIN': 'US77954M1053', 'FUND_TICKER': 'PRWCX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '165', 'FUND_HOLDING_FUNDS_COUNT': '2'}
{'FUND_NAME': 'Old Westbury Large Cap Strategies Fund', 'FUND_ISIN': 'US6804141090', 'FUND_TICKER': 'OWLSX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '199', 'FUND_HOLDING_FUNDS_COUNT': '2'}
{'FUND_NAME': 'American Funds Capital Income Builder;A', 'FUND_ISIN': 'US1401931035', 'FUND_TICKER': 'CAIBX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '1,582', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Harbor Capital Appreciation Fund;Institutional', 'FUND_ISIN': 'US4115115044', 'FUND_TICKER': 'HACAX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '55', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'T Rowe Price Blue Chip Growth Fund', 'FUND_ISIN': 'US77954Q1067', 'FUND_TICKER': 'TRBCX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '123', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Dreyfus Treasury Securities Cash Management;Inst', 'FUND_ISIN': 'US2619411083', 'FUND_TICKER': 'DIRXX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '50', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'BlackRock Global Allocation Fund;Institutional', 'FUND_ISIN': 'US09251T5092', 'FUND_TICKER': 'MALOX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '1,241', 'FUND_HOLDING_FUNDS_COUNT': '16'}
{'FUND_NAME': 'Fidelity Low-Priced Stock Fund', 'FUND_ISIN': 'US3163453059', 'FUND_TICKER': 'FLPSX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '799', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'BlackRock Liquidity Treasury Trust Fund;Inst', 'FUND_ISIN': 'US09248U5517', 'FUND_TICKER': 'TTTXX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '63', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'DFA Five-Year Global Fixed Income Portfolio;Inst', 'FUND_ISIN': 'US2332038841', 'FUND_TICKER': 'DFGBX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '350', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Federated Hermes US Treasury Cash Reserves;Inst', 'FUND_ISIN': 'US60934N6821', 'FUND_TICKER': 'UTIXX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '55', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Oakmark International Fund;Investor', 'FUND_ISIN': 'US4138382027', 'FUND_TICKER': 'OAKIX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '80', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Advanced Srs T Rowe Price Asset Allocation Port', 'FUND_ISIN': 'US00767H4939', 'FUND_TICKER': '', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '2,787', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'FPA Crescent Fund;Inst', 'FUND_ISIN': 'US30254T7596', 'FUND_TICKER': 'FPACX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '138', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Franklin Income Fund;C', 'FUND_ISIN': 'US3534968058', 'FUND_TICKER': 'FCISX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '302', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'MFS Value Fund;I', 'FUND_ISIN': 'US5529836943', 'FUND_TICKER': 'MEIIX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '76', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Goldman Sachs FS Treasury Instruments Fd;Inst', 'FUND_ISIN': 'US38142B5003', 'FUND_TICKER': 'FTIXX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '67', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Schwab S&P 500 Index Fund', 'FUND_ISIN': 'US8085098551', 'FUND_TICKER': 'SWPPX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '508', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Templeton Global Bond Fund;Advisor', 'FUND_ISIN': 'US8802084009', 'FUND_TICKER': 'TGBAX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '82', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'First Eagle Global Fund;I', 'FUND_ISIN': 'US32008F6060', 'FUND_TICKER': 'SGIIX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '225', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'iShares Core S&P 500 ETF', 'FUND_ISIN': 'US4642872000', 'FUND_TICKER': 'IVV', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '507', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Vanguard 500 Index Fund;Admiral', 'FUND_ISIN': 'US9229087104', 'FUND_TICKER': 'VFIAX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '510', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Vanguard Total Stock Market Index Fund;Admiral', 'FUND_ISIN': 'US9229087286', 'FUND_TICKER': 'VTSAX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '3,370', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'SPDR S&P MidCap 400 ETF', 'FUND_ISIN': 'US78467Y1073', 'FUND_TICKER': 'MDY', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '400', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'SPDR Dow Jones Industrial Average ETF Trust', 'FUND_ISIN': 'US78467X1090', 'FUND_TICKER': 'DIA', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '31', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Health Care Select Sector SPDR Fund', 'FUND_ISIN': 'US81369Y2090', 'FUND_TICKER': 'XLV', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '64', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Consumer Discretionary Select Sector SPDR Fund', 'FUND_ISIN': 'US81369Y4070', 'FUND_TICKER': 'XLY', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '62', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Energy Select Sector SPDR Fund', 'FUND_ISIN': 'US81369Y5069', 'FUND_TICKER': 'XLE', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '28', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Financial Select Sector SPDR Fund', 'FUND_ISIN': 'US81369Y6059', 'FUND_TICKER': 'XLF', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '66', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Technology Select Sector SPDR Fund', 'FUND_ISIN': 'US81369Y8030', 'FUND_TICKER': 'XLK', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '74', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Invesco QQQ Trust Series 1', 'FUND_ISIN': 'US46090E1038', 'FUND_TICKER': 'QQQ', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '104', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Dodge & Cox International Stock Fund', 'FUND_ISIN': 'US2562061034', 'FUND_TICKER': 'DODFX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '80', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'iShares MSCI EAFE ETF', 'FUND_ISIN': 'US4642874659', 'FUND_TICKER': 'EFA', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '897', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'JPMorgan 100% US Treasury Secs Mny Mkt Fd;Inst', 'FUND_ISIN': 'US4812A28358', 'FUND_TICKER': 'JTSXX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '41', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Invesco S&P 500 Eql Wght ETF', 'FUND_ISIN': 'US46137V3574', 'FUND_TICKER': 'RSP', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '507', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'JPMorgan 100% US Treasury Secs Mny Mkt Fd;Capital', 'FUND_ISIN': 'US4812A03757', 'FUND_TICKER': 'CJTXX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '41', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Invesco Developing Markets Fund;Y', 'FUND_ISIN': 'US00143W8753', 'FUND_TICKER': 'ODVYX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '72', 'FUND_HOLDING_FUNDS_COUNT': '3'}
{'FUND_NAME': 'SPDR S&P Dividend ETF', 'FUND_ISIN': 'US78464A7634', 'FUND_TICKER': 'SDY', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '118', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'DFA International Core Equity Portfolio;Inst', 'FUND_ISIN': 'US2332033719', 'FUND_TICKER': 'DFIEX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '4,888', 'FUND_HOLDING_FUNDS_COUNT': '0'}
{'FUND_NAME': 'Edgewood Growth Fund;Institutional', 'FUND_ISIN': 'US0075W07594', 'FUND_TICKER': 'EGFIX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '23', 'FUND_HOLDING_FUNDS_COUNT': '1'}
{'FUND_NAME': 'Advanced Series Prudential Growth Allocation Port', 'FUND_ISIN': 'US00767H7585', 'FUND_TICKER': '', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': 'T', 'FUND_HOLDINGS_COUNT': '2,400', 'FUND_HOLDING_FUNDS_COUNT': '3'}
{'FUND_NAME': 'MFS Value Fund;R6', 'FUND_ISIN': 'US55273H3536', 'FUND_TICKER': 'MEIKX', 'AS_OF_DATE': '20210103', 'FUND_IN_UNIVERSE': 'T', 'FUND_OF_FUNDS': '', 'FUND_HOLDINGS_COUNT': '76', 'FUND_HOLDING_FUNDS_COUNT': '0'}