# Python Basics (2023-06-20 - 2023-06-22)

In [1]:
a = 1
b = 2

In [2]:
print(a)

1

In [3]:
print(b)

2

In [4]:
c, d = 3, 4

In [5]:
t = (3, 4)
type(t)

tuple

In [6]:
t = (3, 4, 5)

In [7]:
type(t)

tuple

In [8]:
tmp = c
c = d
d = tmp

In [9]:
c, d

(4, 3)

In [10]:
c, d = d, c

In [11]:
a = 42

In [12]:
id(a)

140640823526928

In [13]:
hex(id(a))

'0x7fe97e53c610'

In [14]:
b = a

In [15]:
id(b)

140640823526928

In [16]:
a += 1

In [17]:
id(a)

140640823526960

In [18]:
del b

In [19]:
try:
    b
except NameError as e:
    print('NameError(specific)')
except Exception as e:
    print(e, type(e))

NameError(specific)

In [20]:
b = None

In [21]:
type(b)

NoneType

In [22]:
print(b)

None

## DataTypes

### Integers

In [23]:
i = 2**64-1

In [24]:
hex(i)

'0xffffffffffffffff'

In [25]:
i += 1

In [26]:
i

18446744073709551616

In [27]:
hex(i)

'0x10000000000000000'

In [28]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

### Datatype Conversions

In [29]:
s = '666'
int(s)

666

In [30]:
int('0xdeadbeef', 16)

3735928559

In [31]:
int('666', 7)

342

In [32]:
str(666)

'666'

In [33]:
float(666)

666.0

In [34]:
float('42.666')

42.666

## (Im)mutable?

In [35]:
l = [1, 2, 3]

In [36]:
id(l)

140640741310912

In [37]:
l.append(4)

In [38]:
l

[1, 2, 3, 4]

In [39]:
id(l)

140640741310912

In [40]:
t = (1,2,3)

In [41]:
id(t)

140640741034048

In [42]:
try:
    t.append(4)
except Exception as e:
    print(e, type(e))

'tuple' object has no attribute 'append' <class 'AttributeError'>

## Compound Datatypes

### List

In [43]:
l = [1, 2, 3, 'vier']

In [44]:
id(l)

140640741341184

In [45]:
l

[1, 2, 3, 'vier']

In [46]:
l.append(5.0)

In [47]:
l

[1, 2, 3, 'vier', 5.0]

In [48]:
len(l)

5

In [49]:
l.extend([6, 7, 'acht'])

In [50]:
l

[1, 2, 3, 'vier', 5.0, 6, 7, 'acht']

In [51]:
l.append([9, 10])

In [52]:
l

[1, 2, 3, 'vier', 5.0, 6, 7, 'acht', [9, 10]]

In [53]:
del l[8]

In [54]:
l

[1, 2, 3, 'vier', 5.0, 6, 7, 'acht']

In [55]:
for elem in l:
    print(type(elem))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'str'>

In [56]:
[type(elem) for elem in l]

[int, int, int, str, float, int, int, str]

In [57]:
[elem for elem in l if type(elem) is not list]

[1, 2, 3, 'vier', 5.0, 6, 7, 'acht']

In [58]:
for e in l:
    print(e)

1
2
3
vier
5.0
6
7
acht

In [59]:
l += [9,10]

In [60]:
id(l)

140640741341184

In [61]:
l

[1, 2, 3, 'vier', 5.0, 6, 7, 'acht', 9, 10]

In [62]:
1 in l

True

In [63]:
2 in l

True

In [64]:
10 in l

True

In [65]:
666 in l

False

### Dictionary

In [66]:
d = {'one': 1, 'two': 2, 3: 'three'}

In [67]:
d['one']

1

In [68]:
d[3]

'three'

In [69]:
len(d)

3

In [70]:
del d[3]

In [71]:
try:
    del d[2]
except Exception as e:
    print(e, type(e))

2 <class 'KeyError'>

In [72]:
d['three'] = 3

In [73]:
'three' in d

True

In [74]:
'four' in d

False

In [75]:
d['three'] = 3.0

In [76]:
d

{'one': 1, 'two': 2, 'three': 3.0}

In [77]:
d['three'] = [3, 3.0, 'drei']

In [78]:
d

{'one': 1, 'two': 2, 'three': [3, 3.0, 'drei']}

In [79]:
type(d)

dict

In [80]:
'four' in d

False

In [81]:
try:
    d['four']
except Exception as e:
    print(e, type(e))

'four' <class 'KeyError'>

In [82]:
elem = d.get('four')
if elem is None:
    elem = 4
print(elem)

4

In [83]:
elem = d.get('four', 4)
print(elem)

4

## Exercise: Mixed List, Interactive Interpreter

In [84]:
l = []

In [85]:
l.append(42)

In [86]:
l

[42]

In [87]:
l.append(42.666)
l.append(True)
l.append('abc')

In [88]:
l

[42, 42.666, True, 'abc']

In [89]:
l.append([1,2,'drei'])

In [90]:
l

[42, 42.666, True, 'abc', [1, 2, 'drei']]

In [91]:
l.append((1, 2, 'drei'))

In [92]:
l

[42, 42.666, True, 'abc', [1, 2, 'drei'], (1, 2, 'drei')]

In [93]:
l.append({1,2,3})

In [94]:
l

[42, 42.666, True, 'abc', [1, 2, 'drei'], (1, 2, 'drei'), {1, 2, 3}]

In [95]:
l.append({1:'one', 2:'two'})

In [96]:
l

[42,
 42.666,
 True,
 'abc',
 [1, 2, 'drei'],
 (1, 2, 'drei'),
 {1, 2, 3},
 {1: 'one', 2: 'two'}]

## ``len()``, ``range()``, ``for``

In [97]:
len(l)

8

In [98]:
for elem in l:
    print(elem)

42
42.666
True
abc
[1, 2, 'drei']
(1, 2, 'drei')
{1, 2, 3}
{1: 'one', 2: 'two'}

In [99]:
l = [0,1,2,3,4]
for elem in l:
    print(elem)

0
1
2
3
4

In [100]:
for elem in range(5):
    print(elem)

0
1
2
3
4

In [101]:
elem = 0
while elem < 5:
    print(elem)
    elem += 1

0
1
2
3
4

In [102]:
d

{'one': 1, 'two': 2, 'three': [3, 3.0, 'drei']}

In [103]:
for k in d:
    print(k)

one
two
three

In [104]:
for k in d.keys():
    print(k)

one
two
three

In [105]:
for v in d.values():
    print(v)

1
2
[3, 3.0, 'drei']

In [106]:
for wasjetzt in d.items():
    print(wasjetzt)

('one', 1)
('two', 2)
('three', [3, 3.0, 'drei'])

In [107]:
for elem in d.items():
    k = elem[0]
    v = elem[1]
    print('key: ', k, ', value: ', v)

key:  one , value:  1
key:  two , value:  2
key:  three , value:  [3, 3.0, 'drei']

In [108]:
for k, v in d.items():
    print('key: ', k, ', value: ', v)

key:  one , value:  1
key:  two , value:  2
key:  three , value:  [3, 3.0, 'drei']

## References, (Im)mutability

In [109]:
a = 42

In [110]:
id(a)

140640823526928

In [111]:
b = a

In [112]:
id(b)

140640823526928

In [113]:
id(a) == id(b)

True

In [114]:
a is b

True

In [115]:
a == b

True

In [116]:
l1 = [1, 2, 3]

In [117]:
id(l1)

140640722624768

In [118]:
l2 = [1, 2, 3]

In [119]:
id(l2)

140640722715136

In [120]:
l1.append(4)

In [121]:
l1

[1, 2, 3, 4]

In [122]:
l2

[1, 2, 3]

In [123]:
l1 is l2

False

In [124]:
l1

[1, 2, 3, 4]

In [125]:
l1_copy = l1

In [126]:
l1_copy is l1

True

In [127]:
id(l1_copy) == id(l1)

True

In [128]:
l1.append(5)

In [129]:
l1

[1, 2, 3, 4, 5]

In [130]:
l1_copy

[1, 2, 3, 4, 5]

## Generators, ``yield``

In [131]:
l = [1, 2, 3]

In [132]:
for elem in l:
    print(elem)

1
2
3

In [133]:
it = iter(l)

In [134]:
next(it)

1

In [135]:
next(it)

2

In [136]:
next(it)

3

In [137]:
try:
    next(it)
except StopIteration as e:
    print(e, type(e))

 <class 'StopIteration'>

In [138]:
s = 'abc'

In [139]:
for elem in s:
    print(elem)

a
b
c

In [140]:
l = list()

In [141]:
l

[]

In [142]:
l = list([1, 2, 3])

In [143]:
l

[1, 2, 3]

In [144]:
l = [1, 2, 3]

In [145]:
l = list(range(1, 4))

In [146]:
l

[1, 2, 3]

In [147]:
for elem in range(4):
    print(elem)

0
1
2
3

In [148]:
for elem in range(2, 4):
    print(elem)

2
3

In [149]:
def my_funky_generator():
    print('bis zum ersten')
    yield 1
    print('bis zum zweiten')
    yield 2
    print('bis zum dritten')
    yield 3
    print('und aus')

In [150]:
meine_dumme_sequenz = my_funky_generator()

In [151]:
type(meine_dumme_sequenz)

generator

In [152]:
it = iter(meine_dumme_sequenz)

In [153]:
next(it)

bis zum ersten

1

In [154]:
next(it)

bis zum zweiten

2

In [155]:
next(it)

bis zum dritten

3

In [156]:
try:
    next(it)
except StopIteration as e:
    print(e, type(e))

und aus
 <class 'StopIteration'>

In [157]:
for elem in my_funky_generator():
    print(elem)

bis zum ersten
1
bis zum zweiten
2
bis zum dritten
3
und aus

In [158]:
def my_range(end):
    cur = 0
    while cur < end:
        yield cur
        cur += 1

In [159]:
for elem in my_range(4):
    print(elem)

0
1
2
3

## Other -ables: *Callable*

In [160]:
print('hallo')

hallo

In [161]:
type(print)

builtin_function_or_method

In [162]:
type(list)

type

In [163]:
list()

[]

In [164]:
def f():
    print('hallo f()')

In [165]:
f()

hallo f()

In [166]:
type(f)

function

In [167]:
f.__call__

In [168]:
f.__call__()

hallo f()

In [169]:
list.__call__

In [170]:
list.__call__('abc')

['a', 'b', 'c']

In [171]:
list('abc')

['a', 'b', 'c']

In [172]:
class Greeter:
    def __call__(self, s):
        print('hallo', s)

In [173]:
g = Greeter()

In [174]:
type(g)

__main__.Greeter

In [175]:
g('Joerg')

hallo Joerg

In [176]:
g.__call__

In [177]:
g.__call__('Joerg')

hallo Joerg

## Indexing and Slicing

In [178]:
l = [1, 2, [3, 4, 5], 6, 7]
l[2]

[3, 4, 5]

In [179]:
l[2][1]

4

In [180]:
l[2:3] = l[2]

In [181]:
l

[1, 2, 3, 4, 5, 6, 7]

## References, (Im)mutability

In [182]:
a = 42

In [183]:
id(a)

140640823526928

In [184]:
a += 1

In [185]:
id(a)

140640823526960

In [186]:
t = (1, 'eins')

In [187]:
id(t)

140640740502720

In [188]:
try:
    t.append(3)
except Exception as e:
    print(e, type(e))

'tuple' object has no attribute 'append' <class 'AttributeError'>

In [189]:
t += (2, 'zwei')

In [190]:
id(t)

140640722823952

In [191]:
t

(1, 'eins', 2, 'zwei')

In [192]:
l = [1, 2, 3]

In [193]:
id(l)

140640741119552

In [194]:
l += [4, 5, 6]

In [195]:
id(l)

140640741119552

In [196]:
l

[1, 2, 3, 4, 5, 6]

In [197]:
l_copy = l[:]

In [198]:
l_copy

[1, 2, 3, 4, 5, 6]

In [199]:
id(l_copy)

140640741312256

In [200]:
l_copy is l

False

In [201]:
l1 = [1, [2, 3, 4], 5]

In [202]:
l2 = l1[:]

In [203]:
l2

[1, [2, 3, 4], 5]

In [204]:
l2 is not l1

True

In [205]:
l2[1].append(666)

In [206]:
l2

[1, [2, 3, 4, 666], 5]

In [207]:
l1

[1, [2, 3, 4, 666], 5]

In [208]:
l1[1] is l2[1]

True

In [209]:
import copy

In [210]:
l1

[1, [2, 3, 4, 666], 5]

In [211]:
id(l1)

140640722734080

In [212]:
id(l1[1])

140640722760768

In [213]:
l3 = copy.deepcopy(l1)

In [214]:
id(l3)

140640722739712

In [215]:
id(l3[1])

140640741402496

## ``exec()`` (and ``eval()``)

In [216]:
code = '''
b = 666
print('hallo')
'''

In [217]:
exec(code)

hallo

In [218]:
b

666

In [219]:
context = {}
exec(code, context)

hallo

In [220]:
b

666

In [221]:
del b

In [222]:
context['b']

666

## More About Strings

In [223]:
"abc"

'abc'

In [224]:
'abc'

'abc'

In [225]:
'don\'t'

"don't"

In [226]:
"don't"

"don't"

### Raw Strings

In [227]:
s = "C:\path\to\nowhere"

In [228]:
print(s)

C:\path	o
owhere

In [229]:
s = r"C:\path\to\nowhere"
print(s)

C:\path\to\nowhere

In [230]:
import re

In [231]:
line = "   666 |    Joerg    |Faschingbauer   "

In [232]:
regex = re.compile(r'^\s*(\d+)\s*|\s*([A-Za-z]+)\s*|\s*([A-Za-z]+)\s*$')

In [233]:
match = regex.search(line)

In [234]:
match.group(1)

'666'

### Formatting (f-Strings)

In [235]:
a = 42
b = 666

In [236]:
'a hat den Wert '+str(a)+', und b hat den Wert '+str(b)

'a hat den Wert 42, und b hat den Wert 666'

In [237]:
f'a hat den Wert {a:07}, und b hat den Wert {b}'

'a hat den Wert 0000042, und b hat den Wert 666'

### Miscellaneous String Methods

In [238]:
s = '666'

In [239]:
s.isdigit()

True

In [240]:
'abc'.isdigit()

False

In [241]:
'abc'.isalpha()

True

In [242]:
'abc'.isidentifier()

True

In [243]:
'666'.isidentifier()

False

In [244]:
'mississippi'.count('ss')

2

In [245]:
'file.csv'.endswith('.csv')

True

In [246]:
'mississippi'.find('ss')

2

In [247]:
'mississippi'.find('xx')

-1

In [248]:
'mississippi'.rfind('ss')

5

In [249]:
line = "   666 |    Joerg    |Faschingbauer   "

In [250]:
line.split('|')

['   666 ', '    Joerg    ', 'Faschingbauer   ']

In [251]:
'   666        '.strip()

'666'

In [252]:
'   666        '.lstrip()

'666        '

In [253]:
'   666        '.rstrip()

'   666'

In [254]:
line = "   666 |    Joerg    |Faschingbauer   "

In [255]:
[elem.strip() for elem in line.split('|')]

['666', 'Joerg', 'Faschingbauer']

In [256]:
elems = ['666', 'Joerg', 'Faschingbauer']
'|'.join(elems)

'666|Joerg|Faschingbauer'

In [257]:
line = "   666 |    Joerg    |Faschingbauer   "

In [258]:
svnr, firstname, lastname = [elem.strip() for elem in line.split('|')]

In [259]:
svnr, firstname, lastname

('666', 'Joerg', 'Faschingbauer')

### More About Lists

In [260]:
l = [1, 2, 'drei']

In [261]:
l.append(4.0)

In [262]:
l

[1, 2, 'drei', 4.0]

In [263]:
l.extend([3, 4, 5])

In [264]:
l

[1, 2, 'drei', 4.0, 3, 4, 5]

In [265]:
l.extend(range(10, 15))

In [266]:
l

[1, 2, 'drei', 4.0, 3, 4, 5, 10, 11, 12, 13, 14]

In [267]:
l.extend('abc')

In [268]:
l

[1, 2, 'drei', 4.0, 3, 4, 5, 10, 11, 12, 13, 14, 'a', 'b', 'c']

In [269]:
l.insert(3, 3.5)

In [270]:
l

[1, 2, 'drei', 3.5, 4.0, 3, 4, 5, 10, 11, 12, 13, 14, 'a', 'b', 'c']

In [271]:
l.insert(0, -1)

In [272]:
l

[-1, 1, 2, 'drei', 3.5, 4.0, 3, 4, 5, 10, 11, 12, 13, 14, 'a', 'b', 'c']

In [273]:
l.pop(3)

'drei'

In [274]:
del l[1]

In [275]:
l = [45, 2, 3, 9, 1]

In [276]:
l.sort()

In [277]:
l

[1, 2, 3, 9, 45]

In [278]:
l = [45, 2, 3, 9, 1]

In [279]:
sorted(l)

[1, 2, 3, 9, 45]

In [280]:
l

[45, 2, 3, 9, 1]

In [281]:
l.reverse()

In [282]:
l

[1, 9, 3, 2, 45]

### More About Dictionaries

In [283]:
d = {'one':1, 'two': 2}
d

{'one': 1, 'two': 2}

In [284]:
l = [('one',1), ('two', 2)]
d = dict(l)

In [285]:
d

{'one': 1, 'two': 2}

In [286]:
d['three'] = 3

In [287]:
d

{'one': 1, 'two': 2, 'three': 3}

In [288]:
d['three'] = 3.0

In [289]:
d

{'one': 1, 'two': 2, 'three': 3.0}

In [290]:
del d['three']

In [291]:
'three' in d

False

In [293]:
try:
    d['three']
except Exception as e:
    print(e, type(e))

'three' <class 'KeyError'>

In [294]:
value = d.get('three')
if value is None:
    print('bled, aber, waere doch wohl', 3)
else:
    print('jo eh,', value)

bled, aber, waere doch wohl 3

In [296]:
value = d.get('three', 3)
print(value)

3

In [298]:
if 'three' in d:
    value = d['three']
else:
    value = 3
    d['three'] = value
print(value)

3

In [299]:
del d['three']

In [300]:
value = d.setdefault('three', 3)
print(value)

3

In [301]:
d

{'one': 1, 'two': 2, 'three': 3}

In [302]:
other = {'three': 3.0, 'four': 4.0}

In [303]:
d.update(other)

In [305]:
d

{'one': 1, 'two': 2, 'three': 3.0, 'four': 4.0}

### More About Sets

In [306]:
s = {1,2,3}

In [307]:
l = [1, 2, 3]

In [308]:
s = set(l)

In [309]:
s

{1, 2, 3}

In [310]:
s = set('abc')
s

{'a', 'b', 'c'}

In [311]:
s = set(range(5))
s

{0, 1, 2, 3, 4}

In [312]:
2 in s

True

In [313]:
s.remove(2)
s

{0, 1, 3, 4}

In [314]:
s.add(2)

In [315]:
s

{0, 1, 2, 3, 4}

In [320]:
s1 = set(range(4))
s2 = set(range(3, 8))

In [321]:
s1, s2

({0, 1, 2, 3}, {3, 4, 5, 6, 7})

In [322]:
s1 | s2

{0, 1, 2, 3, 4, 5, 6, 7}

In [323]:
s1 & s2

{3}

In [324]:
s1 ^ s2

{0, 1, 2, 4, 5, 6, 7}

In [325]:
s1 < s2

False

In [326]:
s1 <= s2

False

## Encoding

In [1]:
s = 'Liebe Gre, Jrg'

In [2]:
type(s)

str

In [4]:
try:
    s.encode(encoding='ascii')
except Exception as e:
    print(e, type(e))

'ascii' codec can't encode characters in position 8-9: ordinal not in range(128) <class 'UnicodeEncodeError'>

In [7]:
b = s.encode(encoding='iso-8859-1')

In [13]:
b

b'Liebe Gr\xfc\xdfe, J\xf6rg'

In [9]:
type(b)

bytes

In [10]:
b.decode(encoding='iso-8859-5')

'Liebe Gre, Jrg'

In [11]:
print(b)

b'Liebe Gr\xfc\xdfe, J\xf6rg'

In [14]:
lg = ''

In [16]:
type(lg)

str

In [17]:
len(lg)

2

In [20]:
lg.encode(encoding='big5')

b'\xaf\xac\xa6n'

In [21]:
len(lg.encode(encoding='big5'))

4

In [22]:
unterschrift = lg + ' Jrg'

In [23]:
unterschrift

' Jrg'

In [25]:
try:
    unterschrift.encode('iso-8859-1')
except Exception as e:
    print(e, type(e))

'latin-1' codec can't encode characters in position 0-1: ordinal not in range(256) <class 'UnicodeEncodeError'>

In [26]:
try:
    unterschrift.encode('big5')
except Exception as e:
    print(e, type(e))

'big5' codec can't encode character '\xf6' in position 4: illegal multibyte sequence <class 'UnicodeEncodeError'>

In [27]:
unterschrift.encode('utf-8')

b'\xe7\xa5\x9d\xe5\xa5\xbd J\xc3\xb6rg'

In [28]:
unterschrift.encode('utf-16')

b'\xff\xfe]y}Y \x00J\x00\xf6\x00r\x00g\x00'

In [29]:
unterschrift.encode('utf-32')

b'\xff\xfe\x00\x00]y\x00\x00}Y\x00\x00 \x00\x00\x00J\x00\x00\x00\xf6\x00\x00\x00r\x00\x00\x00g\x00\x00\x00'