# Python Basics (2023-06-20 - 2023-06-22)

In [1]:
a = 1
b = 2

In [2]:
print(a)

1

In [3]:
print(b)

2

In [4]:
c, d = 3, 4

In [5]:
t = (3, 4)
type(t)

tuple

In [6]:
t = (3, 4, 5)

In [7]:
type(t)

tuple

In [8]:
tmp = c
c = d
d = tmp

In [9]:
c, d

(4, 3)

In [10]:
c, d = d, c

In [11]:
a = 42

In [12]:
id(a)

140648654997008

In [13]:
hex(id(a))

'0x7feb511e8610'

In [14]:
b = a

In [15]:
id(b)

140648654997008

In [16]:
a += 1

In [17]:
id(a)

140648654997040

In [18]:
del b

In [19]:
try:
    b
except NameError as e:
    print('NameError(specific)')
except Exception as e:
    print(e, type(e))

NameError(specific)

In [20]:
b = None

In [21]:
type(b)

NoneType

In [22]:
print(b)

None

## DataTypes

### Integers

In [23]:
i = 2**64-1

In [24]:
hex(i)

'0xffffffffffffffff'

In [25]:
i += 1

In [26]:
i

18446744073709551616

In [27]:
hex(i)

'0x10000000000000000'

In [28]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

### Datatype Conversions

In [29]:
s = '666'
int(s)

666

In [30]:
int('0xdeadbeef', 16)

3735928559

In [31]:
int('666', 7)

342

In [32]:
str(666)

'666'

In [33]:
float(666)

666.0

In [34]:
float('42.666')

42.666

## (Im)mutable?

In [35]:
l = [1, 2, 3]

In [36]:
id(l)

140648572046784

In [37]:
l.append(4)

In [38]:
l

[1, 2, 3, 4]

In [39]:
id(l)

140648572046784

In [40]:
t = (1,2,3)

In [41]:
id(t)

140648571884032

In [42]:
try:
    t.append(4)
except Exception as e:
    print(e, type(e))

'tuple' object has no attribute 'append' <class 'AttributeError'>

## Compound Datatypes

### List

In [43]:
l = [1, 2, 3, 'vier']

In [44]:
id(l)

140648572186560

In [45]:
l

[1, 2, 3, 'vier']

In [46]:
l.append(5.0)

In [47]:
l

[1, 2, 3, 'vier', 5.0]

In [48]:
len(l)

5

In [49]:
l.extend([6, 7, 'acht'])

In [50]:
l

[1, 2, 3, 'vier', 5.0, 6, 7, 'acht']

In [51]:
l.append([9, 10])

In [52]:
l

[1, 2, 3, 'vier', 5.0, 6, 7, 'acht', [9, 10]]

In [53]:
del l[8]

In [54]:
l

[1, 2, 3, 'vier', 5.0, 6, 7, 'acht']

In [55]:
for elem in l:
    print(type(elem))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'str'>

In [56]:
[type(elem) for elem in l]

[int, int, int, str, float, int, int, str]

In [57]:
[elem for elem in l if type(elem) is not list]

[1, 2, 3, 'vier', 5.0, 6, 7, 'acht']

In [58]:
for e in l:
    print(e)

1
2
3
vier
5.0
6
7
acht

In [59]:
l += [9,10]

In [80]:
id(l)

140648572186560

In [82]:
l

[1, 2, 3, 'vier', 5.0, 6, 7, 'acht', 9, 10]

In [83]:
1 in l

True

In [84]:
2 in l

True

In [85]:
10 in l

True

In [86]:
666 in l

False

### Dictionary

In [63]:
d = {'one': 1, 'two': 2, 3: 'three'}

In [64]:
d['one']

1

In [65]:
d[3]

'three'

In [66]:
len(d)

3

In [67]:
del d[3]

In [69]:
try:
    del d[2]
except Exception as e:
    print(e, type(e))

2 <class 'KeyError'>

In [70]:
d['three'] = 3

In [71]:
'three' in d

True

In [72]:
'four' in d

False

In [73]:
d['three'] = 3.0

In [74]:
d

{'one': 1, 'two': 2, 'three': 3.0}

In [75]:
d['three'] = [3, 3.0, 'drei']

In [76]:
d

{'one': 1, 'two': 2, 'three': [3, 3.0, 'drei']}

In [78]:
type(d)

dict

In [89]:
'four' in d

False

In [92]:
try:
    d['four']
except Exception as e:
    print(e, type(e))

'four' <class 'KeyError'>

In [96]:
elem = d.get('four')
if elem is None:
    elem = 4
print(elem)

4

In [98]:
elem = d.get('four', 4)
print(elem)

4

## Exercise: Mixed List, Interactive Interpreter

In [99]:
l = []

In [111]:
l.append(42)

In [113]:
l

[42]

In [114]:
l.append(42.666)
l.append(True)
l.append('abc')

In [116]:
l

[42, 42.666, True, 'abc']

In [117]:
l.append([1,2,'drei'])

In [119]:
l

[42, 42.666, True, 'abc', [1, 2, 'drei']]

In [120]:
l.append((1, 2, 'drei'))

In [121]:
l

[42, 42.666, True, 'abc', [1, 2, 'drei'], (1, 2, 'drei')]

In [122]:
l.append({1,2,3})

In [123]:
l

[42, 42.666, True, 'abc', [1, 2, 'drei'], (1, 2, 'drei'), {1, 2, 3}]

In [124]:
l.append({1:'one', 2:'two'})

In [125]:
l

[42,
 42.666,
 True,
 'abc',
 [1, 2, 'drei'],
 (1, 2, 'drei'),
 {1, 2, 3},
 {1: 'one', 2: 'two'}]

## ``len()``, ``range()``, ``for``

In [127]:
len(l)

8

In [129]:
for elem in l:
    print(elem)

42
42.666
True
abc
[1, 2, 'drei']
(1, 2, 'drei')
{1, 2, 3}
{1: 'one', 2: 'two'}

In [130]:
l = [0,1,2,3,4]
for elem in l:
    print(elem)

0
1
2
3
4

In [131]:
for elem in range(5):
    print(elem)

0
1
2
3
4

In [132]:
elem = 0
while elem < 5:
    print(elem)
    elem += 1

0
1
2
3
4

In [133]:
d

{'one': 1, 'two': 2, 'three': [3, 3.0, 'drei']}

In [134]:
for k in d:
    print(k)

one
two
three

In [135]:
for k in d.keys():
    print(k)

one
two
three

In [136]:
for v in d.values():
    print(v)

1
2
[3, 3.0, 'drei']

In [137]:
for wasjetzt in d.items():
    print(wasjetzt)

('one', 1)
('two', 2)
('three', [3, 3.0, 'drei'])

In [138]:
for elem in d.items():
    k = elem[0]
    v = elem[1]
    print('key: ', k, ', value: ', v)

key:  one , value:  1
key:  two , value:  2
key:  three , value:  [3, 3.0, 'drei']

In [139]:
for k, v in d.items():
    print('key: ', k, ', value: ', v)

key:  one , value:  1
key:  two , value:  2
key:  three , value:  [3, 3.0, 'drei']