# Python Basics (2023-11-29 - 2023-12-01)

blah blah

In [1]:
print('hello world')

hello world

In [2]:
a = 42

In [3]:
if a == 42:
    print('the answer')

the answer

## BlahBlah

In [4]:
del a

In [5]:
a = 42

In [6]:
print(a)

42

In [7]:
a

42

In [8]:
type(a)

int

In [9]:
print(type(a))

<class 'int'>

In [10]:
i = 100

In [11]:
hex(i)

'0x64'

In [12]:
bin(i)

'0b1100100'

In [13]:
i = 300

In [14]:
bin(i)

'0b100101100'

In [15]:
i = 1

In [16]:
bin(i)

'0b1'

In [17]:
bin(0)

'0b0'

In [18]:
i = 2**64 - 1

In [19]:
bin(i)

'0b1111111111111111111111111111111111111111111111111111111111111111'

In [20]:
len(bin(i))

66

In [21]:
i += 1

In [22]:
i

18446744073709551616

In [23]:
len(bin(i))

67

In [24]:
2**10000

19950631168807583848837421626835850838234968318861924548520089498529438830221946631919961684036194597899331129423209124271556491349413781117593785932096323957855730046793794526765246551266059895520550086918193311542508608460618104685509074866089624888090489894838009253941633257850621568309473902556912388065225096643874441046759871626985453222868538161694315775629640762836880760732228535091641476183956381458969463899410840960536267821064621427333394036525565649530603142680234969400335934316651459297773279665775606172582031407994198179607378245683762280037302885487251900834464581454650557929601414833921615734588139257095379769119277800826957735674444123062018757836325502728323789270710373802866393031428133241401624195671690574061419654342324638801248856147305207431992259611796250130992860241708340807605932320161268492288496255841312844061536738951487114256315111089745514203313820202931640957596464756010405845841566072044962867016515061920631004186422275908670900574606417856951911456055068251250406007519842261898059237118054444788072906395242548339221982707404473162376760846613033778706039803413197133493654622700563169937455508241780972810983291314403571877524768509857276937926433221599399876886660808368837838027643282775172273657572744784112294389733810861607423253291974813120197604178281965697475898164531258434135959862784130128185406283476649088690521047580882615823961985770122407044330583075869039319604603404973156583208672105913300903752823415539745394397715257455290510212310947321610753474825740775273986348298498340756937955646638621874569499279016572103701364433135817214311791398222983845847334440270964182851005072927748364550578634501100852987812389473928699540834346158807043959118985815145779177143619698728131459483783202081474982171858011389071228250905826817436220577475921417653715687725614904582904992461028630081535583308130101987675856234343538955409175623400844887526162643568648833519463720377293240094456246923254350400678027273837755376406726898636241037491410966718557050759098100246789880178271925953381282421954028302759408448955014676668389697996886241636313376393903373455801407636741877711055384225739499110186468219696581651485130494222369947714763069155468217682876200362777257723781365331611196811280792669481887201298643660768551639860534602297871557517947385246369446923087894265948217008051120322365496288169035739121368338393591756418733850510970271613915439590991598154654417336311656936031122249937969999226781732358023111862644575299135758175008199839236284615249881088960232244362173771618086357015468484058622329792853875623486556440536962622018963571028812361567512543338303270029097668650568557157505516727518899194129711337690149916181315171544007728650573189557450920330185304847113818315407324053319038462084036421763703911550639789000742853672196280903477974533320468368795868580237952218629120080742819551317948157624448298518461509704888027274721574688131594750409732115080498190455803416826949787141316063210686391511681774304792596709376

In [25]:
type(i)

int

In [26]:
type_of_i = type(i)

In [27]:
print(type_of_i)

<class 'int'>

In [28]:
msg = 'hello world'
print(msg)

hello world

In [29]:
type(msg)

str

In [30]:
type(print)

builtin_function_or_method

In [31]:
type(i)

int

In [32]:
i = ['abc', 1, 666.42]

In [33]:
type(i)

list

## Syntax

In [34]:
answer = 666

In [35]:
if answer == 42:
    print('yay')
    print('das ist mal eine antwort')
else:
    print('schade')

schade

In [36]:
if answer == 42:
    print('yay')
print('das ist mal eine antwort')

das ist mal eine antwort

## Variables

In [37]:
msg = 'hello world'

In [38]:
print(msg)

hello world

In [39]:
print(msg*2)

hello worldhello world

In [40]:
i = 0
while i < 7:
    print(i)
    i += 1

0
1
2
3
4
5
6

In [41]:
a = 42

In [42]:
type(a)

int

In [43]:
a = 1.5

In [44]:
type(a)

float

In [45]:
a = [42, 'blah']

In [46]:
type(a)

list

In [47]:
a = 42

In [48]:
b = a

In [49]:
a

42

In [50]:
b

42

In [51]:
id(a)

140572055569936

In [52]:
id(b)

140572055569936

In [53]:
a = 7

In [54]:
a

7

In [55]:
b

42

In [56]:
c = b

In [57]:
b += 1

In [58]:
b

43

In [59]:
c

42

In [60]:
l1 = [1, 'two']

In [61]:
l2 = l1

In [62]:
id(l1) == id(l2)

True

In [63]:
l1 is l2

True

In [64]:
l1.append(3.0)

In [65]:
l1

[1, 'two', 3.0]

In [66]:
l2

[1, 'two', 3.0]

In [67]:
l3 = [1, 'two']

In [68]:
l1 == l3

False

In [69]:
l1 is l3

False

## DataTypes

What is Equality? (``==``)

In [70]:
a = '666'

In [71]:
b = 666

In [72]:
a == b

False

In [73]:
int(a) == b

True

### Integers

In [74]:
3/2

1.5

In [75]:
3//2

1

In [76]:
import math

In [77]:
math.sqrt(4)

2.0

In [78]:
round(4.500001)

5

In [79]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [80]:
round(4.65, 0)

5.0

In [81]:
6/3 == 100/50

True

In [82]:
if abs(6/3 - 100/50) < 0.001:
    print('eh gleich')

eh gleich

In [83]:
round(3.499999999999999999999999)

4

In [84]:
round(4.4999)

4

In [85]:
def my_round(f):
    import math
    cf = math.ceil(f)
    diff_to_next = cf - f
    if diff_to_next <0.5001:
        return cf
    else:
        return math.floor(f)

In [86]:
my_round(3.5)

4

In [87]:
my_round(3.1)

3

In [88]:
my_round(3.6)

4

In [89]:
my_round(3.500000001)

4

### Datatype Conversions

In [90]:
str_i = "666"

In [91]:
type(str_i)

str

In [92]:
int_i = int(str_i)

In [93]:
type(int_i)

int

In [94]:
int_i == str_i

False

In [95]:
str(int_i)

'666'

In [96]:
float_i = float(int_i)

In [97]:
float_i

666.0

In [98]:
float('666')

666.0

In [99]:
try:
    float('abc')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> could not convert string to float: 'abc'

In [100]:
try:
    int('666.42')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: '666.42'

In [101]:
try:
    int('abc')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: 'abc'

In [102]:
int('abc', 16)

2748

In [103]:
bool(666)

True

In [104]:
bool(0)

False

In [105]:
bool('666')

True

In [106]:
i = 666
if i:
    print('eh')

eh

In [107]:
i = 0
if not i:
    print('nix')

nix

### List (*mutable*)

In [108]:
l = [1, 'two', 3.0]

In [109]:
type(l)

list

In [110]:
l.append(4)

In [111]:
l

[1, 'two', 3.0, 4]

In [112]:
nocheineliste = [5, 6, 7]

In [113]:
l += nocheineliste

In [114]:
l

[1, 'two', 3.0, 4, 5, 6, 7]

In [115]:
l.extend([8, 9, 10])
l

[1, 'two', 3.0, 4, 5, 6, 7, 8, 9, 10]

In [116]:
l[3]

4

In [117]:
l.append([11, 12, 13])

In [118]:
l

[1, 'two', 3.0, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13]]

In [119]:
len(l)

11

In [120]:
666 in l

False

In [121]:
12 in l

False

In [122]:
12 == [11, 12, 13]

False

In [123]:
12 in l[-1]

True

### Tuple (*immutable*)

In [124]:
t = (1, 'two', 3.0)
id(t)

140571746172800

In [125]:
type(t)

tuple

In [126]:
try:
    t.append(4)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

In [127]:
t += (4, 5, 6)

In [128]:
id(t)

140571753417312

In [129]:
t[3]

4

In [130]:
t = (666)

In [131]:
type(t)

int

In [132]:
2*3+4

10

In [133]:
2*(3+4)

14

In [134]:
t = (666,)

In [135]:
type(t)

tuple

### Dictionary (*mutable*)

In [136]:
d = {
    'one': 1,
    'two': 2,
}

In [137]:
d['one']

1

In [138]:
'one' in d

True

In [139]:
try:
    d['three']
except Exception as e:
    print(type(e), e)

<class 'KeyError'> 'three'

In [140]:
d['three'] = 3

In [141]:
d['three']

3

In [142]:
v = d.get('four')

In [143]:
print(v)

None

In [144]:
d.get('three')

3

In [145]:
del d['three']

In [146]:
'three' in d

False

### Set (*mutable*)

In [147]:
s = {1, 2, 3}

In [148]:
3 in s

True

In [149]:
4 not in s

True

In [150]:
s.add(4)

In [151]:
s

{1, 2, 3, 4}

In [152]:
s.add(4)

In [153]:
s

{1, 2, 3, 4}

In [154]:
s.remove(1)

In [155]:
1 in s

False

In [156]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

In [157]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [158]:
s1 & s2

{3, 4}

In [159]:
s1 ^ s2

{1, 2, 5, 6}

In [160]:
i = 42
i.__hash__()

42

In [161]:
my_s = 'abc'
my_s.__hash__()

-2282548071841868421

In [162]:
s.add('abc')

In [163]:
s

{2, 3, 4, 'abc'}

In [164]:
try:
    s.add([1, 2, 3])
except Exception as e:
    print(type(e), e)

<class 'TypeError'> unhashable type: 'list'

In [165]:
s.add((1,2,3))

### Boolean (*immutable*)

In [166]:
1 < 2

True

In [167]:
2 < 1

False

In [168]:
i = 0
while i < 7:
    print(i)
    i += 1

0
1
2
3
4
5
6

In [169]:
bool(42)

True

In [170]:
bool(0)

False

In [171]:
bool('')

False

In [172]:
bool('0')

True

In [173]:
bool(None)

False

In [174]:
a = 42

In [175]:
if a == 42:
    print('yay')
else:
    print('oioi')

yay

In [176]:
True and False

False

In [177]:
True or False

True

In [178]:
False or True

True

In [179]:
True or False and print('boah')

True

## ``while`` Loops

In [180]:
i = 0
while i < 7:
    print(i)
    i += 1
    
print('ueberbleibsel', i)

0
1
2
3
4
5
6
ueberbleibsel 7

In [183]:
my_sum = 0
i = 0
while i < 101:
    my_sum += i
    i += 1
print(my_sum)

5050

In [250]:
sum(range(101))    # pythonic

5050

In [251]:
# roll dice!