# Pandas

In [1]:
import pandas as pd

## DataFrame

In [6]:
persons = {
    'firstname': ['Joerg', 'Johanna', 'Caro', 'Philipp'],
    'lastname': ['Faschingbauer', 'Faschingbauer', 'Faschingbauer', 'Lichtenberger'],
    'email': ['jf@faschingbauer.co.at', 'caro@email.com', 'johanna@email.com', 'philipp@email.com'],
    'age': [56, 27, 25, 37],
}

### Enter ``pandas``, ``DataFrame``, ``Series``

In [10]:
import pandas as pd

In [11]:
persons = pd.DataFrame(persons)

**Rows: ``loc``, ``iloc``**

In [19]:
len(persons)

4

**``iloc``: Integer Location**

In [20]:
persons.iloc[1]

firstname           Johanna
lastname      Faschingbauer
email        caro@email.com
age                      27
Name: 1, dtype: object

In [21]:
type(persons.iloc[1])

pandas.core.series.Series

In [22]:
try:
    persons.iloc[4]
except Exception as e:
    print(e, type(e))

single positional indexer is out-of-bounds <class 'IndexError'>

**Row Is series** with column name as index

ref indexes jjj

Note non-integer index type

In [23]:
row = persons.iloc[1]

In [24]:
row

firstname           Johanna
lastname      Faschingbauer
email        caro@email.com
age                      27
Name: 1, dtype: object

In [25]:
row.iloc[0]

'Johanna'

In [26]:
row.loc['firstname']

'Johanna'

Multiple rows

In [27]:
persons.iloc[[0,1]]

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
1   Johanna  Faschingbauer          caro@email.com   27

NOte index is again integer (it is a dataframe)

**``iloc``: Slicing**

In [28]:
persons.iloc[0:2]

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
1   Johanna  Faschingbauer          caro@email.com   27

**``iloc``: Selecting rows and columns**

Row 1, column 2 (which is ``email``)

In [29]:
persons.iloc[1, 2]

'caro@email.com'

Rows 0 and 1, column 2 (``email``)

In [41]:
persons.iloc[[0,1], 2]

0    jf@faschingbauer.co.at
1            caro@email.com
Name: email, dtype: object

In [42]:
persons.iloc[[0,1], [0, 2]]

  firstname                   email
0     Joerg  jf@faschingbauer.co.at
1   Johanna          caro@email.com

**``iloc``: Slicing is Exclusive (like in Python, generally)**

In [32]:
persons.iloc[0:2, 0:3]

  firstname       lastname                   email
0     Joerg  Faschingbauer  jf@faschingbauer.co.at
1   Johanna  Faschingbauer          caro@email.com

**Summary**: ``iloc``

* Works with integers only
* Cannot even specify columns by their names
* Efficient though

**``loc``: Rows (and columns) by Label**

By label? Default index is integer, so ... just the same as ``iloc``

In [33]:
persons.loc[0]

firstname                     Joerg
lastname              Faschingbauer
email        jf@faschingbauer.co.at
age                              56
Name: 0, dtype: object

In [43]:
persons.loc[[0,1]]

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
1   Johanna  Faschingbauer          caro@email.com   27

In [45]:
persons.loc[0:1]

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
1   Johanna  Faschingbauer          caro@email.com   27

But ... labeled columns (an filters ... and ...) ... later jjj

In [46]:
persons.loc[0, ['firstname', 'age']]

firstname    Joerg
age             56
Name: 0, dtype: object

In [47]:
persons.loc[[0, 1], ['firstname', 'age']]

  firstname  age
0     Joerg   56
1   Johanna   27

**``loc``: Slicing is inclusive!**

In [37]:
persons.loc[0:2, 'firstname':'age']

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
1   Johanna  Faschingbauer          caro@email.com   27
2      Caro  Faschingbauer       johanna@email.com   25

Blah not pythonic, but user friendly. As pandas in general -> confusing at times (why iloc[], loc[], and not loc(), iloc())

## Filters

### Blah

In [51]:
persons.loc[persons['lastname'] == 'Faschingbauer']

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
1   Johanna  Faschingbauer          caro@email.com   27
2      Caro  Faschingbauer       johanna@email.com   25

### Simple Equality

In [53]:
persons['lastname'] == 'Faschingbauer'

0     True
1     True
2     True
3    False
Name: lastname, dtype: bool

In [55]:
flt = persons['lastname'] == 'Faschingbauer'

In [58]:
flt

0     True
1     True
2     True
3    False
Name: lastname, dtype: bool

In [56]:
type(flt)

pandas.core.series.Series

In [59]:
persons[flt]

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
1   Johanna  Faschingbauer          caro@email.com   27
2      Caro  Faschingbauer       johanna@email.com   25

**Better:** use ``loc[]`` to avoid confusion with column addressing (we want *rows*)

In [60]:
persons.loc[flt]

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
1   Johanna  Faschingbauer          caro@email.com   27
2      Caro  Faschingbauer       johanna@email.com   25

**Better again:** ``loc`` allows us to select the columns that we want

In [66]:
persons.loc[flt, 'firstname']

0      Joerg
3    Philipp
Name: firstname, dtype: object

### Boolean Expressions

In [68]:
flt = (persons['firstname'] == 'Joerg') & (persons['lastname'] == 'Faschingbauer') | (persons['firstname'] == 'Philipp')

**Attention**: braces are important because '&' binds stronger than '=='. This is bad.

In [64]:
persons.loc[flt]

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
3   Philipp  Lichtenberger       philipp@email.com   37

**Negation**: ``~``

In [69]:
persons.loc[~flt]

  firstname       lastname              email  age
1   Johanna  Faschingbauer     caro@email.com   27
2      Caro  Faschingbauer  johanna@email.com   25

### Neat Helpers

In [70]:
flt = persons['firstname'].isin(['Caro', 'Philipp'])
persons[flt]

  firstname       lastname              email  age
2      Caro  Faschingbauer  johanna@email.com   25
3   Philipp  Lichtenberger  philipp@email.com   37

In [72]:
flt = persons['firstname'].str.startswith('J')
persons[flt]

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
1   Johanna  Faschingbauer          caro@email.com   27

### Updating

#### Straightforward: assign modified copy of Series back into DataFrame

In [ ]:
df2 = df.copy()

In [ ]:
df2['firstname'] = df2['firstname'].str.upper()

In [ ]:
df2

#### Apply On Series

In [ ]:
df['firstname'].apply(len)

In [ ]:
def upper(s):
    return s.upper()

In [ ]:
df['firstname'].apply(upper)

#### Apply On Entire DataFrame

Default direction: 'rows' -> length of each column

In [ ]:
df.apply(len)

In [ ]:
df.apply(len, axis='columns')

#### ``applymap``: Each Element of DataFrama

### Add Rows: Assign To New Index

In [ ]:
df2 = df.copy()

Assign to one-past-last row with ``loc[]`` (doing the same with ``iloc[]`` would appear more logical, but it refuses to "enlarge the object")

In [ ]:
df2.loc[len(df2)] = ('Isolde', 'Haubentaucher', '666608091972', 50)

In [ ]:
df2

### Add Rows: ``append()``

Would be most expressive, but is deprecated

### Add Rows: Concatenating Frames

This appears to be the most recommended approach

In [ ]:
df.columns

In [ ]:
new_users = pd.DataFrame({'firstname': ['Isolde', 'Saskia'], 'lastname': ['Haubentaucher', 'Haubentaucher'], 'svnr': ['666608091972', '456710042003'], 'age': [50, 19]})

In [ ]:
df_whole = pd.concat([df, new_users])

In [ ]:
df_whole

### Groups, Aggregation

#### Naive Approach: Separate Filter for each possible value

In [ ]:
flt = df['lastname'] == 'Faschingbauer'
df.loc[flt, 'age'].mean()

In [ ]:
flt = df['lastname'] == 'Lichtenberger'
df.loc[flt, 'age'].mean()

#### ``groupby``

In [ ]:
lastnames = df.groupby('lastname')

In [ ]:
lastnames

**To give an idea what it is ...**

Converted to a list ...

In [ ]:
list(lastnames)

That into a ``dict`` ... looks like the elements are data frames

In [ ]:
d = dict(list(lastnames))

In [ ]:
d

In [ ]:
type(d['Faschingbauer'])

#### Working with ``groupby``

``get_group()`` gives a DataFrame

In [ ]:
fasch = lastnames.get_group('Faschingbauer')

In [ ]:
fasch

Popular use: aggregation on each group

In [ ]:
fasch['age'].mean()

In [ ]:
fasch['age'].sum()

In [ ]:
try:
    lastnames.get_group('Notexist')
except KeyError as e:
    print(type(e), e)