# 2022-01-17

## Variables and Datatypes

### Comments vs Docstrings

In [1]:
# this is a comment. it tries to explain that the variable 'blah' is assigned the value 42
blah = 42    # this is the assignment

In [2]:
blah

42

In [3]:
def add(l, r):
    'add: takes two parameters, and return the sum of those'
    return l+r

In [4]:
add(1, 2)

3

In [5]:
print(add.__doc__)

add: takes two parameters, and return the sum of those

In [6]:
help(add)

Help on function add in module __main__:

add(l, r)
    add: takes two parameters, and return the sum of those

## Datatypes

### Numbers

In [7]:
a = 42 # int
type(a)

int

In [8]:
a

42

In [9]:
a = 1.5  # float
type(a)

float

In [10]:
a

1.5

In [11]:
a = complex(3, 4)
type(a)

complex

In [12]:
a

(3+4j)

In [13]:
a = True   # boolean
type(a)

bool

In [14]:
1 == 1

True

In [15]:
a = 1 == 1     # operator precedence: a = (1 == 1)
a

True

In [16]:
'x' == 'u'

False

#### Integer (Ganze Zahl)

Unlimited range ...

In [17]:
number = 2**32 - 1
number

4294967295

In [18]:
number += 1
number

4294967296

In [19]:
number = 2**64 - 1
number

18446744073709551615

In [20]:
number += 1
number

18446744073709551616

In [21]:
number = 2**64
number

18446744073709551616

In [22]:
2**100

1267650600228229401496703205376

In [23]:
10**1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [24]:
1234 == 1*10**3 + 2*10**2 + 3*10**1 + 4*10**0

True

In [25]:
-1234

-1234

In [26]:
0xdeadbeef

3735928559

In [27]:
0b10010011

147

#### Integer Numbers: Arithmetic

Floor division: ``//``, Division without Rest

In [28]:
3/2

1.5

In [29]:
3//2

1

Modulo: ``%``, Rest of Division

In [30]:
10%4

2

In [31]:
3%2

1

In [32]:
13%5

3

### Strings

#### Some Methods

In [33]:
s = 'Mississippi'
s.count('ss')

2

In [34]:
s.lower()

'mississippi'

In [35]:
s.find('ss')

2

In [36]:
s.find('ss', 3)

5

In [37]:
s.split('ss')

['Mi', 'i', 'ippi']

(many more)

#### String Formatting: f-Strings

In [38]:
firstname = 'Joerg'
lastname = 'Faschingbauer'
address = 'Prankergasse 33'
zip = '8020'

In [39]:
print(firstname, lastname, address, zip)

Joerg Faschingbauer Prankergasse 33 8020

In [40]:
print(firstname, lastname, address, zip, sep=',')

Joerg,Faschingbauer,Prankergasse 33,8020

In [41]:
text = firstname + ' ' + lastname + '; ' + address + ', ' + zip
print(text)

Joerg Faschingbauer; Prankergasse 33, 8020

In [42]:
text = '{} {}; {}, {}'.format(firstname, lastname, address, zip)
text

'Joerg Faschingbauer; Prankergasse 33, 8020'

In [43]:
text = '{a} {b}; {c}, {d}'.format(a=firstname, b=lastname, c=address, d=zip)
text

'Joerg Faschingbauer; Prankergasse 33, 8020'

In [44]:
text = '{firstname} {lastname}; {address}, {zip}'.format(firstname=firstname, lastname=lastname, address=address, zip=zip)
text

'Joerg Faschingbauer; Prankergasse 33, 8020'

**f-Strings to the rescue**

In [45]:
f'{firstname} {lastname}; {address}, {zip}'

'Joerg Faschingbauer; Prankergasse 33, 8020'

### Datatype Conversions

In [46]:
i = 42
s = str(i)
s

'42'

In [47]:
s = '666'
i = int(s)
i

666

In [48]:
try:
    int('joerg')    # raises an exception
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: 'joerg'

In [49]:
int('0xdeadbeef', 16)

3735928559

In [50]:
int('0b0101', 2)

5

In [51]:
int('0101', 2)

5

In [52]:
float('12.3')

12.3

In [53]:
bool(0)

False

In [54]:
bool(1)

True

In [55]:
bool(42)

True

In [56]:
if 42:     # bool(42)
    print('teifl!')

teifl!

### Boolean

Boolean operators: ``and``, ``or``, ``not``

In [57]:
1 == 2 and 3 == 3

False

In [58]:
1 == 2 or 3 == 3

True

**Short Circuit Evaluation**

In [59]:
def fun1():
    print('fun1')
    return False
def fun2():
    print('fun2')
    return True

In [60]:
value = fun1()

fun1

In [61]:
value

False

In [62]:
fun1() and fun2()

fun1

False

In [63]:
fun2() and fun1()

fun2
fun1

False

In [64]:
fun1() or fun2()

fun1
fun2

True

In [65]:
not True

False

In [66]:
not False

True

In [67]:
not not False

False

### More about Strings

In [68]:
'das ist ein string'

'das ist ein string'

In [69]:
"das ist ein string"

'das ist ein string'

In [70]:
len('das ist ein string')

18

In [71]:
try:
    'was'n das fuer ein string?'
except Exception as e:
    print(type(e), e)

SyntaxError: invalid syntax (729327466.py, line 2)

In [ ]:
"was'n das fuer ein string?"

In [ ]:
try:
    "er sagte "DEPP" zu mir!!"
except Exception as e:
    print(type(e), e)

In [ ]:
'er sagte "DEPP" zu mir!!!'

In [ ]:
"er sagte \"DEPP\" zu mir, was'n das fuer'n Depp?!"

In [ ]:
print('first line\nsecond line')    # linefeed

In [ ]:
print('first\rline')    # carriage return

**Raw String (aka DOS path names, Regular Expressions)**

In [ ]:
windows_path = 'C:\Dokumente\neuer ordner'
print(windows_path)

In [ ]:
windows_path = r'C:\Dokumente\neuer ordner'
print(windows_path)

In [ ]:
line = 'Faschingbauer  ;        Joerg ;        1037190666              '

In [ ]:
regex_str = r'^\s*(.+)\s*;\s*(.+)\s*;\s*(.+)\s*$'

In [ ]:
import re
match = re.search(regex_str, line)

In [ ]:
match.group(0)

In [ ]:
match.group(1)

In [ ]:
match.group(2)

In [ ]:
match.group(3)

**Multiline Strings**

In [ ]:
def f():
    '''This function is rather stupid.
    Rather than letting the user write a simple
    True/False, it calims that it is much better
    to call the function instead.'''
    return True

In [ ]:
help(f)

## Kontrollstrukturen

### ``if``

In [ ]:
answer = 42
if answer == 42:
    print('yaaay!!')

In [ ]:
answer = 1
if answer == 42:
    print('yaaay!!')
else:
    print('bad')

In [72]:
# possible answers: 41, 42, 43 -> elif

answer = 43

if answer == 41:
    print('yaaay!! (41)')
elif answer == 42:
    print('yaaay!! (42)')
elif answer == 43:
    print('yaaay!! (43)')
else:
    print('bad')

yaaay!! (43)

# 2022-01-18

## Miscellanea

### Braces: Single Element Tuples?

In [73]:
l = ['eins', 2, 3.0]
l

['eins', 2, 3.0]

**Mutability**

In [74]:
l.append(4)
l

['eins', 2, 3.0, 4]

**Immutability**

In [75]:
s = 'lower'
s

'lower'

In [76]:
s.upper()

'LOWER'

In [77]:
s

'lower'

In [78]:
t = ('eins', 2, 3.0)    # tuple
t

('eins', 2, 3.0)

In [79]:
try:
    t.append(4)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

**Single element tuples**

In [80]:
t = ('eins')
t

'eins'

In [81]:
type(t)

str

Braces are special

In [82]:
2*5%3

1

In [83]:
(2*5)%3

1

In [84]:
2*(5%3)

4

**Single element tuples, done right**

In [85]:
t = ('eins',)
t

('eins',)

### Ranges -> ``range()`` (``hour_of_day``)

In [86]:
hour_of_day = 2
if 0 <= hour_of_day <= 9:
    print('Good morning, ')

Good morning,

**Range**

In [87]:
for number in range(0,4):
    print(number)

0
1
2
3

In [88]:
hour_of_day = 2
if 0 <= hour_of_day < 10:
    print('Good morning, ')

Good morning,

## ``while`` Loops

Sum of number 0 .. 10 (inclusive)

In [89]:
# 0 + 1 + 2 + ... + 10

In [90]:
sum = 0
num = 0
while num <= 10:
    sum += num
    num += 1
print(sum)

55

In [91]:
sum = 0
for num in range(0, 11):
    sum += num
print(sum)

55

### ``break`` and ``continue``

In [92]:
import random

In [93]:
random.randrange(100)   # evenly distributed random number in range(0, 100)

68

**Search needle in infinite haystack**

In [94]:
# search for needle in haystack
needle = 42
while True:
    number = random.randrange(100)
    if number == needle:
        print('yay!!')
        break
print('found')

yay!!
found

In [95]:
# search for needle in haystack
needle = 42
while True:
    number = random.randrange(100)
    if number != needle:
        continue
    else:
        print('yay!!')
        break
    
print('found')

yay!!
found

**And finite haystacks?**

In [96]:
needle = 42
haystack_size = 100
run = 0
found = False

while run < haystack_size:
    run += 1
    
    number = random.randrange(100)
    if number == needle:
        found = True
        break

if found:
    print('found')
else:
    print('not found')

found

``while`` and ``else``

In [97]:
needle = 42
haystack_size = 100
run = 0

while run < haystack_size:
    run += 1
    
    number = random.randrange(100)
    if number == needle:
        print('found')
        break
else:
    print('not found')

found

## ``yield``, Generator, Iteration Protocol

In [98]:
for num in range(3):
    print(num)

0
1
2

In [99]:
for num in [0,1,2]:
    print(num)

0
1
2

In [100]:
r = range(3)
r     # wtf?

range(0, 3)

**Iterator protocol**

In [101]:
r = range(3)
it = iter(r)
it

In [102]:
num = next(it)
num

0

In [103]:
next(it)

1

In [104]:
next(it)

2

In [105]:
try:
    next(it)
except StopIteration as e:
    print(type(e), e)

<class 'StopIteration'>

In [106]:
for num in range(3):    # <-- iterator protocol
    print(num)

0
1
2

In [107]:
l = [0,1,2]

In [108]:
for num in l:
    print(num)

0
1
2

In [109]:
it = iter(l)

In [110]:
it

In [111]:
next(it)

0

In [112]:
next(it)

1

In [113]:
next(it)

2

In [114]:
try:
    next(it)
except StopIteration:
    pass

## Sequential Datatypes

In [115]:
s = 'abc'
for unicode_code_point in s:
    print(unicode_code_point)

a
b
c

In [116]:
s[1]

'b'

In [117]:
l = [1, 'zwei', 3.0, [0,1,2,3]]
for element in l:
    print(element)

1
zwei
3.0
[0, 1, 2, 3]

In [118]:
l[3]

[0, 1, 2, 3]

**Concatenation**

In [119]:
l_new = [5, 6, 'seven']

In [120]:
l + l_new

[1, 'zwei', 3.0, [0, 1, 2, 3], 5, 6, 'seven']

Original lists remain unmodified

In [121]:
l

[1, 'zwei', 3.0, [0, 1, 2, 3]]

In [122]:
l_new

[5, 6, 'seven']

As opposed to ``+=``

In [123]:
l += l_new

In [124]:
l

[1, 'zwei', 3.0, [0, 1, 2, 3], 5, 6, 'seven']

Mixing types?

In [125]:
l = [1,2,3]
s = 'abc'

In [126]:
l += s

In [127]:
l

[1, 2, 3, 'a', 'b', 'c']

### Sequence Membership

In [128]:
l = [100, 2, 3, 6]

In [129]:
if 100 in l:
    print('yay')

yay

In [130]:
100 in l

True

In [131]:
6 in l

True

In [132]:
2000 in l

False

In [133]:
not 2000 in l

True

In [134]:
2000 not in l

True

## Compound Datatypes

### ``list`` (mutable)

In [135]:
l = []   # empty list
l = list()   # empty list

In [136]:
l = list('abc')
l

['a', 'b', 'c']

In [137]:
l = ['abc']
l

['abc']

In [138]:
l = ['a', 'b', 'c']
l

['a', 'b', 'c']

In [139]:
l.append('D')
l

['a', 'b', 'c', 'D']

In [140]:
l.extend(['e', 'f'])
l

['a', 'b', 'c', 'D', 'e', 'f']

In [141]:
l += ['g', 'h']
l

['a', 'b', 'c', 'D', 'e', 'f', 'g', 'h']

In [142]:
l += 'ijk'
l

['a', 'b', 'c', 'D', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [143]:
try:
    l += 666
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

In [144]:
del l[0]
l

['b', 'c', 'D', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

### ``tuple`` (immutable)

In [145]:
t = ()   # empty tuple
t = tuple()  # empty tuple

In [146]:
t = (1, 2, 'drei')
t

(1, 2, 'drei')

In [147]:
t = tuple('abc')
t

('a', 'b', 'c')

In [148]:
try:
    t = tuple(666)
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

In [149]:
t = (1,2,3)

In [150]:
try:
    t.append(666)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

### ``dict`` (mutable)

In [151]:
d = {}   # empty dictionary
d = dict()  # empty dictionary

In [152]:
d = {
    1: 'one',
    2: 'two',
}

In [153]:
len(d)

2

**Lookup** (in constant time - independent of number of elements)

In [154]:
d[1]

'one'

In [155]:
2 in d

True

In [156]:
d[4] = 'vier'
4 in d

True

In [157]:
d

{1: 'one', 2: 'two', 4: 'vier'}

In [158]:
d[4] = 'four'
d

{1: 'one', 2: 'two', 4: 'four'}

In [159]:
del d[4]
4 in d

False

### ``set`` (mutable)

In [160]:
s = {}   # attention: empty DICTIONARY
s = set()  # empty set

In [161]:
s = {1, 2, 3}
s

{1, 2, 3}

In [162]:
s = set('abc')
s

{'a', 'b', 'c'}

In [163]:
'b' in s

True

In [164]:
5 in s

False

In [165]:
s.add('b')
s

{'a', 'b', 'c'}

In [166]:
s.add('d')
s

{'a', 'b', 'c', 'd'}

In [167]:
s.remove('a')
s

{'b', 'c', 'd'}

**set operation** (Mengenlehre)

In [168]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [169]:
s1 | s2    # union

{1, 2, 3, 4}

In [170]:
s1 & s2   # intersection

{2, 3}

In [171]:
s1 - s2

{1}

**Not ordered**

In [172]:
s = set()

In [173]:
s.add(1000)
s.add(10)
s.add(1)

In [174]:
for i in s:
    print(i)

1000
1
10

## Why Index Based Iteration is not Always the Best Way to Iterate

In [175]:
l = [10, 20, 32, 2, 6]

In [176]:
for index in range(len(l)):    # indices: 0,1,2,3,4
    print(l[index])

10
20
32
2
6

In [177]:
for element in l:
    print(element)

10
20
32
2
6

### How to get Indexes if There are None? (``enumerate()``, and *Tuple Unpacking*)

In [178]:
names = ['Gunnar', 'Liam', 'Joerg']
for name in names:
    print(name)

Gunnar
Liam
Joerg

And Positions?

In [179]:
i = 0
for name in names:
    print(i, name)
    i += 1

0 Gunnar
1 Liam
2 Joerg

In [180]:
for i in range(len(names)):
    print(i, names[i])

0 Gunnar
1 Liam
2 Joerg

In [181]:
for i, name in enumerate(names):   # tuple unpacking
    print(i, name)

0 Gunnar
1 Liam
2 Joerg

In [182]:
for element in enumerate(names):
    print(element)

(0, 'Gunnar')
(1, 'Liam')
(2, 'Joerg')

In [183]:
for element in enumerate(names):
    i, name = element    # tuple unpacking
    print(i, name)

0 Gunnar
1 Liam
2 Joerg

## Functions

In [184]:
def maximum(a, b):
    '''Diese extrem komplexe Funktion berechnet das Maximumum ihrer beiden Parameter.
    Ganz zum Unterschied der built-in Funktion max() nimmt sie nur zwei Parameter und
    nicht beliebig viele.'''
    if a < b:
        return b
    else:
        return a

In [185]:
max = maximum(2, 3)
max

3

In [186]:
variable = 100
type(variable)

int

In [187]:
variable = [1, 2, 3]
type(variable)

list

In [188]:
variable2 = variable

In [189]:
variable.append(4)
variable

[1, 2, 3, 4]

In [190]:
variable2

[1, 2, 3, 4]

In [191]:
type(maximum)

function

In [192]:
maximum(3, 4)

4

In [193]:
maximum2 = maximum
type(maximum2)

function

In [194]:
maximum2(4, 5)

5

In [195]:
import sys
type(sys)

module

In [196]:
maximum(2, 1)

2

In [197]:
maximum('aaa', 'bbb')

'bbb'

In [198]:
try:
    maximum(1, '2')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'str'

### Default Parameters

In [199]:
def greet(phrase, mrmrs, name):
    print(f'{phrase}, {mrmrs} {name}')

In [200]:
greet('Good morning', 'Mr.', 'Joerg')

Good morning, Mr. Joerg

In [201]:
greet('Good morning', 'Mr.', 'Liam')

Good morning, Mr. Liam

In [202]:
try:
    greet('Good morning')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> greet() missing 2 required positional arguments: 'mrmrs' and 'name'

In [203]:
def greet(phrase, mrmrs='Mr.', name='Joerg'):
    print(f'{phrase}, {mrmrs} {name}')

In [204]:
greet('Good morning')

Good morning, Mr. Joerg

In [205]:
greet('Good morning', 'XXX.')

Good morning, XXX. Joerg

In [206]:
greet('Good morning', 'Liam')

Good morning, Liam Joerg

### Keyword Arguments

In [207]:
greet('Good evening', 'Mr.', 'Liam')

Good evening, Mr. Liam

In [208]:
greet(mrmrs='Mr.', name='Liam', phrase='Seas')

Seas, Mr. Liam

## More on Lists

In [209]:
l = [3, 2, 'eins']
l

[3, 2, 'eins']

In [210]:
l.append(4)
l

[3, 2, 'eins', 4]

In [211]:
l1 = l
l.append(5)
l

[3, 2, 'eins', 4, 5]

In [212]:
l1

[3, 2, 'eins', 4, 5]

In [213]:
l.extend([6, 7])
l

[3, 2, 'eins', 4, 5, 6, 7]

In [214]:
l.extend('abc')
l

[3, 2, 'eins', 4, 5, 6, 7, 'a', 'b', 'c']

In [216]:
try:
    l.extend(666)
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

In [217]:
l.insert(0, 'minus eins')
l

['minus eins', 3, 2, 'eins', 4, 5, 6, 7, 'a', 'b', 'c']

In [218]:
l.insert(3, 'vor dem einser')
l

['minus eins', 3, 2, 'vor dem einser', 'eins', 4, 5, 6, 7, 'a', 'b', 'c']

In [219]:
del l[3]

In [220]:
l

['minus eins', 3, 2, 'eins', 4, 5, 6, 7, 'a', 'b', 'c']

In [221]:
elem = l[4]
elem

4

In [222]:
l

['minus eins', 3, 2, 'eins', 4, 5, 6, 7, 'a', 'b', 'c']

In [223]:
elem = l.pop(4)
elem

4

In [224]:
l

['minus eins', 3, 2, 'eins', 5, 6, 7, 'a', 'b', 'c']

``sorted()`` etc. wants non-mixed lists

In [227]:
l = [1, 2.3, 100, 10, 5]

In [229]:
sorted(l)

[1, 2.3, 5, 10, 100]

In [231]:
l

[1, 2.3, 100, 10, 5]

In [232]:
l.sort()

In [233]:
l

[1, 2.3, 5, 10, 100]

### List Comprehensions

Problem: transform [1,2,3,4] into [1,4,9,16]

In [239]:
numbers = [1, 2, 3, 4]
square_numbers = []
for n in numbers:
    square_numbers.append(n**2)
for n in square_numbers:
    print(n)

1
4
9
16

In [237]:
def squares(numbers):
    ret = []
    for n in numbers:
        ret.append(n**2)
    return ret

In [244]:
numbers = [1, 2, 3, 4]
square_numbers = squares(numbers)
for n in square_numbers:
    print(n)

<class 'list'>
1
4
9
16

In [240]:
numbers = [1, 2, 3, 4]
square_numbers = [n**2 for n in numbers]
for n in square_numbers:
    print(n)

1
4
9
16

**Generator Expressions**

In [246]:
def squares_generator(numbers):
    for n in numbers:
        yield n**2

In [247]:
numbers = [1, 2, 3, 4]
square_numbers = squares_generator(numbers)
for n in square_numbers:
    print(n)

yielding 1
1
yielding 4
4
yielding 9
9
yielding 16
16

In [251]:
numbers = [1, 2, 3, 4]
square_numbers = (n**2 for n in numbers)
for n in square_numbers:
    print(n)

4
16

## More on Dictionaries

In [253]:
d = {'zero': 0,
    'one': 1,
    'two': 2}

In [255]:
d['zero']

0

In [256]:
d['three'] = 3

In [258]:
d

{'zero': 0, 'one': 1, 'two': 2, 'three': 3}

In [262]:
try:
    d['seven']
except Exception as e:
    print(type(e), e)

<class 'KeyError'> 'seven'

In [264]:
value = d.get('zero')
value

0

In [267]:
value = d.get('seven')
print(value)

None

In [268]:
value = d.get('seven')
if value:
    print(value)
else:
    print('nix')
    d['seven'] = 7

nix

In [270]:
value = d.get('eight', 8)
value

8

In [272]:
value = d.setdefault('eight', 8)
value

8

In [273]:
d

{'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'seven': 7, 'eight': 8}

In [275]:
other_d = {
    'three': 'drei',
    'four': 4,
    'nine': 'nove'
}

In [276]:
d.update(other_d)
d

{'zero': 0,
 'one': 1,
 'two': 2,
 'three': 'drei',
 'seven': 7,
 'eight': 8,
 'four': 4,
 'nine': 'nove'}

### Iteration over Dictionaries

In [283]:
d

{'zero': 0,
 'one': 1,
 'two': 2,
 'three': 'drei',
 'seven': 7,
 'eight': 8,
 'four': 4,
 'nine': 'nove'}

In [286]:
for element in d:    # iteration over keys
    print(element)

zero
one
two
three
seven
eight
four
nine

In [289]:
for element in d.keys():
    print(element)

zero
one
two
three
seven
eight
four
nine

In [290]:
for element in d.values():
    print(element)

0
1
2
drei
7
8
4
nove

In [292]:
for element in d.items():
    print(element)

('zero', 0)
('one', 1)
('two', 2)
('three', 'drei')
('seven', 7)
('eight', 8)
('four', 4)
('nine', 'nove')

In [295]:
for element in d.items():
    key = element[0]
    value = element[1]
    print(f'Key: {key}, Value: {value}')

Key: zero, Value: 0
Key: one, Value: 1
Key: two, Value: 2
Key: three, Value: drei
Key: seven, Value: 7
Key: eight, Value: 8
Key: four, Value: 4
Key: nine, Value: nove

In [301]:
for element in d.items():
    key, value = element     # tuple unpacking
    print(f'Key: {key}, Value: {value}')

Key: zero, Value: 0
Key: one, Value: 1
Key: two, Value: 2
Key: three, Value: drei
Key: seven, Value: 7
Key: eight, Value: 8
Key: four, Value: 4
Key: nine, Value: nove

In [303]:
for key, value in d.items():     # tuple unpacking
    print(f'Key: {key}, Value: {value}')

Key: zero, Value: 0
Key: one, Value: 1
Key: two, Value: 2
Key: three, Value: drei
Key: seven, Value: 7
Key: eight, Value: 8
Key: four, Value: 4
Key: nine, Value: nove

### Building Dictionaries

In [304]:
d = {}   # empty dictionary
s = set() # empty set
d = {1: 2, 2: 3}
d

{1: 2, 2: 3}

In [306]:
items = [(1, 2), (2, 3)]
d = dict(items)
d

{1: 2, 2: 3}

In [307]:
items = list(d.items())
items

[(1, 2), (2, 3)]

## More on Sets

In [309]:
s = {}  # empty dictionary
type(s)

dict

In [310]:
s = set() # empty set
s = {1, 2, 3}

In [312]:
s = set('abc')
s

{'a', 'b', 'c'}

In [314]:
s = set([3, 4, 2, 1, 5])
s

{1, 2, 3, 4, 5}

## Miscellaneous String Methods

In [317]:
s = '      \n\t   \r'   # only whitespace
s.isspace()

True

In [319]:
s = 'abc'
s.isalpha()

True

In [321]:
'12345'.isdigit()

True

In [323]:
'buchhaltung.csv'.endswith('.csv')

True

In [325]:
'buchhaltung.csv'.startswith('buch')

True

In [327]:
'OOOO'.center(100)

'                                                OOOO                                                '

In [332]:
'Joerg'.isupper()

False

In [334]:
'Mississippi'.count('ss')

2

In [335]:
'Mississippi'.find('ss')

2

In [336]:
'Mississippi'.find('ss', 3)

5

In [338]:
'Mississippi'.find('zz')

-1

In [340]:
if 'Mississippi'.find('zz') == -1:
    print('traurig')
else:
    print('yay')

traurig

In [343]:
try:
    'Mississippi'.index('zz')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> substring not found

In [346]:
row = 'jfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash'
fields = row.split(':')
fields

['jfasch',
 'x',
 '1000',
 '1000',
 'Joerg Faschingbauer',
 '/home/jfasch',
 '/bin/bash']

Tuple unpacking:

In [349]:
user, passwd, uid, gid, descr, home, shell = row.split(':')
user

'jfasch'

In [352]:
'-'.join(['hello', 'world', 'und', 'sonst', 'alle'])

'hello-world-und-sonst-alle'

In [353]:
'    \n \t     irgendwas    \r'.strip()

'irgendwas'

In [354]:
'    \n \t     irgendwas    \r'.lstrip()

'irgendwas    \r'

In [355]:
'    \n \t     irgendwas    \r'.rstrip()

'    \n \t     irgendwas'