# 2022-01-17

## Variables and Datatypes

### Comments vs Docstrings

In [1]:
# this is a comment. it tries to explain that the variable 'blah' is assigned the value 42
blah = 42    # this is the assignment

In [2]:
blah

42

In [3]:
def add(l, r):
    'add: takes two parameters, and return the sum of those'
    return l+r

In [4]:
add(1, 2)

3

In [5]:
print(add.__doc__)

add: takes two parameters, and return the sum of those

In [6]:
help(add)

Help on function add in module __main__:

add(l, r)
    add: takes two parameters, and return the sum of those

## Datatypes

### Numbers

In [7]:
a = 42 # int
type(a)

int

In [8]:
a

42

In [9]:
a = 1.5  # float
type(a)

float

In [10]:
a

1.5

In [11]:
a = complex(3, 4)
type(a)

complex

In [12]:
a

(3+4j)

In [13]:
a = True   # boolean
type(a)

bool

In [14]:
1 == 1

True

In [15]:
a = 1 == 1     # operator precedence: a = (1 == 1)
a

True

In [16]:
'x' == 'u'

False

#### Integer (Ganze Zahl)

Unlimited range ...

In [17]:
number = 2**32 - 1
number

4294967295

In [18]:
number += 1
number

4294967296

In [19]:
number = 2**64 - 1
number

18446744073709551615

In [20]:
number += 1
number

18446744073709551616

In [21]:
number = 2**64
number

18446744073709551616

In [22]:
2**100

1267650600228229401496703205376

In [23]:
10**1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [24]:
1234 == 1*10**3 + 2*10**2 + 3*10**1 + 4*10**0

True

In [25]:
-1234

-1234

In [26]:
0xdeadbeef

3735928559

In [27]:
0b10010011

147

#### Integer Numbers: Arithmetic

Floor division: ``//``, Division without Rest

In [28]:
3/2

1.5

In [29]:
3//2

1

Modulo: ``%``, Rest of Division

In [30]:
10%4

2

In [31]:
3%2

1

In [32]:
13%5

3

### Strings

In [33]:
s = 'Mississippi'
s.count('ss')

2

In [34]:
s.lower()

'mississippi'

In [35]:
s.find('ss')

2

In [36]:
s.find('ss', 3)

5

In [37]:
s.split('ss')

['Mi', 'i', 'ippi']

(many more)

### Datatype Conversions

In [38]:
i = 42
s = str(i)
s

'42'

In [39]:
s = '666'
i = int(s)
i

666

In [40]:
try:
    int('joerg')    # raises an exception
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: 'joerg'

In [41]:
int('0xdeadbeef', 16)

3735928559

In [42]:
int('0b0101', 2)

5

In [43]:
int('0101', 2)

5

In [44]:
float('12.3')

12.3

In [45]:
bool(0)

False

In [46]:
bool(1)

True

In [47]:
bool(42)

True

In [48]:
if 42:     # bool(42)
    print('teifl!')

teifl!

### Boolean

Boolean operators: ``and``, ``or``, ``not``

In [49]:
1 == 2 and 3 == 3

False

In [50]:
1 == 2 or 3 == 3

True

**Short Circuit Evaluation**

In [51]:
def fun1():
    print('fun1')
    return False
def fun2():
    print('fun2')
    return True

In [52]:
value = fun1()

fun1

In [53]:
value

False

In [54]:
fun1() and fun2()

fun1

False

In [55]:
fun2() and fun1()

fun2
fun1

False

In [56]:
fun1() or fun2()

fun1
fun2

True

In [57]:
not True

False

In [58]:
not False

True

In [59]:
not not False

False

### More about Strings

In [60]:
'das ist ein string'

'das ist ein string'

In [61]:
"das ist ein string"

'das ist ein string'

In [62]:
len('das ist ein string')

18

In [63]:
try:
    'was'n das fuer ein string?'
except Exception as e:
    print(type(e), e)

SyntaxError: invalid syntax (729327466.py, line 2)

In [ ]:
"was'n das fuer ein string?"

In [ ]:
try:
    "er sagte "DEPP" zu mir!!"
except Exception as e:
    print(type(e), e)

In [ ]:
'er sagte "DEPP" zu mir!!!'

In [ ]:
"er sagte \"DEPP\" zu mir, was'n das fuer'n Depp?!"

In [ ]:
print('first line\nsecond line')    # linefeed

In [ ]:
print('first\rline')    # carriage return

**Raw String (aka DOS path names, Regular Expressions)**

In [ ]:
windows_path = 'C:\Dokumente\neuer ordner'
print(windows_path)

In [ ]:
windows_path = r'C:\Dokumente\neuer ordner'
print(windows_path)

In [ ]:
line = 'Faschingbauer  ;        Joerg ;        1037190666              '

In [ ]:
regex_str = r'^\s*(.+)\s*;\s*(.+)\s*;\s*(.+)\s*$'

In [ ]:
import re
match = re.search(regex_str, line)

In [ ]:
match.group(0)

In [ ]:
match.group(1)

In [ ]:
match.group(2)

In [ ]:
match.group(3)

**Multiline Strings**

In [ ]:
def f():
    '''This function is rather stupid.
    Rather than letting the user write a simple
    True/False, it calims that it is much better
    to call the function instead.'''
    return True

In [ ]:
help(f)

## Kontrollstrukturen

### ``if``

In [ ]:
answer = 42
if answer == 42:
    print('yaaay!!')

In [ ]:
answer = 1
if answer == 42:
    print('yaaay!!')
else:
    print('bad')

In [ ]:
# possible answers: 41, 42, 43 -> elif

answer = 43

if answer == 41:
    print('yaaay!! (41)')
elif answer == 42:
    print('yaaay!! (42)')
elif answer == 43:
    print('yaaay!! (43)')
else:
    print('bad')

# 2022-01-18

## Miscellanea

### Braces: Single Element Tuples?

In [ ]:
l = ['eins', 2, 3.0]
l

**Mutability**

In [ ]:
l.append(4)
l

**Immutability**

In [ ]:
s = 'lower'
s

In [ ]:
s.upper()

In [ ]:
s

In [ ]:
t = ('eins', 2, 3.0)    # tuple
t

In [ ]:
try:
    t.append(4)
except Exception as e:
    print(type(e), e)

**Single element tuples**

In [ ]:
t = ('eins')
t

In [ ]:
type(t)

Braces are special

In [ ]:
2*5%3

In [ ]:
(2*5)%3

In [64]:
2*(5%3)

4

**Single element tuples, done right**

In [65]:
t = ('eins',)
t

('eins',)

### Ranges -> ``range()`` (``hour_of_day``)

In [66]:
hour_of_day = 2
if 0 <= hour_of_day <= 9:
    print('Good morning, ')

Good morning,

**Range**

In [67]:
for number in range(0,4):
    print(number)

0
1
2
3

In [68]:
hour_of_day = 2
if 0 <= hour_of_day < 10:
    print('Good morning, ')

Good morning,

## ``while`` Loops

Sum of number 0 .. 10 (inclusive)

In [69]:
# 0 + 1 + 2 + ... + 10

In [70]:
sum = 0
num = 0
while num <= 10:
    sum += num
    num += 1
print(sum)

55

In [71]:
sum = 0
for num in range(0, 11):
    sum += num
print(sum)

55

### ``break`` and ``continue``

In [72]:
import random

In [73]:
random.randrange(100)   # evenly distributed random number in range(0, 100)

44

**Search needle in infinite haystack**

In [74]:
# search for needle in haystack
needle = 42
while True:
    number = random.randrange(100)
    if number == needle:
        print('yay!!')
        break
print('found')

yay!!
found

In [75]:
# search for needle in haystack
needle = 42
while True:
    number = random.randrange(100)
    if number != needle:
        continue
    else:
        print('yay!!')
        break
    
print('found')

yay!!
found

**And finite haystacks?**

In [76]:
needle = 42
haystack_size = 100
run = 0
found = False

while run < haystack_size:
    run += 1
    
    number = random.randrange(100)
    if number == needle:
        found = True
        break

if found:
    print('found')
else:
    print('not found')

found

``while`` and ``else``

In [77]:
needle = 42
haystack_size = 100
run = 0

while run < haystack_size:
    run += 1
    
    number = random.randrange(100)
    if number == needle:
        print('found')
        break
else:
    print('not found')

found

## ``yield``, Generator, Iteration Protocol

In [78]:
for num in range(3):
    print(num)

0
1
2

In [79]:
for num in [0,1,2]:
    print(num)

0
1
2

In [80]:
r = range(3)
r     # wtf?

range(0, 3)

**Iterator protocol**

In [81]:
r = range(3)
it = iter(r)
it

In [82]:
num = next(it)
num

0

In [83]:
next(it)

1

In [84]:
next(it)

2

In [85]:
try:
    next(it)
except StopIteration as e:
    print(type(e), e)

<class 'StopIteration'>

In [86]:
for num in range(3):    # <-- iterator protocol
    print(num)

0
1
2

In [87]:
l = [0,1,2]

In [88]:
for num in l:
    print(num)

0
1
2

In [89]:
it = iter(l)

In [90]:
it

In [91]:
next(it)

0

In [92]:
next(it)

1

In [93]:
next(it)

2

In [94]:
try:
    next(it)
except StopIteration:
    pass

## Sequential Datatypes

In [95]:
s = 'abc'
for unicode_code_point in s:
    print(unicode_code_point)

a
b
c

In [96]:
s[1]

'b'

In [97]:
l = [1, 'zwei', 3.0, [0,1,2,3]]
for element in l:
    print(element)

1
zwei
3.0
[0, 1, 2, 3]

In [98]:
l[3]

[0, 1, 2, 3]

**Concatenation**

In [99]:
l_new = [5, 6, 'seven']

In [100]:
l + l_new

[1, 'zwei', 3.0, [0, 1, 2, 3], 5, 6, 'seven']

Original lists remain unmodified

In [101]:
l

[1, 'zwei', 3.0, [0, 1, 2, 3]]

In [102]:
l_new

[5, 6, 'seven']

As opposed to ``+=``

In [103]:
l += l_new

In [104]:
l

[1, 'zwei', 3.0, [0, 1, 2, 3], 5, 6, 'seven']

Mixing types?

In [105]:
l = [1,2,3]
s = 'abc'

In [106]:
l += s

In [107]:
l

[1, 2, 3, 'a', 'b', 'c']

### Sequence Membership

In [108]:
l = [100, 2, 3, 6]

In [109]:
if 100 in l:
    print('yay')

yay

In [110]:
100 in l

True

In [111]:
6 in l

True

In [112]:
2000 in l

False

In [113]:
not 2000 in l

True

In [114]:
2000 not in l

True

## Compound Datatypes

### ``list`` (mutable)

In [115]:
l = []   # empty list
l = list()   # empty list

In [116]:
l = list('abc')
l

['a', 'b', 'c']

In [117]:
l = ['abc']
l

['abc']

In [118]:
l = ['a', 'b', 'c']
l

['a', 'b', 'c']

In [119]:
l.append('D')
l

['a', 'b', 'c', 'D']

In [120]:
l.extend(['e', 'f'])
l

['a', 'b', 'c', 'D', 'e', 'f']

In [121]:
l += ['g', 'h']
l

['a', 'b', 'c', 'D', 'e', 'f', 'g', 'h']

In [122]:
l += 'ijk'
l

['a', 'b', 'c', 'D', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [151]:
try:
    l += 666
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

In [152]:
del l[0]
l

['b', 'c', 'D', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

### ``tuple`` (immutable)

In [125]:
t = ()   # empty tuple
t = tuple()  # empty tuple

In [126]:
t = (1, 2, 'drei')
t

(1, 2, 'drei')

In [128]:
t = tuple('abc')
t

('a', 'b', 'c')

In [131]:
try:
    t = tuple(666)
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

In [134]:
t = (1,2,3)

In [136]:
try:
    t.append(666)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

### ``dict`` (mutable)

In [137]:
d = {}   # empty dictionary
d = dict()  # empty dictionary

In [138]:
d = {
    1: 'one',
    2: 'two',
}

In [140]:
len(d)

2

**Lookup** (in constant time - independent of number of elements)

In [142]:
d[1]

'one'

In [144]:
2 in d

True

In [148]:
d[4] = 'vier'
4 in d

True

In [146]:
d

{1: 'one', 2: 'two', 4: 'vier'}

In [149]:
d[4] = 'four'
d

{1: 'one', 2: 'two', 4: 'four'}

In [150]:
del d[4]
4 in d

False

### ``set`` (mutable)

In [153]:
s = {}   # attention: empty DICTIONARY
s = set()  # empty set

In [154]:
s = {1, 2, 3}
s

{1, 2, 3}

In [155]:
s = set('abc')
s

{'a', 'b', 'c'}

In [156]:
'b' in s

True

In [159]:
5 in s

False

In [166]:
s.add('b')
s

{'b', 'c', 'd'}

In [161]:
s.add('d')
s

{'a', 'b', 'c', 'd'}

In [162]:
s.remove('a')
s

{'b', 'c', 'd'}

**set operation** (Mengenlehre)

In [163]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [168]:
s1 | s2    # union

{1, 2, 3, 4}

In [170]:
s1 & s2   # intersection

{2, 3}

In [171]:
s1 - s2

{1}

**Not ordered**

In [184]:
s = set()

In [185]:
s.add(1000)
s.add(10)
s.add(1)

In [186]:
for i in s:
    print(i)

1000
1
10

## Why Index Based Iteration is not Always the Best Way to Iterate

In [188]:
l = [10, 20, 32, 2, 6]

In [189]:
for index in range(len(l)):    # indices: 0,1,2,3,4
    print(l[index])

10
20
32
2
6

In [191]:
for element in l:
    print(element)

10
20
32
2
6

### How to get Indexes if There are None? (``enumerate()``, and *Tuple Unpacking*)

In [193]:
names = ['Gunnar', 'Liam', 'Joerg']
for name in names:
    print(name)

Gunnar
Liam
Joerg

And Positions?

In [194]:
i = 0
for name in names:
    print(i, name)
    i += 1

0 Gunnar
1 Liam
2 Joerg

In [196]:
for i in range(len(names)):
    print(i, names[i])

0 Gunnar
1 Liam
2 Joerg

In [202]:
for i, name in enumerate(names):   # tuple unpacking
    print(i, name)

0 Gunnar
1 Liam
2 Joerg

In [200]:
for element in enumerate(names):
    print(element)

(0, 'Gunnar')
(1, 'Liam')
(2, 'Joerg')

In [203]:
for element in enumerate(names):
    i, name = element    # tuple unpacking
    print(i, name)

0 Gunnar
1 Liam
2 Joerg