# Python Advanced (2023-09-25 - 2023-09-27)

## JSON

In [1]:
user = {
    'id': 1,
    'firstname': 'Joerg',
    'lastname': 'Faschingbauer',
}

In [2]:
user

{'id': 1, 'firstname': 'Joerg', 'lastname': 'Faschingbauer'}

In [3]:
type(user)

dict

In [4]:
import json

In [5]:
data_to_send = json.dumps(user)

In [7]:
type(data_to_send)

str

In [8]:
print(data_to_send)

{"id": 1, "firstname": "Joerg", "lastname": "Faschingbauer"}

In [9]:
repr(data_to_send)

'\'{"id": 1, "firstname": "Joerg", "lastname": "Faschingbauer"}\''

Now ``data_to_send`` is sent over a tcp connection, and received into a variable ``data_received``

In [10]:
data_received = data_to_send

In [12]:
type(data_received)

str

In [13]:
user_received = json.loads(data_received)

In [15]:
user_received

{'id': 1, 'firstname': 'Joerg', 'lastname': 'Faschingbauer'}

## Equality vs. Identity

In [16]:
d1 = {
    'id': 1,
    'firstname': 'Joerg',
}

In [17]:
d2 = {
    'id': 1,
    'firstname': 'Joerg',
}

In [18]:
d1 == d2

True

In [19]:
d1 is d2

False

In [20]:
id(d1)

140048588115008

In [21]:
id(d2)

140048588341376

In [22]:
id(d1) == id(d2)

False

## Functions Are Objects

In [23]:
def add(a, b):
    return a + b

In [24]:
add(1, 2)

3

In [25]:
summe = add

In [26]:
summe(1,2)

3