# Jupyter Notebook: Python Advanced

## Jupyter Notebook Explanation

blah blah

In [1]:
print('hello world')

hello world

In [2]:
answer = 42

In [3]:
print(answer)

42

## Python Basics Recap

In [4]:
i = 42

In [5]:
type(i)

int

In [6]:
i = '42'

In [7]:
type(i)

str

In [8]:
def foo():
    print('hello')

In [9]:
type(foo)

function

In [10]:
foo = i

In [11]:
print(foo)

42

In [12]:
class Foo:
    def foo(self):
        print('foo hier')

In [13]:
f = Foo()

In [14]:
f.foo()

foo hier

In [15]:
type(f)

__main__.Foo

In [16]:
type(Foo)

type

In [17]:
dir(Foo)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'foo']

### Data Types

#### Integers and Floats

In [18]:
i = 42

In [19]:
type(i)

int

In [20]:
i = 2**64 - 1

In [21]:
i

18446744073709551615

In [22]:
i += 1

In [23]:
i

18446744073709551616

In [24]:
type(i)

int

In [25]:
if i == 2**64-1:
    print('jessas!')

In [26]:
i = 2

In [27]:
f = 42.666

In [28]:
type(f)

float

In [29]:
i + f

44.666

In [30]:
type(i)

int

In [31]:
i.__add__(f)

NotImplemented

In [32]:
f.__add__(i)

44.666

In [33]:
i - f

-40.666

In [34]:
i.__sub__(f)

NotImplemented

In [35]:
f.__rsub__(i)

-40.666

In [36]:
10**1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

### Datatype Conversions

In [37]:
class Foo:
    def foo(self):
        print('foo hier')

In [38]:
f = Foo()

In [39]:
type(f)

__main__.Foo

In [40]:
s = '42'

In [41]:
type(s)

str

In [42]:
i = int(s)

In [43]:
i

42

In [44]:
str(i)

'42'

In [45]:
type(i)

int

In [46]:
float('42.666')

42.666

In [47]:
try:
    int('abc')
except ValueError as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: 'abc'

In [48]:
int('abc', 16)

2748

In [49]:
int(42.666)

42

In [50]:
try:
    int('42.666')
except ValueError as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: '42.666'

In [51]:
s = 'hello'

In [52]:
s += ' world'

In [53]:
s

'hello world'

In [54]:
i

42

In [55]:
print(i)

42

In [56]:
type(f)

__main__.Foo

In [57]:
print_s = str(i)

In [58]:
print_s

'42'

In [59]:
print(print_s)

42

In [60]:
str(i)

'42'

In [61]:
i.__str__()

'42'

In [62]:
class Person:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname

In [63]:
joerg = Person('Joerg', 'Faschingbauer')

In [64]:
type(joerg)

__main__.Person

In [65]:
print(joerg)

<__main__.Person object at 0x7f0b165fdf00>

In [66]:
class Person:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname
    def __str__(self):
        return f'{self.firstname} {self.lastname}'

In [67]:
joerg = Person('Joerg', 'Faschingbauer')

In [68]:
print(joerg)

Joerg Faschingbauer

### Strings: String Methods, Docstrings, ...

In [69]:
s = 'hello'

In [70]:
s

'hello'

In [71]:
s = "hello"

In [72]:
s

'hello'

In [73]:
s = "hello \"world\""

In [74]:
s

'hello "world"'

In [75]:
s = 'hello "world"'

In [76]:
s

'hello "world"'

In [77]:
dos_path = "C:\Dokumente\neues zeug"

In [78]:
print(dos_path)

C:\Dokumente
eues zeug

In [79]:
dos_path = "C:\\Dokumente\\neues zeug"

In [80]:
print(dos_path)

C:\Dokumente\neues zeug

In [81]:
dos_path = r"C:\Dokumente\neues zeug"

In [82]:
print(dos_path)

C:\Dokumente\neues zeug

Docstrings, Multiline Strings

In [83]:
s = '''erste zeile
zweite zeile
'''

In [84]:
print(s)

erste zeile
zweite zeile

In [85]:
def foo():
    '''
    Das ist eine Funktion, von der
    keiner weiss, was sie tut, weil sie keinen
    vernuenftigen Namen hat.
    '''
    return 666

In [86]:
foo

In [87]:
foo.__doc__

'\n    Das ist eine Funktion, von der\n    keiner weiss, was sie tut, weil sie keinen\n    vernuenftigen Namen hat.\n    '

In [88]:
help(foo)

Help on function foo in module __main__:

foo()
    Das ist eine Funktion, von der
    keiner weiss, was sie tut, weil sie keinen
    vernuenftigen Namen hat.

In [89]:
class Foo:
    '''
    Das ist eine Klasse, von der
    keiner weiss, was sie tut, weil sie keinen
    vernuenftigen Namen hat.'''
    
    def foo(self):
        '''
        Das ist eine Funktion, von der
        keiner weiss, was sie tut, weil sie keinen
        vernuenftigen Namen hat.'''
        return 666

In [90]:
help(Foo)

Help on class Foo in module __main__:

class Foo(builtins.object)
 |  Das ist eine Klasse, von der
 |  keiner weiss, was sie tut, weil sie keinen
 |  vernuenftigen Namen hat.
 |
 |  Methods defined here:
 |
 |  foo(self)
 |      Das ist eine Funktion, von der
 |      keiner weiss, was sie tut, weil sie keinen
 |      vernuenftigen Namen hat.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [91]:
s = 'hello'
s1 = 'world'

In [92]:
s + ' ' + s1

'hello world'

In [93]:
try:
    42 < s
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'str'

In [94]:
s = 'mississippi'

In [95]:
s.count('ss')

2

In [96]:
s.find('ss')

2

In [97]:
s.find('ss', 3)

5

In [98]:
s.find('xxx')

-1

In [99]:
s.index('ss')

2

In [100]:
try:
    s.index('xxx')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> substring not found

In [101]:
s.center(50)

'                   mississippi                    '

### Python Documentation Overview: https://docs.python.org/3/

``class str(object='')``

In [102]:
str()

''

In [103]:
str('')

''

``class str(object=b'', encoding='utf-8', errors='strict')``

In [104]:
str(b'J\xf6rg', encoding='iso-8859-1')

'Jörg'

### Compound Datatypes

#### List

In [105]:
l = [1,2,3]

In [106]:
l.append(4)

In [107]:
l

[1, 2, 3, 4]

In [108]:
l.append('five')

In [109]:
l

[1, 2, 3, 4, 'five']

In [110]:
del l[0]

In [111]:
l

[2, 3, 4, 'five']

In [112]:
try:
    del l[100]
except Exception as e:
    print(type(e), e)

<class 'IndexError'> list assignment index out of range

In [113]:
l

[2, 3, 4, 'five']

In [114]:
l.pop(1)

3

In [115]:
l

[2, 4, 'five']

In [116]:
l

[2, 4, 'five']

In [117]:
l = [1,2,3,4,5]

In [118]:
l[1:4]

[2, 3, 4]

In [119]:
l[1:4] = []

In [120]:
l

[1, 5]

In [121]:
l[1:1]

[]

In [122]:
l[1:1] = [2,3,4]

In [123]:
l

[1, 2, 3, 4, 5]

In [124]:
l[1:4] = ['zwei', 'drei']

In [125]:
l

[1, 'zwei', 'drei', 5]

In [126]:
l[0:0] = [-2, -1, 0]

In [127]:
l

[-2, -1, 0, 1, 'zwei', 'drei', 5]

In [128]:
l.insert(0, -3)

In [129]:
l

[-3, -2, -1, 0, 1, 'zwei', 'drei', 5]

In [130]:
'zwei' in l

True

In [131]:
5 in l

True

In [132]:
666 in l

False

#### Set

In [133]:
s = {1,2,3,4}

In [134]:
3 in s

True

In [135]:
s.add(666)

In [136]:
s

{1, 2, 3, 4, 666}

In [137]:
s.remove(2)

In [138]:
s

{1, 3, 4, 666}

In [139]:
s1 = {1, 2, 3, 4}

In [140]:
s2 = {3, 4, 5, 6}

In [141]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [142]:
s1 - s2

{1, 2}

In [143]:
s1 ^ s2

{1, 2, 5, 6}

In [144]:
s1 & s2

{3, 4}

In [145]:
dir(s1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#### Dictionary

In [146]:
d = {1: 'eins', 2: 'zwei'}

In [147]:
type(d)

dict

In [148]:
d[1]

'eins'

In [149]:
try:
    d[3]
except Exception as e:
    print(type(e), e)

<class 'KeyError'> 3

In [150]:
3 in d

False

In [151]:
2 in d

True

In [152]:
d.get(2)

'zwei'

In [153]:
v = d.get(2)

In [154]:
v

'zwei'

In [155]:
v = d.get(3)

In [156]:
print(v)

None

In [157]:
type(v)

NoneType

In [158]:
if d.get(3) is None:
    v = 'drei'
else:
    v = d.get(3)

In [159]:
print(v)

drei

In [160]:
v = d.get(3, 'drei')
print(v)

drei

In [161]:
d[3] = 'drei'

In [162]:
d[3]

'drei'

In [163]:
if 4 in d:
    v = d[4]
else:
    d[4] = 'vier'
    v = d[4]

In [164]:
v = d.setdefault(5, 'fuenf')
print(v)

fuenf

#### Iteration

In [165]:
l = [1, 2, 3, 4]

In [166]:
for element in l:
    print(element)

1
2
3
4

In [167]:
s = {1,2,3,4}

In [168]:
for element in s:
    print(element)

1
2
3
4

In [169]:
d = {1:'eins', 2:'zwei', 3: 'drei'}

In [170]:
for element in d:
    print(element)

1
2
3

In [171]:
for element in d.keys():
    print(element)

1
2
3

In [172]:
for element in d.values():
    print(element)

eins
zwei
drei

In [173]:
for element in d.items():
    print(element)

(1, 'eins')
(2, 'zwei')
(3, 'drei')

In [174]:
for element in d.items():
    k = element[0]
    v = element[1]
    print(k, v)

1 eins
2 zwei
3 drei

In [175]:
for k, v in d.items():
    print(k, v)

1 eins
2 zwei
3 drei

Tuple unpacking

In [176]:
l = [3, 4, 5]
a, b, c = l

In [177]:
print(a, b, c)

3 4 5

In [178]:
l = [1, 2, 3, 4]

In [179]:
try:
    a, b, c = l
except Exception as e:
    print(type(e), e)

<class 'ValueError'> too many values to unpack (expected 3)

In [180]:
a, b, *rest = l

In [181]:
print(a, b)

1 2

In [182]:
rest

[3, 4]

#### ``assert``

In [183]:
def foo(bar):
    'Compute a foo from a bar string'
    assert type(bar) is str
    return bar*5

In [184]:
foo('hallo')

'hallohallohallohallohallo'

In [185]:
try:
    foo([1, 2, 3])
except AssertionError:   # <--- DON'T DO THIS! NEVER EVER!!
    pass

## References, (Im)mutability

In [186]:
a = 42

In [187]:
id(a)

139685905188368

In [188]:
b = a

In [189]:
id(b)

139685905188368

In [190]:
a += 1

In [191]:
a

43

In [192]:
b

42

In [193]:
id(b)

139685905188368

In [194]:
id(a)

139685905188400

In [195]:
a = [1, 2, 3]
b = a

In [196]:
a is b

True

In [197]:
id(a) == id(b)

True

In [198]:
c = a[:]

In [199]:
c is a

False

In [200]:
l1 = [1, [2, 3, 4], 5]

In [201]:
len(l1)

3

In [202]:
l2 = l1[:]

In [203]:
l2 is l1

False

In [204]:
l1

[1, [2, 3, 4], 5]

In [205]:
l2

[1, [2, 3, 4], 5]

In [206]:
l1.append(6)

In [208]:
l1

[1, [2, 3, 4], 5, 6]

In [209]:
l2

[1, [2, 3, 4], 5]

In [210]:
l1[1].append(666)

In [212]:
l1

[1, [2, 3, 4, 666], 5, 6]

In [214]:
l2

[1, [2, 3, 4, 666], 5]

Deep copy

In [216]:
import copy

In [217]:
l1 = [1, [2,3,4], 5]

In [218]:
l2 = copy.deepcopy(l1)

In [219]:
l1 is l2

False

In [220]:
l1[1] is l2[1]

False

In [221]:
class Person:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname

In [227]:
joerg = Person('Joerg', 'Faschingbauer')

In [223]:
joerg

In [226]:
joerg.__dict__

{'firstname': 'Joerg', 'lastname': 'Fasschingbauer'}

Strings are immutable

In [228]:
s1 = 'hello'

In [229]:
id(s1)

139685602274352

In [230]:
s1 += ' '

In [239]:
id(s1)

139685561461616

Lists are mutable

In [234]:
l = [1,2,3]

In [235]:
id(l)

139685561690240

In [236]:
l.append(4)

In [238]:
id(l)

139685561690240

And tuples?

In [242]:
t = (1, 2, 3)

In [243]:
id(t)

139685561316032

In [244]:
t += (4, 5)

In [245]:
id(t)

139685595970464

In [248]:
try:
    t.append(6)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

And dictionary? -> ``frozendict``

In [249]:
d = {1:'eins', 2:'zwei'}

In [251]:
id(d)

139685561151488

In [252]:
d.setdefault(3, 'three')

'three'

In [255]:
id(d)

139685561151488

## Iteration, Generators, Iterator Protocol

In [263]:
l = [0, 1, 2]

In [264]:
print(l)

[0, 1, 2]

In [260]:
for element in l:
    print(element)

0
1
2

In [262]:
for element in range(3):
    print(element)

0
1
2

In [265]:
r = range(3)

In [267]:
for element in r:
    print(element)

0
1
2

In [270]:
print(r)

range(0, 3)

In [272]:
range(3*10**7)

range(0, 30000000)

In [279]:
for element in l:
    print(element)

0
1
2

Iterator Protocol

In [275]:
l

[0, 1, 2]

In [276]:
it = iter(l)

In [278]:
type(it)

list_iterator

In [280]:
next(it)

0

In [281]:
next(it)

1

In [282]:
next(it)

2

In [284]:
try:
    next(it)
except Exception as e:
    print(type(e), e)

<class 'StopIteration'>

In [285]:
r = range(3)

In [286]:
it = iter(r)

In [287]:
next(it)

0

In [288]:
next(it)

1

In [289]:
next(it)

2

In [291]:
try:
    next(it)
except Exception as e:
    print(type(e), e)

<class 'StopIteration'>

Enter ``yield``

In [303]:
def my_iterable():
    print('before 0')
    yield 0
    print('before 1')
    yield 1
    print('before 2')
    yield 2
    print('done')

In [304]:
m = my_iterable()

In [305]:
type(m)

generator

In [306]:
it = iter(m)

In [307]:
next(it)

before 0

0

In [308]:
next(it)

before 1

1

In [309]:
next(it)

before 2

2

In [310]:
try:
    next(it)
except Exception as e:
    print(type(e), e)

done
<class 'StopIteration'>

In [301]:
m = my_iterable()

In [302]:
for element in m:
    print(element)

0
1
2

In [316]:
def even_numbers(start, end):
    run = start
    while run < end:
        if run % 2 == 0:
            yield run
        run += 1

In [317]:
for element in even_numbers(5, 20):
    print(element)

6
8
10
12
14
16
18

# AAARGHHH

In [319]:
def f(a, b):
    print(a, b)

In [320]:
f(1, 2)

1 2

In [321]:
l = [1,2]

In [322]:
f(l[0], l[1])

1 2

In [323]:
f(*l)

1 2

In [324]:
def f(*args):
    print(args)

In [326]:
f(1, 2)

(1, 2)

In [329]:
f(1, 2, 3)

(1, 2, 3)

In [330]:
t = (1,2,3)

In [332]:
len(t)

3

In [344]:
t.__len__()

3

In [341]:
def my_print(*args):
    my_args = ('hallo, ',) + args
    print(*my_args)

In [343]:
my_print(1, 2)

hallo,  1 2

## Comprehensions

### List Comprehension

In [345]:
r = range(5)

In [346]:
squares = []
for i in r:
    squares.append(i**2)

In [347]:
squares

[0, 1, 4, 9, 16]

In [348]:
squares = [i**2 for i in range(5)]

In [349]:
squares

[0, 1, 4, 9, 16]

In [357]:
even_squares = [i**2 for i in range(10) if i%2 == 0]

In [356]:
even_squares

[0, 2, 4, 6, 8]

### Generator Expresssions

In [358]:
def squares_fun():
    sqs = []
    for i in range(5):
        sqs.append(i**2)
    return sqs
squares = squares_fun()

In [360]:
squares

[0, 1, 4, 9, 16]

In [361]:
squares = [i**2 for i in range(5)]

In [362]:
squares

[0, 1, 4, 9, 16]

In [363]:
def squares_gen():
    for i in range(5):
        yield i**2
squares = squares_gen()

In [365]:
squares

In [367]:
for i in squares:
    print(i)

In [373]:
squares = (i**2 for i in range(5))

In [374]:
squares

In [375]:
for i in squares:
    print(i)

0
1
4
9
16

In [376]:
for i in squares:
    print(i)

In [377]:
squares = (i**2 for i in range(5))

In [379]:
try:
    squares[3]
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'generator' object is not subscriptable

In [380]:
squares_list = list(squares)

In [382]:
squares_list

[0, 1, 4, 9, 16]

In [383]:
list('abc')

['a', 'b', 'c']

In [384]:
for c in 'abc':
    print(c)

a
b
c

### Dictionary Comprehension

In [385]:
d = {
    1: 1,
    2: 4, 
    3: 9,
    # ...
}

In [386]:
d = {i: i**2 for i in range(10)}

In [388]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [389]:
type(d)

dict

### Set Comprehension

In [390]:
s = {1, 4, 9, 16,} # ...

In [391]:
s = {i**2 for i in range(10)}

In [393]:
s

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [394]:
set('foobar')

{'a', 'b', 'f', 'o', 'r'}

In [395]:
set(['foo', 'bar'])

{'bar', 'foo'}

Trailing comma? ...

In [397]:
t = (1, 2, 3)

In [399]:
type(t)

tuple

In [400]:
t = (666)

In [402]:
type(t)

int

In [403]:
t = (42,)

In [404]:
type(t)

tuple

In [406]:
t

(42,)

In [407]:
len(t)

1

In [408]:
t.__len__()

1

## ``eval()``

In [414]:
expr_str = '[1,2,3]'

In [415]:
type(expr_str)

str

In [416]:
expr = eval(expr_str)

In [418]:
type(expr)

list

In [419]:
expr

[1, 2, 3]

## Functional Tools

### ``enumerate()``

In [409]:
l = ['Joerg', 'Caro', 'Johanna', 'Philipp']
i = 0
for element in l:
    print(i, element)
    i += 1

0 Joerg
1 Caro
2 Johanna
3 Philipp

In [420]:
for i, element in enumerate(l):
    print(i, element)

0 Joerg
1 Caro
2 Johanna
3 Philipp

### ``map()``, ``filter()``

In [421]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [423]:
def sq(i): return i**2
for num in map(sq, range(5)):
    print(num)

0
1
4
9
16

In [426]:
for num in map(lambda i: i**2, range(5)):
    print(num)

0
1
4
9
16

Same with a custom generator expression

In [427]:
for num in (i**2 for i in range(5)):
    print(num)

0
1
4
9
16

### ``filter()``

In [428]:
def even(i):
    return i%2 == 0

In [429]:
for num in filter(even, range(5)):
    print(num)

0
2
4

In [430]:
for num in filter(lambda i: i%2 == 0, range(5)):
    print(num)

0
2
4

In [431]:
for num in (i for i in range(5) if i%2 == 0):
    print(num)

0
2
4