# Compound Datatypes

## Dictionary

In [1]:
d = {}

In [2]:
len(d)

0

In [3]:
d = {
    11: 'Simmering',
    1: 'Innere Stadt',
}

In [4]:
len(d)

2

In [5]:
d[11]

'Simmering'

In [6]:
d[5] = 'Keine Ahnung'
len(d)

3

In [7]:
d[5]

'Keine Ahnung'

In [8]:
11 in d

True

In [9]:
'Simmering' in d

False

### Iteration

In [95]:
d

{11: 'Simmering', 1: 'Innere Stadt', 5: 'Keine Ahnung'}

In [112]:
for element in d:
    print(element)

11
1
5

In [114]:
for key in d.keys():
    print(key)

11
1
5

In [116]:
for value in d.values():
    print(value)

Simmering
Innere Stadt
Keine Ahnung

In [118]:
for item in d.items():
    print(item)

(11, 'Simmering')
(1, 'Innere Stadt')
(5, 'Keine Ahnung')

In [120]:
for item in d.items():
    key = item[0]
    value = item [1]
    print(f'key: {key}, value: {value}')

key: 11, value: Simmering
key: 1, value: Innere Stadt
key: 5, value: Keine Ahnung

In [121]:
for key, value in d.items():
    print(f'key: {key}, value: {value}')

key: 11, value: Simmering
key: 1, value: Innere Stadt
key: 5, value: Keine Ahnung

## Set

In [98]:
s = set()
len(s)

0

In [99]:
s.add(1)
s.add('Joerg')
len(s)

2

In [100]:
'Joerg' in s

True

In [101]:
'Christopher' in s

False

In [102]:
s.remove('Joerg')

In [103]:
'Joerg' in s

False

### Iteration

In [106]:
s = { 1, 2, 3, 4, 5}

In [108]:
s

{1, 2, 3, 4, 5}

In [110]:
for element in s:
    print(element)

1
2
3
4
5

## List

In [17]:
l = [1, 2, 3, 'vier']

In [18]:
len(l)

4

In [19]:
1 in l

True

In [20]:
3 in l

True

In [21]:
'vier' in l

True

# Iterable?

In [22]:
l = [1, 2, 3, 'vier']
for element in l:
    print(element)

1
2
3
vier

In [23]:
s = set(l)
s

{1, 2, 3, 'vier'}

In [24]:
mein_string = 'joerg'
for element in mein_string:
    print(element)

j
o
e
r
g

In [25]:
s = set(mein_string)
s

{'e', 'g', 'j', 'o', 'r'}

In [26]:
for element in s:
    print(element)

g
j
e
o
r

In [27]:
'g' in s

True

# The ``range()`` Function

In [28]:
i = 1
while i <=10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [29]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for element in l:
    print(element)

1
2
3
4
5
6
7
8
9
10

In [30]:
for element in range(1, 11):
    print(element)

1
2
3
4
5
6
7
8
9
10

In [31]:
for element in range(0, 10, 2):
    print(element)

0
2
4
6
8

In [32]:
for element in range(10):
    print(element)

0
1
2
3
4
5
6
7
8
9

In [33]:
r = range(3)

In [34]:
for element in r:
    print(element)

0
1
2

In [35]:
type(r)

range

In [36]:
it = iter(r)

In [37]:
type(it)

range_iterator

In [38]:
next(it)

0

In [39]:
next(it)

1

In [40]:
next(it)

2

In [41]:
try:
    next(it)
except StopIteration:
    pass

In [42]:
for element in range(3):
    print(element)

0
1
2

# List Comprehension, Generator Expression

In [123]:
def squares(iterable):
    sq = []
    for elem in iterable:
        sq.append(elem**2)
    return sq
for elem in squares([0,1,2,3,4]):
    print(elem)

0
1
4
9
16

In [127]:
for elem in [i**2 for i in [0,1,2,3,4]]:
    print(elem)

0
1
4
9
16

In [128]:
for elem in [i**2 for i in range(5)]:
    print(elem)

0
1
4
9
16

Generator expression:

In [130]:
for elem in (i**2 for i in range(5)):
    print(elem)

0
1
4
9
16

In [131]:
for elem in (i**2 for i in range(10) if i%2==0):
    print(elem)

0
4
16
36
64

# Strings

## Literals

In [43]:
'Hello'

'Hello'

In [44]:
"Hello"

'Hello'

### Quoting?

In [45]:
'Hello \'World\''

"Hello 'World'"

In [46]:
"Hello 'World'"

"Hello 'World'"

**Embedded Newline Character**

In [47]:
docu = 'Das ist eine \nmehrzeilige Dokumentation\nvon irgendwas'
print(docu)

Das ist eine
mehrzeilige Dokumentation
von irgendwas

### Multiline Strings

In [48]:
docu = '''Das ist eine
mehrzeilige Dokumentation
von irgendwas'''
print(docu)

Das ist eine
mehrzeilige Dokumentation
von irgendwas

### Raw Strings

Man hat Files mit folgendem deppertem Inhalt:

In [49]:
line = 'irgendein irrelevanter quargel, Joerg, Faschingbauer, 190666'

Lösung: regular expressions

In [50]:
import re
pattern = re.compile(r'^.*, (\w+), (\w+), (\d+)')

In [51]:
match = pattern.search(line)

In [52]:
if match is None:
    print('Inkorrekte Zeile')
else:
    print('Vorname:', match.group(1), 'Nachname:', match.group(2), 'Geburtsdatum:', match.group(3))

Vorname: Joerg Nachname: Faschingbauer Geburtsdatum: 190666

## Functionality

In [53]:
s = 'Hello World'

In [54]:
s.capitalize()

'Hello world'

In [55]:
s = s.capitalize()

In [56]:
s

'Hello world'

In [57]:
s.center(50)

'                   Hello world                    '

In [58]:
'mississippi'.count('ss')

2

In [59]:
'ein-excel-export.csv'.endswith('.csv')

True

In [60]:
'mississippi'.find('ss')

2

In [61]:
'mississippi'.find('sss')

-1

In [62]:
'mississippi'.index('ss')

2

In [63]:
try:
    'mississippi'.index('sss')
except ValueError:
    print('not found')

not found

In [64]:
'abc'.isalpha()

True

In [65]:
'abc'.isidentifier()

True

In [66]:
'123'.isidentifier()

False

In [67]:
'123'.isidentifier()

False

In [68]:
'abc'.islower()

True

In [69]:
'ABC'.islower()

False

In [70]:
'-'.join(['Hello', 'World'])

'Hello-World'

In [71]:
'arg1,arg2,arg3'.split(',')

['arg1', 'arg2', 'arg3']

## ``strip()`` and friends

In [72]:
'  blah blah  \t\n   '.strip()

'blah blah'

In [73]:
'abcblah blahabcbcabcc'.strip('abc')

'lah blah'

In [74]:
'   abc    '.rstrip()

'   abc'

In [75]:
'   abc    '.lstrip()

'abc    '

## String Formatting

In [76]:
'Hello {0} {1}'.format('World', 666)

'Hello World 666'

In [77]:
'Hello {was} {wieviel}'.format(wieviel=666, was='World')

'Hello World 666'

In [78]:
'Hello {was:<10} {wieviel}'.format(wieviel=666, was='World')

'Hello World      666'

### f-Strings (since Python 3.6)

In [79]:
wieviel = 666
was = 'Hello'

In [80]:
f'Hello {was} {wieviel}'

'Hello Hello 666'

In [81]:
f'Hello {was:<10} {wieviel}'

'Hello Hello      666'

# ``datetime``

In [82]:
import datetime

In [83]:
now = datetime.datetime(2021, 7, 11, 23, 11, 33)
now

datetime.datetime(2021, 7, 11, 23, 11, 33)

In [84]:
delta = datetime.timedelta(days=3, seconds=39)
delta

datetime.timedelta(days=3, seconds=39)

In [85]:
now + delta

datetime.datetime(2021, 7, 14, 23, 12, 12)

In [86]:
now - delta

datetime.datetime(2021, 7, 8, 23, 10, 54)

In [87]:
now = datetime.datetime.now()
now

datetime.datetime(2021, 8, 25, 15, 3, 10, 995237)

## Parsing date formats

In [88]:
datestr = '11.07.2021'

In [89]:
dt = datetime.datetime.strptime(datestr, '%d.%m.%Y')
dt

datetime.datetime(2021, 7, 11, 0, 0)

# JSON

In [90]:
import json
import uuid

Create a message object to, for example, transfer it via MQTT

In [91]:
msg_aussi = {
    'message': 'seas oida',
    'msgid': uuid.uuid4().hex,
    'timestamp': 345654325678,
}

Convert it to JSON for the transfer

In [92]:
json_aussi = json.dumps(msg_aussi)
json_aussi

'{"message": "seas oida", "msgid": "6563515ef0824d42b459389cefd09127", "timestamp": 345654325678}'

Transfer it

In [93]:
json_eini = json_aussi

Convert JSON back to dictionary that the sender had, originally

In [94]:
msg_eini = json.loads(json_eini)
msg_eini

{'message': 'seas oida',
 'msgid': '6563515ef0824d42b459389cefd09127',
 'timestamp': 345654325678}