# 2023-03-13

In [1]:
l = [1,2,3,4, 'fuenf']
for element in l:
    print(element)

1
2
3
4
fuenf

In [2]:
l

[1, 2, 3, 4, 'fuenf']

In [3]:
print(type(l))

<class 'list'>

In [4]:
i = 42

In [5]:
i

42

In [6]:
print(type(i))

<class 'int'>

In [7]:
exec('print("hallo")')

hallo

## Syntax

### Comment vs Docstring

In [8]:
# das ist ein kommentar

In [9]:
i = 42 # das ist auch ein kommentar

In [10]:
i

42

In [11]:
# das ist die funktion foo, die hoechst komplex ist und 
# die parameter a und b nimmt, die idealerweise integers  sein sollten
def foo(a, b):
    return a+b

In [12]:
def foo(a, b):
    'das ist die funktion foo, die hoechst komplex ist und die parameter a und b nimmt, die idealerweise integers  sein sollten'
    return a+b

In [13]:
foo.__doc__

'das ist die funktion foo, die hoechst komplex ist und die parameter a und b nimmt, die idealerweise integers  sein sollten'

In [14]:
help(foo)

Help on function foo in module __main__:

foo(a, b)
    das ist die funktion foo, die hoechst komplex ist und die parameter a und b nimmt, die idealerweise integers  sein sollten

In [15]:
foo(1, 2)

3

In [16]:
add = foo

In [17]:
add(2, 3)

5

In [18]:
add = [1,2,3]

In [19]:
try:
    add(2,3)
except Exception as e:
    print(e, type(e))

'list' object is not callable <class 'TypeError'>

### Tuple Unpacking

In [20]:
l = [1, 'zwei', 3.0]

In [21]:
a, b, c = l

In [22]:
a

1

In [23]:
b

'zwei'

In [24]:
c

3.0

In [25]:
a, *rest = l

In [26]:
a

1

In [27]:
rest

['zwei', 3.0]

In [28]:
try:
    a, b = l
except Exception as e:
    print(e, type(e))

too many values to unpack (expected 2) <class 'ValueError'>

In [29]:
1, 2

(1, 2)

In [30]:
a, b

(1, 'zwei')

In [31]:
tmp = a
a = b
b = tmp

In [32]:
a, b

('zwei', 1)

In [33]:
a, b = b, a

### Mutable? Immutable?

In [34]:
a = 42

In [35]:
id(a)

140480285361680

In [36]:
b = a

In [37]:
id(b)

140480285361680

In [38]:
a += 1

In [39]:
b

42

In [40]:
a

43

## Integers

In [41]:
i = 2**64 - 1

In [42]:
i

18446744073709551615

In [43]:
hex(i)

'0xffffffffffffffff'

In [44]:
i += 1

In [45]:
i

18446744073709551616

In [46]:
hex(i)

'0x10000000000000000'

In [47]:
i += 1

In [48]:
i = 2**100

In [49]:
i

1267650600228229401496703205376

In [50]:
2**10000

19950631168807583848837421626835850838234968318861924548520089498529438830221946631919961684036194597899331129423209124271556491349413781117593785932096323957855730046793794526765246551266059895520550086918193311542508608460618104685509074866089624888090489894838009253941633257850621568309473902556912388065225096643874441046759871626985453222868538161694315775629640762836880760732228535091641476183956381458969463899410840960536267821064621427333394036525565649530603142680234969400335934316651459297773279665775606172582031407994198179607378245683762280037302885487251900834464581454650557929601414833921615734588139257095379769119277800826957735674444123062018757836325502728323789270710373802866393031428133241401624195671690574061419654342324638801248856147305207431992259611796250130992860241708340807605932320161268492288496255841312844061536738951487114256315111089745514203313820202931640957596464756010405845841566072044962867016515061920631004186422275908670900574606417856951911456055068251250406007519842261898059237118054444788072906395242548339221982707404473162376760846613033778706039803413197133493654622700563169937455508241780972810983291314403571877524768509857276937926433221599399876886660808368837838027643282775172273657572744784112294389733810861607423253291974813120197604178281965697475898164531258434135959862784130128185406283476649088690521047580882615823961985770122407044330583075869039319604603404973156583208672105913300903752823415539745394397715257455290510212310947321610753474825740775273986348298498340756937955646638621874569499279016572103701364433135817214311791398222983845847334440270964182851005072927748364550578634501100852987812389473928699540834346158807043959118985815145779177143619698728131459483783202081474982171858011389071228250905826817436220577475921417653715687725614904582904992461028630081535583308130101987675856234343538955409175623400844887526162643568648833519463720377293240094456246923254350400678027273837755376406726898636241037491410966718557050759098100246789880178271925953381282421954028302759408448955014676668389697996886241636313376393903373455801407636741877711055384225739499110186468219696581651485130494222369947714763069155468217682876200362777257723781365331611196811280792669481887201298643660768551639860534602297871557517947385246369446923087894265948217008051120322365496288169035739121368338393591756418733850510970271613915439590991598154654417336311656936031122249937969999226781732358023111862644575299135758175008199839236284615249881088960232244362173771618086357015468484058622329792853875623486556440536962622018963571028812361567512543338303270029097668650568557157505516727518899194129711337690149916181315171544007728650573189557450920330185304847113818315407324053319038462084036421763703911550639789000742853672196280903477974533320468368795868580237952218629120080742819551317948157624448298518461509704888027274721574688131594750409732115080498190455803416826949787141316063210686391511681774304792596709376

In [51]:
3/2

1.5

In [52]:
3//2

1

In [53]:
10%2

0

## Lists

In [54]:
l = list()
l = []
l = [1,2,3]

In [55]:
len(l)

3

In [56]:
id(l)

140479638276224

In [57]:
l.append('vier')
id(l)

140479638276224

In [58]:
l.extend([5, 'sechs'])

In [59]:
l

[1, 2, 3, 'vier', 5, 'sechs']

In [60]:
l.append([7, 'acht'])

In [61]:
l

[1, 2, 3, 'vier', 5, 'sechs', [7, 'acht']]

In [62]:
l.append(l)

In [63]:
l

[1, 2, 3, 'vier', 5, 'sechs', [7, 'acht'], [...]]

In [64]:
l[1]

2

In [65]:
l[1] = 'zwei'

In [66]:
l

[1, 'zwei', 3, 'vier', 5, 'sechs', [7, 'acht'], [...]]

In [67]:
'zwei' in l

True

In [68]:
if 'zwei' in l:
    print('yay')

yay

## Tuples

In [69]:
t = (1,2,3)

In [70]:
type(t)

tuple

In [71]:
id(t)

140480203220736

In [72]:
t[1]

2

In [73]:
try:
    t[1] = 'zwei'
except Exception as e:
    print(e, type(e))

'tuple' object does not support item assignment <class 'TypeError'>

In [74]:
try:
    t.append('vier')
except Exception as e:
    print(e, type(e))

'tuple' object has no attribute 'append' <class 'AttributeError'>

In [75]:
t += (1,2,3)

In [76]:
id(t)

140480210406176

## Dictionary

In [77]:
d = { 'one': 1, 'two': 2 }

In [78]:
len(d)

2

In [79]:
d['one']

1

In [80]:
d['drei'] = 'three'

In [81]:
d['drei']

'three'

In [82]:
d[4] = 'vier'

In [83]:
hash(4)

4

In [84]:
hash('drei')

-7940943354778932823

In [85]:
try:
    d[[1,2,3]] = True
except Exception as e:
    print(e, type(e))

unhashable type: 'list' <class 'TypeError'>

In [86]:
d

{'one': 1, 'two': 2, 'drei': 'three', 4: 'vier'}

In [87]:
len(d)

4

In [88]:
'two' in d

True

In [89]:
del d['two']

In [90]:
'two' in d

False

Search by value?

In [91]:
for k, v in d.items():
    if v == 1:
        print(k)

one

## Exercises

In [92]:
l = []

In [93]:
l.append(True)

In [94]:
l

[True]

In [95]:
s = '99'

In [96]:
i = int(s)

In [97]:
i

99

## DataType Conversiosn

In [98]:
s = '123'

In [99]:
i = int(s)

In [100]:
print(type(i))

<class 'int'>

In [101]:
i

123

In [102]:
s = 'abc'

In [103]:
try:
    int(s)
except Exception as e:
    print(e, type(e))

invalid literal for int() with base 10: 'abc' <class 'ValueError'>

In [104]:
int(s, 16)

2748

In [105]:
i

123

In [106]:
s = str(i)

In [107]:
print(type(s))

<class 'str'>

In [108]:
l = [1,2,3, 'vier']
print(type(l))

<class 'list'>

In [109]:
s

'123'

In [110]:
s[1]

'2'

In [111]:
list()

[]

In [112]:
list('abc')

['a', 'b', 'c']

In [113]:
try:
    list(666)
except Exception as e:
    print(e, type(s))

'int' object is not iterable <class 'str'>

In [114]:
l = list()
l.append('abc')
l

['abc']

In [115]:
list(['abc'])

['abc']

In [116]:
['abc']

['abc']

In [117]:
l = list(range(3))

In [118]:
l

[0, 1, 2]

In [119]:
for element in l:
    print(element)

0
1
2

In [120]:
1 in l

True

In [121]:
2 in l

True

In [122]:
3 in l

False

## ``if``

In [123]:
i = 2

In [124]:
if i == 2:
    print('yay')

yay

In [125]:
if i == 3:
    print('yay')

## ``while``

sum of numbers 1..100

In [128]:
summe = 0
number = 1
while number <= 100:
    summe += number
    number += 1
summe

5050

In [129]:
sum(range(1, 101))

5050

In [130]:
i = 42
while i != 42:
    print('noch immer keine antwort')

In [133]:
import random

In [144]:
while True:
    eyes = random.randrange(1, 7)
    if eyes == 6:
        print('hooray!')
        break
    else:
        print('mist:', eyes)

mist: 4
hooray!

In [165]:
n_tries = 0
while n_tries < 6:
    eyes = random.randrange(1, 7)
    if eyes == 6:
        print('hooray!')
        break
    n_tries += 1
else:
    print('versager!')

versager!

## ``range()``

In [167]:
for element in range(5):
    print(element)

0
1
2
3
4

In [173]:
for element in [0,1,2,3,4]:
    print(element)

0
1
2
3
4

In [179]:
r = range(5)

In [180]:
r

range(0, 5)

In [181]:
it = iter(r)

In [183]:
it

In [184]:
next(it)

0

In [185]:
next(it)

1

In [186]:
next(it)

2

In [187]:
next(it)

3

In [188]:
next(it)

4

In [190]:
try:
    next(it)
except Exception as e:
    print(e, type(e))

 <class 'StopIteration'>

## ``datetime``

In [217]:
import datetime

In [192]:
start = datetime.datetime(year=2023, month=3, day=13, hour=9)

In [194]:
start

datetime.datetime(2023, 3, 13, 9, 0)

In [196]:
step = datetime.timedelta(hours=8)

In [198]:
step

datetime.timedelta(seconds=28800)

In [199]:
start += step

In [201]:
start

datetime.datetime(2023, 3, 13, 17, 0)

In [202]:
start += datetime.timedelta(days=1)

In [204]:
start

datetime.datetime(2023, 3, 14, 17, 0)

In [210]:
datetime.datetime.now()

datetime.datetime(2023, 3, 14, 10, 6, 17, 237988)

In [215]:
def produce_days(start):
    next = start
    while True:
        yield next
        next += datetime.timedelta(days=1)

In [216]:
for day in produce_days(start=datetime.datetime.now()):
    print(day)
    if day > datetime.datetime(year=2023, month=4, day=1):
        break

2023-03-14 10:11:25.374557
2023-03-15 10:11:25.374557
2023-03-16 10:11:25.374557
2023-03-17 10:11:25.374557
2023-03-18 10:11:25.374557
2023-03-19 10:11:25.374557
2023-03-20 10:11:25.374557
2023-03-21 10:11:25.374557
2023-03-22 10:11:25.374557
2023-03-23 10:11:25.374557
2023-03-24 10:11:25.374557
2023-03-25 10:11:25.374557
2023-03-26 10:11:25.374557
2023-03-27 10:11:25.374557
2023-03-28 10:11:25.374557
2023-03-29 10:11:25.374557
2023-03-30 10:11:25.374557
2023-03-31 10:11:25.374557
2023-04-01 10:11:25.374557

In [218]:
l = [666, 42]
i = 42

In [220]:
i != l

True

In [221]:
i in l

True

In [223]:
i not in l

False

In [224]:
not i in l

False

In [225]:
6 % 3

0

In [226]:
6 % 2

0

In [227]:
7 % 2

1

In [228]:
7 % 3

1

In [229]:
7 % 4

3

In [230]:
7 % 5

2

In [231]:
7 % 6

1

## Comprehensions

In [233]:
l = [3, 4, 1, 6]

In [235]:
l_mal_2 = []
for element in l:
    l_mal_2.append(element*2)
l_mal_2

[6, 8, 2, 12]

In [238]:
[element*2 for element in l]

[6, 8, 2, 12]

In [239]:
[element*2 for element in l if element%2==0]

[8, 12]

## References, (Im)mutability

In [248]:
a = 42

In [249]:
id(a)

140480285361680

In [250]:
b = a

In [251]:
id(b)

140480285361680

In [252]:
a += 1

In [253]:
id(a)

140480285361712

In [254]:
b

42

In [255]:
id(b)

140480285361680

In [256]:
l1 = [42, 'xy', 13]
id(l1)

140479638477760

In [257]:
l2 = l1

In [258]:
id(l2)

140479638477760

In [259]:
l1.append(666)
l1

[42, 'xy', 13, 666]

In [260]:
id(l1)

140479638477760

In [261]:
id(l2)

140479638477760

In [262]:
l2

[42, 'xy', 13, 666]

In [263]:
l3 = l1[:]

In [264]:
l3

[42, 'xy', 13, 666]

In [265]:
l1

[42, 'xy', 13, 666]

In [267]:
id(l1)

140479638477760

In [268]:
id(l3)

140479638427520

In [269]:
l3.append('nochwas')
l3

[42, 'xy', 13, 666, 'nochwas']

In [270]:
l1

[42, 'xy', 13, 666]

Nested lists?

In [271]:
l4 = [1, [2,3,4], 5]
len(l4)

3

In [272]:
l5 = l4[:]

In [273]:
id(l4)

140480202528192

In [274]:
id(l5)

140479638428736

In [275]:
l4[1].append(666)

In [276]:
l5

[1, [2, 3, 4, 666], 5]

In [278]:
id(l4[1])

140480203212992

In [279]:
id(l5[1])

140480203212992

In [280]:
import copy

In [281]:
l6 = copy.deepcopy(l5)

In [282]:
l6

[1, [2, 3, 4, 666], 5]

## Functions

In [296]:
def maximum(a, b):
    'extremely complex function'
    if a < b:
        return b
    else:
        return a

In [285]:
maximum(1, 2)

2

In [287]:
maximum(1.5, 2.5)

2.5

In [288]:
maximum('abc', 'def')

'def'

In [289]:
maximum([1,2], [3,4])

[3, 4]

In [290]:
maximum([1,2], [1,4])

[1, 4]

In [292]:
try:
    maximum('abc', 666)
except Exception as e:
    print(e, type(e))

'<' not supported between instances of 'str' and 'int' <class 'TypeError'>

In [293]:
True < False

False

In [295]:
print(type(maximum))

<class 'function'>

In [298]:
maximum.__doc__

'extremely complex function'

In [299]:
a = maximum

In [301]:
a(1,2)

2

In [302]:
id(a)

140479598069936

In [303]:
id(maximum)

140479598069936

Classes?

In [313]:
class Person:
    def __init__(self, firstname, lastname, age):
        self.firstname = firstname
        self.lastname = lastname
        self.age = age
    def fullname(self):
        return self.firstname + ' ' + self.lastname

In [312]:
joerg = Person('Joerg', 'Faschingbauer', 56)

In [309]:
type(joerg)

__main__.Person

In [314]:
joerg.fullname()

'Joerg Faschingbauer'

In [317]:
def is_old(p):
    if p.age > 50:
        return True
    else:
        return False

In [318]:
is_old(joerg)

True

In [320]:
Person.old = is_old

In [321]:
joerg = Person('Joerg', 'Faschingbauer', 56)

In [322]:
joerg.old()

True

In [325]:
d = {'one': 1, 'two': 2}

In [327]:
d['one']

1

In [328]:
d['three']

KeyError: 'three'

## Strings

In [329]:
s = 'abc'

In [330]:
s = "abc"

In [332]:
s = 'abc\'def'
s

"abc'def"

In [333]:
s = "abc'def"
s

"abc'def"

In [334]:
s = 'C:\some\name'

In [335]:
print(s)

C:\some
ame

In [337]:
s = r'C:\some\name'
print(s)

C:\some\name

In [338]:
s = '12345'
s.isdigit()

True

In [340]:
s = 'abc123'
s.isdigit()

False

In [341]:
'abc'.center(50)

'                       abc                        '

In [342]:
s = 'Mississippi'
s.count('ss')

2

In [343]:
s.count('pp')

1

In [344]:
'file.csv'.endswith('.csv')

True

In [345]:
'boot'.endswith('t')

True

In [347]:
'boot'.count('oo') > 0

True

In [350]:
'boot'.find('oo') >= 0

True

In [352]:
'oo' in 'boot'

True

In [353]:
'boot'.find('oo')

1

In [355]:
'boot'.find('xxx')

-1

In [357]:
try:
    'boot'.index('xxx')
except Exception as e:
    print(e, type(e))

substring not found <class 'ValueError'>

In [358]:
s = 'Bezahlung Karte   blah |BILLA DANKT blah blah     |BILL blah'

In [362]:
fields = s.split('|')

In [363]:
fields

['Bezahlung Karte   blah ', 'BILLA DANKT blah blah     ', 'BILL blah']

In [431]:
';'.join(fields)

'Bezahlung Karte   blah ;BILLA DANKT blah blah     ;BILL blah'

In [432]:
s = '    \t\n   xxx \n\n\n\t    '
s.strip()

'xxx'

## Lists

In [369]:
l = [1,2,'drei']
l.append(666)

In [366]:
l

[1, 2, 'drei', 666]

In [370]:
l.extend(['noch', 'was'])
l

[1, 2, 'drei', 666, 'noch', 'was']

In [371]:
l.extend('abc')
l

[1, 2, 'drei', 666, 'noch', 'was', 'a', 'b', 'c']

In [372]:
l.pop(3)

666

In [373]:
l

[1, 2, 'drei', 'noch', 'was', 'a', 'b', 'c']

In [375]:
try:
    l.sort()
except Exception as e:
    print(e, type(e))

'<' not supported between instances of 'str' and 'int' <class 'TypeError'>

In [376]:
l.reverse()

In [377]:
l

['c', 'b', 'a', 'was', 'noch', 'drei', 2, 1]

In [378]:
reversed(l)

In [379]:
l = [1,2,3,7,100]
[elem**2 for elem in l]

[1, 4, 9, 49, 10000]

In [380]:
[elem**2 for elem in l if elem%2==0]

[4, 10000]

## Dictionaries

In [381]:
d = {}

In [382]:
d['one'] = 1

In [383]:
d

{'one': 1}

In [384]:
d['one'] = 1.1

In [385]:
d

{'one': 1.1}

In [386]:
d['one']

1.1

In [388]:
try:
    d['two']
except Exception as e:
    print(e, type(e))

'two' <class 'KeyError'>

In [391]:
if d.get('two') is None:
    print('nicht drin')
else:
    print('yay')

nicht drin

In [392]:
v = d.get('two', 2)
v

2

In [393]:
d

{'one': 1.1}

In [394]:
v = d.setdefault('two', 2)
v

2

In [395]:
d

{'one': 1.1, 'two': 2}

In [396]:
del d['two']
d

{'one': 1.1}

In [401]:
d.update({'two': 2, 'three': 3, 'one': 1})

In [402]:
d

{'one': 1, 'two': 2, 'three': 3}

In [404]:
for elem in d:
    print(elem)

one
two
three

In [406]:
for k in d.keys():
    print(k)

one
two
three

In [407]:
for v in d.values():
    print(v)

1
2
3

In [408]:
for elem in d.items():
    print(elem)

('one', 1)
('two', 2)
('three', 3)

In [409]:
for elem in d.items():    # manual tuple unpacking
    k = elem[0]
    v = elem[1]
    print('key:', k, ', value:', v)

key: one , value: 1
key: two , value: 2
key: three , value: 3

In [410]:
for elem in d.items():    # semi-manual tuple unpacking
    k, v = elem
    print('key:', k, ', value:', v)

key: one , value: 1
key: two , value: 2
key: three , value: 3

In [411]:
for k, v in d.items():
    print('key:', k, ', value:', v)

key: one , value: 1
key: two , value: 2
key: three , value: 3

In [413]:
'one' in d

True

In [414]:
dict

dict

In [416]:
l = [('one', 1), ('two', 2)]
d = dict(l)

In [417]:
d

{'one': 1, 'two': 2}

## Set

In [418]:
s1 = {1,2,3}
s2 = {1,2,3,4}

In [419]:
s1.isdisjoint(s2)

False

In [420]:
s1 < s2

True

In [421]:
s3 = {0,1,2,3}
s3 < s2

False

In [423]:
s3 | s2

{0, 1, 2, 3, 4}

## File IO

In [424]:
f = open('/etc/passwd')
f

In [425]:
f.read()

'root:x:0:0:root:/root:/bin/bash\nbin:x:1:1:bin:/bin:/sbin/nologin\ndaemon:x:2:2:daemon:/sbin:/sbin/nologin\nadm:x:3:4:adm:/var/adm:/sbin/nologin\nlp:x:4:7:lp:/var/spool/lpd:/sbin/nologin\nsync:x:5:0:sync:/sbin:/bin/sync\nshutdown:x:6:0:shutdown:/sbin:/sbin/shutdown\nhalt:x:7:0:halt:/sbin:/sbin/halt\nmail:x:8:12:mail:/var/spool/mail:/sbin/nologin\noperator:x:11:0:operator:/root:/sbin/nologin\ngames:x:12:100:games:/usr/games:/sbin/nologin\nftp:x:14:50:FTP User:/var/ftp:/sbin/nologin\nnobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin\ndbus:x:81:81:System message bus:/:/sbin/nologin\napache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin\ntss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin\nsystemd-network:x:192:192:systemd Network Management:/:/usr/sbin/nologin\nsystemd-oom:x:999:999:systemd Userspace OOM Killer:/:/usr/sbin/nologin\nsystemd-resolve:x:193:193:systemd Resolver:/:/usr/sbin/nologin\nqemu:x:107:107:qemu user:/:/sbin/nologin\npolkitd:x:998:997:User for polkitd:/:/sbin/nologin\navahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin\nunbound:x:997:995:Unbound DNS resolver:/etc/unbound:/sbin/nologin\nnm-openconnect:x:996:994:NetworkManager user for OpenConnect:/:/sbin/nologin\ngeoclue:x:995:993:User for geoclue:/var/lib/geoclue:/sbin/nologin\nusbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin\ngluster:x:994:992:GlusterFS daemons:/run/gluster:/sbin/nologin\nrtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin\nchrony:x:993:990::/var/lib/chrony:/sbin/nologin\nsaslauth:x:992:76:Saslauthd user:/run/saslauthd:/sbin/nologin\ndnsmasq:x:991:989:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin\nrpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin\ncolord:x:990:988:User for colord:/var/lib/colord:/sbin/nologin\nrpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin\nopenvpn:x:989:987:OpenVPN:/etc/openvpn:/sbin/nologin\nnm-openvpn:x:988:986:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin\npipewire:x:987:985:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin\nabrt:x:173:173::/etc/abrt:/sbin/nologin\nflatpak:x:986:983:User for flatpak system helper:/:/sbin/nologin\ngdm:x:42:42:GNOME Display Manager:/var/lib/gdm:/sbin/nologin\ngnome-initial-setup:x:985:982::/run/gnome-initial-setup/:/sbin/nologin\nvboxadd:x:984:1::/var/run/vboxadd:/sbin/nologin\nsshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin\ntcpdump:x:72:72::/:/sbin/nologin\njfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash\nsystemd-coredump:x:978:978:systemd Core Dumper:/:/usr/sbin/nologin\nsystemd-timesync:x:977:977:systemd Time Synchronization:/:/usr/sbin/nologin\nmosquitto:x:976:976:Mosquitto Broker:/etc/mosquitto:/sbin/nologin\n'

In [427]:
f = open('/etc/passwd')
f

In [428]:
f.readlines()

['root:x:0:0:root:/root:/bin/bash\n',
 'bin:x:1:1:bin:/bin:/sbin/nologin\n',
 'daemon:x:2:2:daemon:/sbin:/sbin/nologin\n',
 'adm:x:3:4:adm:/var/adm:/sbin/nologin\n',
 'lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin\n',
 'sync:x:5:0:sync:/sbin:/bin/sync\n',
 'shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown\n',
 'halt:x:7:0:halt:/sbin:/sbin/halt\n',
 'mail:x:8:12:mail:/var/spool/mail:/sbin/nologin\n',
 'operator:x:11:0:operator:/root:/sbin/nologin\n',
 'games:x:12:100:games:/usr/games:/sbin/nologin\n',
 'ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin\n',
 'nobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin\n',
 'dbus:x:81:81:System message bus:/:/sbin/nologin\n',
 'apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin\n',
 'tss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin\n',
 'systemd-network:x:192:192:systemd Network Management:/:/usr/sbin/nologin\n',
 'systemd-oom:x:999:999:systemd Userspace OOM Killer:/:/usr/sbin/nologin\n',
 'systemd-resolve:x:193:193:systemd Resolver:/:/usr/sbin/nologin\n',
 'qemu:x:107:107:qemu user:/:/sbin/nologin\n',
 'polkitd:x:998:997:User for polkitd:/:/sbin/nologin\n',
 'avahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin\n',
 'unbound:x:997:995:Unbound DNS resolver:/etc/unbound:/sbin/nologin\n',
 'nm-openconnect:x:996:994:NetworkManager user for OpenConnect:/:/sbin/nologin\n',
 'geoclue:x:995:993:User for geoclue:/var/lib/geoclue:/sbin/nologin\n',
 'usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin\n',
 'gluster:x:994:992:GlusterFS daemons:/run/gluster:/sbin/nologin\n',
 'rtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin\n',
 'chrony:x:993:990::/var/lib/chrony:/sbin/nologin\n',
 'saslauth:x:992:76:Saslauthd user:/run/saslauthd:/sbin/nologin\n',
 'dnsmasq:x:991:989:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin\n',
 'rpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin\n',
 'colord:x:990:988:User for colord:/var/lib/colord:/sbin/nologin\n',
 'rpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin\n',
 'openvpn:x:989:987:OpenVPN:/etc/openvpn:/sbin/nologin\n',
 'nm-openvpn:x:988:986:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin\n',
 'pipewire:x:987:985:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin\n',
 'abrt:x:173:173::/etc/abrt:/sbin/nologin\n',
 'flatpak:x:986:983:User for flatpak system helper:/:/sbin/nologin\n',
 'gdm:x:42:42:GNOME Display Manager:/var/lib/gdm:/sbin/nologin\n',
 'gnome-initial-setup:x:985:982::/run/gnome-initial-setup/:/sbin/nologin\n',
 'vboxadd:x:984:1::/var/run/vboxadd:/sbin/nologin\n',
 'sshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin\n',
 'tcpdump:x:72:72::/:/sbin/nologin\n',
 'jfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash\n',
 'systemd-coredump:x:978:978:systemd Core Dumper:/:/usr/sbin/nologin\n',
 'systemd-timesync:x:977:977:systemd Time Synchronization:/:/usr/sbin/nologin\n',
 'mosquitto:x:976:976:Mosquitto Broker:/etc/mosquitto:/sbin/nologin\n']

In [429]:
f = open('/etc/passwd')
f

In [430]:
for line in f:
    print(line)

root:x:0:0:root:/root:/bin/bash

bin:x:1:1:bin:/bin:/sbin/nologin

daemon:x:2:2:daemon:/sbin:/sbin/nologin

adm:x:3:4:adm:/var/adm:/sbin/nologin

lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin

sync:x:5:0:sync:/sbin:/bin/sync

shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown

halt:x:7:0:halt:/sbin:/sbin/halt

mail:x:8:12:mail:/var/spool/mail:/sbin/nologin

operator:x:11:0:operator:/root:/sbin/nologin

games:x:12:100:games:/usr/games:/sbin/nologin

ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin

nobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin

dbus:x:81:81:System message bus:/:/sbin/nologin

apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin

tss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin

systemd-network:x:192:192:systemd Network Management:/:/usr/sbin/nologin

systemd-oom:x:999:999:systemd Userspace OOM Killer:/:/usr/sbin/nologin

systemd-resolve:x:193:193:systemd Resolver:/:/usr/sbin/nologin

qemu:x:107:107:qemu user:/:/sbin/nologin

polkitd:x:998:997:User for polkitd:/:/sbin/nologin

avahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin

unbound:x:997:995:Unbound DNS resolver:/etc/unbound:/sbin/nologin

nm-openconnect:x:996:994:NetworkManager user for OpenConnect:/:/sbin/nologin

geoclue:x:995:993:User for geoclue:/var/lib/geoclue:/sbin/nologin

usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin

gluster:x:994:992:GlusterFS daemons:/run/gluster:/sbin/nologin

rtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin

chrony:x:993:990::/var/lib/chrony:/sbin/nologin

saslauth:x:992:76:Saslauthd user:/run/saslauthd:/sbin/nologin

dnsmasq:x:991:989:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin

rpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin

colord:x:990:988:User for colord:/var/lib/colord:/sbin/nologin

rpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin

openvpn:x:989:987:OpenVPN:/etc/openvpn:/sbin/nologin

nm-openvpn:x:988:986:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin

pipewire:x:987:985:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin

abrt:x:173:173::/etc/abrt:/sbin/nologin

flatpak:x:986:983:User for flatpak system helper:/:/sbin/nologin

gdm:x:42:42:GNOME Display Manager:/var/lib/gdm:/sbin/nologin

gnome-initial-setup:x:985:982::/run/gnome-initial-setup/:/sbin/nologin

vboxadd:x:984:1::/var/run/vboxadd:/sbin/nologin

sshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin

tcpdump:x:72:72::/:/sbin/nologin

jfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash

systemd-coredump:x:978:978:systemd Core Dumper:/:/usr/sbin/nologin

systemd-timesync:x:977:977:systemd Time Synchronization:/:/usr/sbin/nologin

mosquitto:x:976:976:Mosquitto Broker:/etc/mosquitto:/sbin/nologin

## String, File IO Exercise

In [433]:
line = ''

In [434]:
if len(line) == 0:
    print('die ist leer')

die ist leer

In [436]:
line = '    \t  '
len(line)

7

In [437]:
line.strip()

''

In [439]:
line = '   xxx      '
line.strip()

'xxx'

In [440]:
line = '    # comment'
line.strip()

'# comment'

In [441]:
eine_variable = line.strip()
eine_variable

'# comment'

In [442]:
eine_variable.startswith('#')

True

In [446]:
line = '  x   y  '
line.replace(' ', '')

'xy'

In [447]:
line = '    #  '
'#' in line

True

In [448]:
l = [2,3,4,1,8,666]

In [450]:
n = len(l)

In [452]:
n

6

In [454]:
3 in l

True

In [456]:
1000 in l     # O(n)

False

In [461]:
s = {2,3,4,1,8,666}

In [458]:
3 in s

True

In [460]:
1000 in s     # O(1)

False

In [462]:
line = 'xxx yyy'

In [464]:
len(line.split(' '))

2

In [465]:
line = 'xxx  yyy'

In [466]:
line.split(' ')

['xxx', '', 'yyy']

In [467]:
line.split()

['xxx', 'yyy']

## Pandas

In [468]:
persons = {
    'firstname': ['Joerg',                  'Johanna',        'Caro',              'Philipp'          ],
    'lastname':  ['Faschingbauer',          'Faschingbauer',  'Faschingbauer',     'Lichtenberger'    ],
    'email':     ['jf@faschingbauer.co.at', 'caro@email.com', 'johanna@email.com', 'philipp@email.com'],
    'age':       [56,                       27,               25,                  37                 ],
}

In [469]:
persons

{'firstname': ['Joerg', 'Johanna', 'Caro', 'Philipp'],
 'lastname': ['Faschingbauer',
  'Faschingbauer',
  'Faschingbauer',
  'Lichtenberger'],
 'email': ['jf@faschingbauer.co.at',
  'caro@email.com',
  'johanna@email.com',
  'philipp@email.com'],
 'age': [56, 27, 25, 37]}

In [470]:
import pandas as pd

In [471]:
data = pd.DataFrame(persons)

In [472]:
data

  firstname       lastname                   email  age
0     Joerg  Faschingbauer  jf@faschingbauer.co.at   56
1   Johanna  Faschingbauer          caro@email.com   27
2      Caro  Faschingbauer       johanna@email.com   25
3   Philipp  Lichtenberger       philipp@email.com   37

In [475]:
data['firstname']

0      Joerg
1    Johanna
2       Caro
3    Philipp
Name: firstname, dtype: object

In [476]:
type(data['firstname'])

pandas.core.series.Series

In [474]:
data[['firstname', 'lastname']]

  firstname       lastname
0     Joerg  Faschingbauer
1   Johanna  Faschingbauer
2      Caro  Faschingbauer
3   Philipp  Lichtenberger

In [477]:
persons = data

In [479]:
persons.iloc[1]

firstname           Johanna
lastname      Faschingbauer
email        caro@email.com
age                      27
Name: 1, dtype: object

In [480]:
persons.iloc[1, 2]

'caro@email.com'

In [481]:
persons.columns

Index(['firstname', 'lastname', 'email', 'age'], dtype='object')

In [482]:
list(persons.columns)

['firstname', 'lastname', 'email', 'age']

In [483]:
persons2 = persons.set_index('email')

In [486]:
persons2.sort_values('firstname', inplace=True)

In [487]:
persons2

                       firstname       lastname  age
email
johanna@email.com           Caro  Faschingbauer   25
jf@faschingbauer.co.at     Joerg  Faschingbauer   56
caro@email.com           Johanna  Faschingbauer   27
philipp@email.com        Philipp  Lichtenberger   37

In [488]:
flt = (persons['lastname'] == 'Faschingbauer')
flt

0     True
1     True
2     True
3    False
Name: lastname, dtype: bool

In [494]:
flt.count()

4

In [497]:
persons.set_index('email', inplace=True)

In [498]:
persons.loc['jf@faschingbauer.co.at']

firstname            Joerg
lastname     Faschingbauer
age                     56
Name: jf@faschingbauer.co.at, dtype: object

In [504]:
persons.loc['jf@faschingbauer.co.at', 'firstname']

'Joerg'

In [502]:
flt = (persons['lastname'] == 'Faschingbauer')
flt

email
jf@faschingbauer.co.at     True
caro@email.com             True
johanna@email.com          True
philipp@email.com         False
Name: lastname, dtype: bool

In [505]:
persons.loc[flt, 'firstname']

email
jf@faschingbauer.co.at      Joerg
caro@email.com            Johanna
johanna@email.com            Caro
Name: firstname, dtype: object

In [506]:
persons['firstname'].isin(['Caro', 'Philipp'])

email
jf@faschingbauer.co.at    False
caro@email.com            False
johanna@email.com          True
philipp@email.com          True
Name: firstname, dtype: bool

In [508]:
(persons['firstname'] == 'Caro') | (persons['firstname'] == 'Philipp')

email
jf@faschingbauer.co.at    False
caro@email.com            False
johanna@email.com          True
philipp@email.com          True
Name: firstname, dtype: bool

In [512]:
persons.reset_index(inplace=True)

In [513]:
persons

                    email firstname       lastname  age
0  jf@faschingbauer.co.at     Joerg  Faschingbauer   56
1          caro@email.com   Johanna  Faschingbauer   27
2       johanna@email.com      Caro  Faschingbauer   25
3       philipp@email.com   Philipp  Lichtenberger   37

In [515]:
persons['email']

0    jf@faschingbauer.co.at
1            caro@email.com
2         johanna@email.com
3         philipp@email.com
Name: email, dtype: object

In [516]:
persons.loc[persons['firstname'].isin(['Caro', 'Philipp'])]

               email firstname       lastname  age
2  johanna@email.com      Caro  Faschingbauer   25
3  philipp@email.com   Philipp  Lichtenberger   37

In [517]:
persons.loc[persons['firstname'].isin(['Caro', 'Philipp']), 'email']

2    johanna@email.com
3    philipp@email.com
Name: email, dtype: object

In [518]:
persons.loc[persons['firstname'].isin(['Caro', 'Philipp']), 'email'].str.upper()

2    JOHANNA@EMAIL.COM
3    PHILIPP@EMAIL.COM
Name: email, dtype: object

In [520]:
persons['email'] = persons.loc[persons['firstname'].isin(['Caro', 'Philipp']), 'email'].str.upper()

In [521]:
persons

               email firstname       lastname  age
0                NaN     Joerg  Faschingbauer   56
1                NaN   Johanna  Faschingbauer   27
2  JOHANNA@EMAIL.COM      Caro  Faschingbauer   25
3  PHILIPP@EMAIL.COM   Philipp  Lichtenberger   37

In [524]:
persons.dropna()

               email firstname       lastname  age
2  JOHANNA@EMAIL.COM      Caro  Faschingbauer   25
3  PHILIPP@EMAIL.COM   Philipp  Lichtenberger   37

In [525]:
persons

               email firstname       lastname  age
0                NaN     Joerg  Faschingbauer   56
1                NaN   Johanna  Faschingbauer   27
2  JOHANNA@EMAIL.COM      Caro  Faschingbauer   25
3  PHILIPP@EMAIL.COM   Philipp  Lichtenberger   37

In [531]:
persons['firstname'].str.startswith('J').value_counts()

True     2
False    2
Name: firstname, dtype: int64