# Jupyter Notebook: Python Advanced (2023-11-22 - 2023-11-24)

## Variables

In [1]:
a = 1

In [2]:
print(a)

1

In [3]:
type(a)

int

In [4]:
a = 'hallo'

In [5]:
print(a)

hallo

In [6]:
type(a)

str

In [7]:
t = type(a)

In [8]:
print(t)

<class 'str'>

In [9]:
type(t)

type

In [10]:
class Foo:
    i = 666
    def __init__(self, i):
        self.i = i
    def bar(self):
        return self.i**2

In [11]:
type(Foo)

type

In [12]:
s = str(666)

In [13]:
s

'666'

In [14]:
s = '666'

In [15]:
f = Foo(3)

In [16]:
f.i

3

In [17]:
f.bar()

9

In [18]:
type(f)

__main__.Foo

In [19]:
type(type(f))

type

In [20]:
type(Foo.bar)

function

In [21]:
import sys

In [22]:
type(sys)

module

In [23]:
sys = 666

In [24]:
del sys

## Assignment, And IDs

In [25]:
a, b = 1, 2

In [26]:
a

1

In [27]:
b

2

In [28]:
a = b = 1

In [29]:
a = 42

In [30]:
id(a)

139925563524624

In [31]:
b = a

In [32]:
id(b)

139925563524624

In [33]:
b = 666

In [34]:
a

42

In [35]:
a = 42
b = a

In [36]:
id(a) == id(b)

True

In [37]:
a is b

True

### (Im)Mutability

In [38]:
a += 1

In [39]:
a

43

In [40]:
b

42

Speed Optimization

In [41]:
a = 43

In [42]:
b = 43

In [43]:
a is b

True

And Lists? Lists are **mutable**!

In [44]:
l1 = [1,2,3, 'vier']

In [45]:
len(l1)

4

In [46]:
l1[2]

3

In [47]:
l2 = l1

In [48]:
l1 is l2

True

In [49]:
l1.append(5.0)

In [50]:
l1

[1, 2, 3, 'vier', 5.0]

In [51]:
l2

[1, 2, 3, 'vier', 5.0]

In [52]:
l1 += [6, 7, 8]

In [53]:
l1

[1, 2, 3, 'vier', 5.0, 6, 7, 8]

In [54]:
l2

[1, 2, 3, 'vier', 5.0, 6, 7, 8]

And Tuples? **Immutable**

In [55]:
t1 = (1, 2, 3, 'vier')

In [56]:
try:
    t1.append(5.0)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

In [57]:
t2 = t1

In [58]:
t2 is t1

True

In [59]:
t2 += (6, 7, 8)

In [60]:
t2 is t1

False

### Tuple Unpacking

In [61]:
a, b = 1, 2

In [62]:
(a, b) = (1, 2)

In [63]:
try:
    a, b = 1
except Exception as e:
    print(type(e), e)

<class 'TypeError'> cannot unpack non-iterable int object

In [64]:
a, b

(1, 2)

In [65]:
tmp = b
b = a
a = tmp

In [66]:
a, b

(2, 1)

In [67]:
a, b = b, a

In [68]:
a, b

(1, 2)

In [69]:
d = {'one': 1, 'two': 2}

In [70]:
type(d)

dict

In [71]:
for elem in d:
    print(elem)

one
two

In [72]:
for elem in d.keys():
    print(elem)

one
two

In [73]:
for elem in d.values():
    print(elem)

1
2

In [74]:
for elem in d.items():
    print(elem)

('one', 1)
('two', 2)

In [75]:
for elem in d.items():
    k = elem[0]
    v = elem[1]
    print(k, v)

one 1
two 2

In [76]:
for k, v in d.items():
    print(k, v)

one 1
two 2

## Datatypes

### Integers

In [77]:
i = 0

In [78]:
i = -1

In [79]:
i = 2**64-1

In [80]:
hex(i)

'0xffffffffffffffff'

In [81]:
i += 1

In [82]:
i

18446744073709551616

In [83]:
hex(i)

'0x10000000000000000'

In [84]:
i**=10

In [85]:
hex(i)

'0x10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000'

In [86]:
3/2

1.5

In [87]:
3//2

1

In [88]:
type(3//2)

int

### Operator Overloading (Basics)

In [89]:
a = 3

In [90]:
a - 2

1

In [91]:
a.__sub__(2)

1

In [92]:
a - 2.0

1.0

In [93]:
a.__sub__(2.0)

NotImplemented

In [94]:
b = 2.0

In [95]:
b.__rsub__(a)

1.0

### Datatype Conversions

In [96]:
i = 666

In [97]:
s = str(i)

In [98]:
s

'666'

In [99]:
i = int(s)

In [100]:
i

666

In [101]:
s = 'abc'

In [102]:
try:
    int(s)
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: 'abc'

In [103]:
i = int(s, 16)

In [104]:
i

2748

In [105]:
try:
    s = '0xabc'
    int(s)
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: '0xabc'

In [106]:
int(s, 16)

2748

In [107]:
float('2.3')

2.3

In [108]:
def convert_to_int(obj):
    if type(obj) is int:
        return obj
    elif type(obj) is float:
        return int(obj)
    # ...

## Compound Datatypes

### Dictionary

In [109]:
d = {'one': 1, 'two': 2}

In [110]:
d['one']

1

In [111]:
try:
    d['three']
except Exception as e:
    print(type(e), e)

<class 'KeyError'> 'three'

In [112]:
d['three'] = 3

In [113]:
v = d.get('four')
print(v)

None

In [114]:
v = d.get('four')
if v is None:
    v = 4

In [115]:
d.get('four', 4)

4

In [116]:
v = d.get('four')
if v is None:
    v = 4
    d['four'] = v

In [117]:
d['four']

4

In [118]:
d.setdefault('five', 5)

5

In [119]:
d['five']

5

### Set

In [120]:
s = {1,2,3}

In [121]:
s.add(4)

In [122]:
s.remove(1)

In [123]:
len(s)

3

In [124]:
s.add(4)

In [125]:
len(s)

3

In [126]:
2 in s

True

``in`` on lists: performance!

In [127]:
3 in s

True

In [128]:
l = [1, 2, 3]

In [129]:
1 in l

True

In [130]:
2 in l

True

In [131]:
3 in l

True

In [132]:
100 in l

False

Kann  man listen in sets konvertieren?

In [133]:
l = [1,2,3]
s = set(l)   # iterable

In [134]:
s

{1, 2, 3}

In [135]:
set('abc')

{'a', 'b', 'c'}

In [136]:
for elem in 'abc':
    print(elem)

a
b
c

In [137]:
try:
    set('abc', 'def')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> set expected at most 1 argument, got 2

In [138]:
set(['abc'])

{'abc'}

In [139]:
set(['abc', 'def'])

{'abc', 'def'}

### And Iterables? The Iterator Protocol!

In [140]:
set(range(3))

{0, 1, 2}

In [141]:
for elem in range(3):
    print(elem)

0
1
2

In [142]:
r = range(3)

In [143]:
type(r)

range

In [144]:
it = iter(r)

In [145]:
next(it)

0

In [146]:
next(it)

1

In [147]:
next(it)

2

In [148]:
try:
    next(it)
except Exception as e:
    print(type(e), e)

<class 'StopIteration'>

In [149]:
def drei_ints():
    return [1,2,3]

In [150]:
for elem in drei_ints():
    print(elem)

1
2
3

In [151]:
def drei_ints():
    print('eins')
    yield 1
    print('zwei')
    yield 2
    print('drei')
    yield 3
    print('und aus')

In [152]:
for elem in drei_ints():
    print(elem)

eins
1
zwei
2
drei
3
und aus

In [153]:
d = drei_ints()

In [155]:
it = iter(d)

In [156]:
next(it)

eins

1

In [157]:
next(it)

zwei

2

In [158]:
next(it)

drei

3

In [160]:
try:
    next(it)
except Exception as e:
    print(type(e), e)

<class 'StopIteration'>

In [161]:
numbers = [0, 1, 2, 3, 4, 5]

In [162]:
squares = []
for elem in numbers:
    squares.append(elem**2)

In [163]:
squares

[0, 1, 4, 9, 16, 25]

In [164]:
def squares(nums):
    sqs = []
    for elem in nums:
        sqs.append(elem**2)
    return sqs

In [165]:
for elem in squares(numbers):
    print(elem)

0
1
4
9
16
25

In [166]:
def squares(nums):
    for elem in nums:
        yield elem**2

In [167]:
for elem in squares(numbers):
    print(elem)

0
1
4
9
16
25

In [168]:
numbers

[0, 1, 2, 3, 4, 5]

In [172]:
[elem**2 for elem in numbers]

[0, 1, 4, 9, 16, 25]

In [174]:
sqs = (elem**2 for elem in numbers)

In [176]:
for sq in sqs:
    print(sq)

1
4
9
16
25

## Strings

In [177]:
'''\
zeile 1
zeile 2
'''

'zeile 1\nzeile 2\n'

In [187]:
def foo(bar):
    '''
    Foos a bar.
    ``bar`` should be a str.
    '''

    return 'foo' + bar

In [179]:
foo('abc')

'fooabc'

In [180]:
foo

In [185]:
foo.__doc__

'Foos a bar.\n``bar`` should be a str.\n'

In [186]:
help(foo)

Help on function foo in module __main__:

foo(bar)
    Foos a bar.
    ``bar`` should be a str.