# Python (2022-10-17)

## Modules

In [1]:
import sys

In [2]:
type(sys)

module

In [3]:
try:
    sys.exit()
except SystemExit:
    pass

In [4]:
my_sys = sys
del sys

In [5]:
my_sys.byteorder

'little'

In [6]:
import sys as my_sys

In [7]:
import sys

In [8]:
sys.byteorder

'little'

In [9]:
from sys import byteorder

In [10]:
byteorder

'little'

In [11]:
from sys import *    # all of dir(sys)

In [12]:
exit

## Tuple Unpacking, Lists Iteration, And Such

**Tuple Unpacking**

In [13]:
a = 1
b = 2

In [14]:
tmp = a
a = b
b = tmp
print(a, b)

2 1

In [15]:
a = 1
b = 2

In [16]:
a, b = b, a

In [17]:
print(a, b)

2 1

In [18]:
def function_returns_two_values():
    return 42, 666

In [19]:
rv = function_returns_two_values()
rv

(42, 666)

In [20]:
a, b = function_returns_two_values()
a, b

(42, 666)

**... On Lists of Pairs**

In [21]:
l = [(1, 'one'), (2, 'two')]

In [22]:
for elem in l:
    print(elem)

(1, 'one')
(2, 'two')

In [23]:
for elem in l:
    x = elem[0]
    y = elem[1]
    print(x, y)

1 one
2 two

In [24]:
for x, y in l:
    print(x, y)

1 one
2 two

In [25]:
for _, y in l:
    print(y)

one
two

**Dictionaries**

In [28]:
l = [(1, 'one'), (2, 'two')]

In [29]:
d = {1: 'one',
    2:'two'
    }

In [31]:
d = dict(l)

In [33]:
d

{1: 'one', 2: 'two'}

In [34]:
d[1]

'one'

In [35]:
d[3] = 'three'

In [37]:
len(d)

3

In [39]:
for elem in d:
    print(elem)

1
2
3

In [40]:
for elem in d.keys():
    print(elem)

1
2
3

In [41]:
for v in d.values():
    print(v)

one
two
three

In [42]:
for k, v in d.items():
    print(k, v)

1 one
2 two
3 three

## Variables, Types

In [46]:
i = 42

In [47]:
type(i)

int

In [49]:
i = 'abc'

In [50]:
type(i)

str

In [51]:
i = [1,2,3, 'abc', {1:'one'}]

In [52]:
type(i)

list

In [53]:
a = 42
id(a)

140284401387024

In [54]:
b = a
id(b)

140284401387024

**sizeof()**

In [56]:
dir(float)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [59]:
import sys
sys.getsizeof(3.14)

24

In [65]:
f = 3.14
f.__sizeof__()

24

In [69]:
bin(0b0010^0b1011)

'0b1001'

## Compound Datatypes

### List

In [74]:
l = [1,2,3]

In [75]:
l.append(4)

In [76]:
l

[1, 2, 3, 4]

In [77]:
l.append('fuenf')

In [78]:
l.extend([6,7,8])

In [80]:
l

[1, 2, 3, 4, 'fuenf', 6, 7, 8]

In [81]:
del l[2]
l

[1, 2, 4, 'fuenf', 6, 7, 8]

### Tuple

In [83]:
t = (1,2,3)

In [88]:
try:
    t.append(4)
except AttributeError as e:
    print(e)

'tuple' object has no attribute 'append'

### Dictionary

In [89]:
d = {1:'one', 2:'two'}

In [90]:
d[1]

'one'

In [95]:
try:
    print(d[3])
except KeyError as e:
    print('nix')

nix

In [96]:
value = d.get(3)
if value is True:
    print(value)
else:
    print('nix')

nix

In [97]:
d['vier'] = 4

In [98]:
d

{1: 'one', 2: 'two', 'vier': 4}

In [101]:
key_list = [1,2,3]
try:
    d[key_list] = 666
except TypeError as e:
    print(e)

unhashable type: 'list'

In [102]:
key_tuple = (1,2,3)
d[key_tuple] = 42

### Set

In [104]:
s = {1,2,3}

In [107]:
3 in s

True

In [109]:
5 in s

False

In [110]:
s.add(5)

In [111]:
5 in s

True

### Immutable? References?

In [112]:
l1 = [1,2,3,4,5]
l2 = l1

In [115]:
l1 == l2    # same content

True

In [117]:
l1 is l2

True

In [118]:
id(l1) == id(l2)

True

In [119]:
l1.append(6)
l2

[1, 2, 3, 4, 5, 6]

In [125]:
l3 = l1[:]    # allocate new list, and copy toplevel

In [122]:
l3 == l1

True

In [124]:
l3 is l1

False

In [127]:
l3.append(7)

In [129]:
l1

[1, 2, 3, 4, 5, 6]

In [131]:
l3

[1, 2, 3, 4, 5, 6, 7, 7]

In [132]:
evil_list = [1,2,3,[4,5,6],7,8,9]

In [133]:
len(evil_list)

7

In [134]:
evil_list_2 = evil_list[:]

In [135]:
evil_list_2.append(10)

In [137]:
evil_list

[1, 2, 3, [4, 5, 6], 7, 8, 9]

In [138]:
evil_list_2[3].append(100)

In [140]:
evil_list

[1, 2, 3, [4, 5, 6, 100], 7, 8, 9]

# Strings

In [143]:
s = 'abc'
s

'abc'

In [144]:
s = "abc"
s

'abc'

In [145]:
s = 'ab"c'
s

'ab"c'

In [147]:
s = "ab\"c"
s

'ab"c'

In [149]:
doc = '''
das ist eine doku von 
einem modul, das blah 
viel zu kompliziert ist,
um in eine zeile zu passen.
'''

In [152]:
doc

'\ndas ist eine doku von \neinem modul, das blah \nviel zu kompliziert ist,\num in eine zeile zu passen.\n'

# Tuple Unpacking

In [153]:
l = [{'id': 1, 'firstname': 'Joerg'}, {'id': 2, 'firstname': 'Caro'}]

In [156]:
for elem in l:
    print(elem)

{'id': 1, 'firstname': 'Joerg'}
{'id': 2, 'firstname': 'Caro'}

In [155]:
for id, firstname in l:
    print(id, firstname)

id firstname
id firstname

In [157]:
d = {'id': 1, 'firstname': 'Joerg'}

In [159]:
x, y = d
print(x, y)

id firstname

In [161]:
x, y = d.keys()

In [163]:
x, y

('id', 'firstname')

In [164]:
x, y = d.values()
x, y

(1, 'Joerg')

# Raw Strings

``\U`` is a unicode escape sequence

In [170]:
# Syntax error: doze_path = 'D:\Users\blah'

In [168]:
doze_path = 'D:\\Users\\blah'
doze_path

'D:\\Users\\blah'

In [169]:
doze_path = r'D:\Users\blah'
doze_path

'D:\\Users\\blah'

In [181]:
regex = r'^[0-9]*\.txt'
import re

In [182]:
compiled_regex = re.compile(regex)

In [184]:
compiled_regex.search('123.txt')

## JSON

In [186]:
l = [{'id': 1, 'firstname': 'Joerg'}, {'id': 2, 'firstname': 'Caro'}]

In [189]:
import pprint
pprint.pprint(l, width=10)

[{'firstname': 'Joerg',
  'id': 1},
 {'firstname': 'Caro',
  'id': 2}]

In [191]:
import json

In [193]:
l_json = json.dumps(l)
l_json

'[{"id": 1, "firstname": "Joerg"}, {"id": 2, "firstname": "Caro"}]'

In [194]:
l_json_sent = l_json

In [196]:
received_data = json.loads(l_json_sent)
received_data

[{'id': 1, 'firstname': 'Joerg'}, {'id': 2, 'firstname': 'Caro'}]

## Iteration

In [199]:
l = [666, 42.5,3, 'abc']

In [200]:
for elem in l:
    print(elem)

666
42.5
3
abc

**Index based iteration**

In [202]:
for i in range(len(l)):
    print(i, l[i])

0 666
1 42.5
2 3
3 abc

In [205]:
for i, elem in enumerate(l):
    print(i, elem)

0 666
1 42.5
2 3
3 abc

**Iterable?**

In [206]:
for elem in l:
    print(elem)

666
42.5
3
abc

In [207]:
d = {1:'one', 2:'two'}
for elem in d:
    print(elem)

1
2

In [209]:
s = {666, 1.5, 'abc'}
for elem in s:
    print(elem)

1.5
666
abc

In [217]:
s = 'Joerg'
for elem in s:
    print(elem)

J
o
e
r
g

In [216]:
i = 666
try:
    for elem in i:
        print(elem)
except TypeError as e:
    print(e)

'int' object is not iterable

In [219]:
l = list('Joerg')
l

['J', 'o', 'e', 'r', 'g']

lists from dictionaries

In [221]:
d

{1: 'one', 2: 'two'}

In [222]:
list(d)

[1, 2]

In [223]:
list(d.values())

['one', 'two']

### And ``range()``?

In [241]:
for i in range(5):
    print(i)

0
1
2
3
4

In [242]:
r = range(5)
r

range(0, 5)

In [243]:
it = iter(r)

In [245]:
it

In [246]:
next(it)

0

In [247]:
next(it)

1

In [248]:
next(it)

2

In [249]:
next(it)

3

In [250]:
next(it)

4

In [253]:
try:
    next(it)
except StopIteration:
    pass

In [255]:
for i in range(5):
    print(i)

0
1
2
3
4

In [256]:
it = iter([1,2,3])
next(it)

1

In [257]:
next(it)

2

In [258]:
next(it)

3

In [260]:
try:
    next(it)
except StopIteration:
    pass

## More About Dictionaries

In [261]:
d = {
    'one': 1,
    'two': 2,
}

In [262]:
d

{'one': 1, 'two': 2}

In [263]:
d['three'] = 3

In [264]:
d['two'] = 200

In [265]:
d

{'one': 1, 'two': 200, 'three': 3}

In [266]:
2 in d

False

In [267]:
if 2 in d:
    d[2] += 100

In [269]:
d

{'one': 1, 'two': 200, 'three': 3}

In [272]:
try:
    d[100]
except KeyError as e:
    print(e)

100

In [275]:
value = d.get(100)
print(value)

None

In [276]:
value = d.get(100)
if value is None:
    d[100] = 'hundred'

In [277]:
d

{'one': 1, 'two': 200, 'three': 3, 100: 'hundred'}

### ``collections.defaultdict``

In [278]:
from collections import defaultdict

In [279]:
d = defaultdict(int)

In [282]:
d[100]

0

In [283]:
def create_avg_items():
    return [0,0]

In [284]:
d = defaultdict(create_avg_items)

In [289]:
d = defaultdict(lambda: [0,0])

In [290]:
elem = d['sensor1']
elem

[0, 0]

In [291]:
elem[0] += 3.14
elem[1] += 1

In [292]:
d['sensor1']

[3.14, 1]