# Python (2022-10-17)

## Modules

In [1]:
import sys

In [2]:
type(sys)

module

In [3]:
try:
    sys.exit()
except SystemExit:
    pass

In [4]:
my_sys = sys
del sys

In [5]:
my_sys.byteorder

'little'

In [6]:
import sys as my_sys

In [7]:
import sys

In [8]:
sys.byteorder

'little'

In [9]:
from sys import byteorder

In [10]:
byteorder

'little'

In [11]:
from sys import *    # all of dir(sys)

In [12]:
exit

## Tuple Unpacking, Lists Iteration, And Such

**Tuple Unpacking**

In [13]:
a = 1
b = 2

In [14]:
tmp = a
a = b
b = tmp
print(a, b)

2 1

In [15]:
a = 1
b = 2

In [16]:
a, b = b, a

In [17]:
print(a, b)

2 1

In [18]:
def function_returns_two_values():
    return 42, 666

In [19]:
rv = function_returns_two_values()
rv

(42, 666)

In [20]:
a, b = function_returns_two_values()
a, b

(42, 666)

**... On Lists of Pairs**

In [21]:
l = [(1, 'one'), (2, 'two')]

In [22]:
for elem in l:
    print(elem)

(1, 'one')
(2, 'two')

In [23]:
for elem in l:
    x = elem[0]
    y = elem[1]
    print(x, y)

1 one
2 two

In [24]:
for x, y in l:
    print(x, y)

1 one
2 two

In [25]:
for _, y in l:
    print(y)

one
two

**Dictionaries**

In [26]:
l = [(1, 'one'), (2, 'two')]

In [27]:
d = {1: 'one',
    2:'two'
    }

In [28]:
d = dict(l)

In [29]:
d

{1: 'one', 2: 'two'}

In [30]:
d[1]

'one'

In [31]:
d[3] = 'three'

In [32]:
len(d)

3

In [33]:
for elem in d:
    print(elem)

1
2
3

In [34]:
for elem in d.keys():
    print(elem)

1
2
3

In [35]:
for v in d.values():
    print(v)

one
two
three

In [36]:
for k, v in d.items():
    print(k, v)

1 one
2 two
3 three

## Variables, Types

In [37]:
i = 42

In [38]:
type(i)

int

In [39]:
i = 'abc'

In [40]:
type(i)

str

In [41]:
i = [1,2,3, 'abc', {1:'one'}]

In [42]:
type(i)

list

In [43]:
a = 42
id(a)

140134238766608

In [44]:
b = a
id(b)

140134238766608

**sizeof()**

In [45]:
dir(float)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [46]:
import sys
sys.getsizeof(3.14)

24

In [47]:
f = 3.14
f.__sizeof__()

24

In [48]:
bin(0b0010^0b1011)

'0b1001'

## Compound Datatypes

### List

In [49]:
l = [1,2,3]

In [50]:
l.append(4)

In [51]:
l

[1, 2, 3, 4]

In [52]:
l.append('fuenf')

In [53]:
l.extend([6,7,8])

In [54]:
l

[1, 2, 3, 4, 'fuenf', 6, 7, 8]

In [55]:
del l[2]
l

[1, 2, 4, 'fuenf', 6, 7, 8]

### Tuple

In [56]:
t = (1,2,3)

In [57]:
try:
    t.append(4)
except AttributeError as e:
    print(e)

'tuple' object has no attribute 'append'

### Dictionary

In [58]:
d = {1:'one', 2:'two'}

In [59]:
d[1]

'one'

In [60]:
try:
    print(d[3])
except KeyError as e:
    print('nix')

nix

In [61]:
value = d.get(3)
if value is True:
    print(value)
else:
    print('nix')

nix

In [62]:
d['vier'] = 4

In [63]:
d

{1: 'one', 2: 'two', 'vier': 4}

In [64]:
key_list = [1,2,3]
try:
    d[key_list] = 666
except TypeError as e:
    print(e)

unhashable type: 'list'

In [65]:
key_tuple = (1,2,3)
d[key_tuple] = 42

### Set

In [66]:
s = {1,2,3}

In [67]:
3 in s

True

In [68]:
5 in s

False

In [69]:
s.add(5)

In [70]:
5 in s

True

### Immutable? References?

In [71]:
l1 = [1,2,3,4,5]
l2 = l1

In [72]:
l1 == l2    # same content

True

In [73]:
l1 is l2

True

In [74]:
id(l1) == id(l2)

True

In [75]:
l1.append(6)
l2

[1, 2, 3, 4, 5, 6]

In [76]:
l3 = l1[:]    # allocate new list, and copy toplevel

In [77]:
l3 == l1

True

In [78]:
l3 is l1

False

In [79]:
l3.append(7)

In [80]:
l1

[1, 2, 3, 4, 5, 6]

In [81]:
l3

[1, 2, 3, 4, 5, 6, 7]

In [82]:
evil_list = [1,2,3,[4,5,6],7,8,9]

In [83]:
len(evil_list)

7

In [84]:
evil_list_2 = evil_list[:]

In [85]:
evil_list_2.append(10)

In [86]:
evil_list

[1, 2, 3, [4, 5, 6], 7, 8, 9]

In [87]:
evil_list_2[3].append(100)

In [88]:
evil_list

[1, 2, 3, [4, 5, 6, 100], 7, 8, 9]

# Strings

In [89]:
s = 'abc'
s

'abc'

In [90]:
s = "abc"
s

'abc'

In [91]:
s = 'ab"c'
s

'ab"c'

In [92]:
s = "ab\"c"
s

'ab"c'

In [93]:
doc = '''
das ist eine doku von 
einem modul, das blah 
viel zu kompliziert ist,
um in eine zeile zu passen.
'''

In [94]:
doc

'\ndas ist eine doku von \neinem modul, das blah \nviel zu kompliziert ist,\num in eine zeile zu passen.\n'

# Tuple Unpacking

In [95]:
l = [{'id': 1, 'firstname': 'Joerg'}, {'id': 2, 'firstname': 'Caro'}]

In [96]:
for elem in l:
    print(elem)

{'id': 1, 'firstname': 'Joerg'}
{'id': 2, 'firstname': 'Caro'}

In [97]:
for id, firstname in l:
    print(id, firstname)

id firstname
id firstname

In [98]:
d = {'id': 1, 'firstname': 'Joerg'}

In [99]:
x, y = d
print(x, y)

id firstname

In [100]:
x, y = d.keys()

In [101]:
x, y

('id', 'firstname')

In [102]:
x, y = d.values()
x, y

(1, 'Joerg')

# Raw Strings

``\U`` is a unicode escape sequence

In [103]:
# Syntax error: doze_path = 'D:\Users\blah'

In [104]:
doze_path = 'D:\\Users\\blah'
doze_path

'D:\\Users\\blah'

In [105]:
doze_path = r'D:\Users\blah'
doze_path

'D:\\Users\\blah'

In [106]:
regex = r'^[0-9]*\.txt'
import re

In [107]:
compiled_regex = re.compile(regex)

In [108]:
compiled_regex.search('123.txt')

## JSON

In [109]:
l = [{'id': 1, 'firstname': 'Joerg'}, {'id': 2, 'firstname': 'Caro'}]

In [110]:
import pprint
pprint.pprint(l, width=10)

[{'firstname': 'Joerg',
  'id': 1},
 {'firstname': 'Caro',
  'id': 2}]

In [111]:
import json

In [112]:
l_json = json.dumps(l)
l_json

'[{"id": 1, "firstname": "Joerg"}, {"id": 2, "firstname": "Caro"}]'

In [113]:
l_json_sent = l_json

In [114]:
received_data = json.loads(l_json_sent)
received_data

[{'id': 1, 'firstname': 'Joerg'}, {'id': 2, 'firstname': 'Caro'}]

## Iteration

In [115]:
l = [666, 42.5,3, 'abc']

In [116]:
for elem in l:
    print(elem)

666
42.5
3
abc

**Index based iteration**

In [117]:
for i in range(len(l)):
    print(i, l[i])

0 666
1 42.5
2 3
3 abc

In [118]:
for i, elem in enumerate(l):
    print(i, elem)

0 666
1 42.5
2 3
3 abc

**Iterable?**

In [119]:
for elem in l:
    print(elem)

666
42.5
3
abc

In [120]:
d = {1:'one', 2:'two'}
for elem in d:
    print(elem)

1
2

In [121]:
s = {666, 1.5, 'abc'}
for elem in s:
    print(elem)

1.5
abc
666

In [122]:
s = 'Joerg'
for elem in s:
    print(elem)

J
o
e
r
g

In [123]:
i = 666
try:
    for elem in i:
        print(elem)
except TypeError as e:
    print(e)

'int' object is not iterable

In [124]:
l = list('Joerg')
l

['J', 'o', 'e', 'r', 'g']

lists from dictionaries

In [125]:
d

{1: 'one', 2: 'two'}

In [126]:
list(d)

[1, 2]

In [127]:
list(d.values())

['one', 'two']

### And ``range()``?

In [128]:
for i in range(5):
    print(i)

0
1
2
3
4

In [129]:
r = range(5)
r

range(0, 5)

In [130]:
it = iter(r)

In [131]:
it

In [132]:
next(it)

0

In [133]:
next(it)

1

In [134]:
next(it)

2

In [135]:
next(it)

3

In [136]:
next(it)

4

In [137]:
try:
    next(it)
except StopIteration:
    pass

In [138]:
for i in range(5):
    print(i)

0
1
2
3
4

In [139]:
it = iter([1,2,3])
next(it)

1

In [140]:
next(it)

2

In [141]:
next(it)

3

In [142]:
try:
    next(it)
except StopIteration:
    pass

## More About Dictionaries

In [143]:
d = {
    'one': 1,
    'two': 2,
}

In [144]:
d

{'one': 1, 'two': 2}

In [145]:
d['three'] = 3

In [146]:
d['two'] = 200

In [147]:
d

{'one': 1, 'two': 200, 'three': 3}

In [148]:
2 in d

False

In [149]:
if 2 in d:
    d[2] += 100

In [150]:
d

{'one': 1, 'two': 200, 'three': 3}

In [151]:
try:
    d[100]
except KeyError as e:
    print(e)

100

In [152]:
value = d.get(100)
print(value)

None

In [153]:
value = d.get(100)
if value is None:
    d[100] = 'hundred'

In [154]:
d

{'one': 1, 'two': 200, 'three': 3, 100: 'hundred'}

### ``collections.defaultdict``

In [155]:
from collections import defaultdict

In [156]:
d = defaultdict(int)

In [157]:
d[100]

0

In [158]:
def create_avg_items():
    return [0,0]

In [159]:
d = defaultdict(create_avg_items)

In [160]:
d = defaultdict(lambda: [0,0])

In [161]:
elem = d['sensor1']
elem

[0, 0]

In [162]:
elem[0] += 3.14
elem[1] += 1

In [163]:
d['sensor1']

[3.14, 1]

# More About Lists

In [164]:
l = [3,2,5,6,7]

In [165]:
l.append(42)
l

[3, 2, 5, 6, 7, 42]

In [166]:
l1 = ['a', 'b']
l.append(l1)

In [167]:
l

[3, 2, 5, 6, 7, 42, ['a', 'b']]

In [168]:
del l[len(l)-1]

In [169]:
l1 = ['a', 'b']
l.append(l1)

In [170]:
l

[3, 2, 5, 6, 7, 42, ['a', 'b']]

In [171]:
l[-1:] = []
l

[3, 2, 5, 6, 7, 42]

In [172]:
l1 = ['a', 'b']
l.append(l1)
l

[3, 2, 5, 6, 7, 42, ['a', 'b']]

In [173]:
l.pop(len(l)-1)

['a', 'b']

In [174]:
l

[3, 2, 5, 6, 7, 42]

In [175]:
l1

['a', 'b']

In [176]:
l.extend(l1)
l

[3, 2, 5, 6, 7, 42, 'a', 'b']

In [177]:
try:
    l.sort()
except TypeError as e:
    print(e)

'<' not supported between instances of 'str' and 'int'

In [178]:
l = [3,2,5,6,7]

In [179]:
l.sort()
l

[2, 3, 5, 6, 7]

In [180]:
l = [3,2,5,6,7]

In [181]:
sorted(l)

[2, 3, 5, 6, 7]

In [182]:
l

[3, 2, 5, 6, 7]

## More About Dictionaries

In [183]:
d = {}

In [184]:
type(d)

dict

In [185]:
d = dict()

In [186]:
l = [(1, 'one'), [2, 'two']]
d = dict(l)
d

{1: 'one', 2: 'two'}

In [187]:
l = ('zero', 'one', 'two')
for i, name in enumerate(l):
    print(i, name)

0 zero
1 one
2 two

In [188]:
l = ('zero', 'one', 'two')
d = dict(enumerate(l))
d

{0: 'zero', 1: 'one', 2: 'two'}

In [189]:
d[100] = 'hundred'
d

{0: 'zero', 1: 'one', 2: 'two', 100: 'hundred'}

In [190]:
d[100]

'hundred'

In [191]:
try:
    d[99]
except KeyError as e:
    print(e)

99

In [192]:
value = d.get(99)
if value is not None:
    print(value)
else:
    print('leider nein')

leider nein

In [193]:
value = d.get(99, 'leider nein')
print(value)

leider nein

In [194]:
del d[100]
d

{0: 'zero', 1: 'one', 2: 'two'}

**Iteration**

In [196]:
d

{0: 'zero', 1: 'one', 2: 'two'}

In [202]:
for elem in d:
    print(elem)

0
1
2

In [203]:
list(d)

[0, 1, 2]

In [204]:
for k in d.keys():
    print(k)

0
1
2

In [205]:
for v in d.values():
    print(v)

zero
one
two

In [206]:
list(d.values())

['zero', 'one', 'two']

In [209]:
dict(enumerate(d.values()))

{0: 'zero', 1: 'one', 2: 'two'}

In [211]:
for elem in d.items():
    print(elem)

(0, 'zero')
(1, 'one')
(2, 'two')

In [212]:
list(d.items())

[(0, 'zero'), (1, 'one'), (2, 'two')]

In [213]:
d.setdefault(99, 'ninetynine')

'ninetynine'

In [214]:
d[99]

'ninetynine'

In [215]:
d[1]

'one'

In [216]:
d.setdefault(1, 'eins')

'one'

In [218]:
if 100 in d:
    result = d[100]
else:
    d[100] = 'hundred'
    result = 'hundred'
print(result)

hundred

In [219]:
d

{0: 'zero', 1: 'one', 2: 'two', 99: 'ninetynine', 100: 'hundred'}

In [220]:
del d[100]

In [221]:
result = d.setdefault(100, 'hundred')
result

'hundred'

In [222]:
d

{0: 'zero', 1: 'one', 2: 'two', 99: 'ninetynine', 100: 'hundred'}