# Assert

In [2]:
assert 1 == 1

In [4]:
try:
    assert 1 == 2
except Exception as e:
    print(type(e), e)

<class 'AssertionError'>

# Object Oriented Programming

In [8]:
i = 666

In [9]:
print(type(i))

<class 'int'>

In [5]:
s = 'mississippi'

In [7]:
print(type(s))

<class 'str'>

In [41]:
s.count('ss')

2

In [13]:
s.find('ss')

2

In [14]:
str_mit_666 = str(666)

In [21]:
print(str_mit_666)

666

## The ``id()`` function

In [22]:
l1 = [1, 2, 3]
l2 = l1

In [24]:
l1

[1, 2, 3]

In [25]:
l2

[1, 2, 3]

In [26]:
l1.append(4)

In [28]:
l1

[1, 2, 3, 4]

In [29]:
l2

[1, 2, 3, 4]

In [31]:
id(l1)

140263506310016

In [33]:
id(l2)

140263506310016

In [34]:
id(l1) == id(l2)

True

In [35]:
l1 is l2

True

## ``class Person``

In [36]:
class Person:
    def __init__(self, firstname, lastname):
        print('Person.__init__(): ', id(self))
        self.firstname = firstname
        self.lastname = lastname

In [37]:
joerg = Person('Joerg', 'Faschingbauer')

Person.__init__():  140263506171504

In [38]:
print('id von joerg:', id(joerg))

id von joerg: 140263506171504

In [18]:
print(type(joerg))

<class '__main__.Person'>

In [39]:
joerg.firstname

'Joerg'

In [40]:
joerg.lastname

'Faschingbauer'