# Hallo Jupyter Notebook

In [1]:
print('hello world')

hello world

# Syntax

In [2]:
print('ein statement')

ein statement

In [3]:
print('ein statement'); print('noch ein statement');

ein statement
noch ein statement

In [4]:
print('ein statement')
print('noch ein statement')

ein statement
noch ein statement

# Strings

In [5]:
s = 'ein string'
print(s)

ein string

In [6]:
s

'ein string'

In [7]:
s = "auch ein string"
s

'auch ein string'

In [8]:
s = 'ein string mit einem "'
s

'ein string mit einem "'

In [9]:
s = "ein string mit einem '"
s

"ein string mit einem '"

In [10]:
s = "ein string mit einem \""
s

'ein string mit einem "'

In [11]:
s = """
eine string mit:
einer zeile
noch einer zeile
und noch ein paar zeilen
"""
s

'\neine string mit:\neiner zeile\nnoch einer zeile\nund noch ein paar zeilen\n'

In [12]:
print(s)

eine string mit:
einer zeile
noch einer zeile
und noch ein paar zeilen

In [13]:
s = "eine string mit:\neiner zeile\nnoch einer zeile\nund noch ein paar zeilen"
s

'eine string mit:\neiner zeile\nnoch einer zeile\nund noch ein paar zeilen'

In [14]:
print(s)

eine string mit:
einer zeile
noch einer zeile
und noch ein paar zeilen

NB: jupyter notebook stoppt bei exceptions

In [15]:
try:
    s = "ein string mit einem newline\ndrin"
    print(s)
except Exception as e:
    print(e)

ein string mit einem newline
drin

In [16]:
print('schauma')

schauma

In [17]:
int('42')

42

In [18]:
try:
    int('xyz')
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'xyz'

In [19]:
print('schauma wieder')

schauma wieder

## Raw strings

In [20]:
s = "das ist ein String mit einem \\"

In [21]:
s = r"das ist ein String mit einem \n"

In [22]:
s

'das ist ein String mit einem \\n'

# Variablen

Was passiert, wenn man Typen zuviel mischt?

In [23]:
a = 42

In [24]:
type(a)

int

In [25]:
b = 6.66
type(b)

float

In [26]:
c = a + b
c

48.66

In [27]:
type(c)

float

In [28]:
d = [1, 'liste']

In [29]:
try:
    c = a+d
except Exception as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'list'

## Tuple Unpacking

Was ist ein Tuple?

In [30]:
l = [1,2,3]

In [31]:
l.append(4)
l

[1, 2, 3, 4]

In [32]:
t = (1,2,3)

In [33]:
try:
    t.append(4)
except Exception as e:
    print(e)

'tuple' object has no attribute 'append'

In [34]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [35]:
(a, b, c) = (1, 2, 3)
print(a, b, c)

1 2 3

In [36]:
def f():
    return 1, "eins"

In [37]:
a, b = f()

In [38]:
print(a, b)

1 eins

Was hat das ganze mit ``print()`` zu tun?

In [39]:
a, b, c

(1, 'eins', 3)

In [40]:
d = 666

In [41]:
print("die werte sind:", a, b, c, d)

die werte sind: 1 eins 3 666

## Speicher, Memory Management

In [42]:
a = 42
id(a)

139724693311056

In [43]:
hex(id(a))

'0x7f1430b60e50'

In [44]:
b = a

In [45]:
hex(id(b))

'0x7f1430b60e50'

In [46]:
a = 666
hex(id(a))

'0x7f1428be5d10'

In [47]:
hex(id(b))

'0x7f1430b60e50'

# Datatypes

In [48]:
s = 'abc'
type(s)

str

In [49]:
i = 42
type(i)

int

In [51]:
s = str(i)
s

'42'

In [53]:
bool(20)

True

In [55]:
bool(0)

False

In [56]:
t = (1, 2, 3)
new_t = t + (4,5)

In [57]:
t

(1, 2, 3)

In [58]:
new_t

(1, 2, 3, 4, 5)

In [59]:
t = new_t
t

(1, 2, 3, 4, 5)

## Mutable vs. Immutable

In [61]:
l1 = [1,2,3]

In [62]:
l1

[1, 2, 3]

In [63]:
hex(id(l1))

'0x7f1428bfd280'

In [64]:
l2 = l1
l2

[1, 2, 3]

In [65]:
l1.append(4)
l1

[1, 2, 3, 4]

In [66]:
l2

[1, 2, 3, 4]

In [67]:
l1[1] = 3

In [69]:
l2

[1, 3, 3, 4]

In [70]:
l1 = 3

In [71]:
l2

[1, 3, 3, 4]

In [72]:
l3 = l2

In [73]:
l3

[1, 3, 3, 4]

In [74]:
l2 = [3,4,5]

In [75]:
l3

[1, 3, 3, 4]

### Wie sch√ºtze ich mich davor?

In [76]:
orig = [1,2,3,4]

Slicing (kommt noch)

In [77]:
orig[1:3]

[2, 3]

In [78]:
orig[1:4]

[2, 3, 4]

In [79]:
orig[1:len(orig)]

[2, 3, 4]

In [80]:
orig[1:]

[2, 3, 4]

In [82]:
orig[1:5]

[2, 3, 4]

In [83]:
orig[0:3]

[1, 2, 3]

In [84]:
orig[:3]

[1, 2, 3]

In [85]:
orig[:]

[1, 2, 3, 4]

#### Aber!!!!

In [93]:
orig = [1,2,[3,4],5]

In [94]:
copy = orig[:]
copy

[1, 2, [3, 4], 5]

In [95]:
copy[2]

[3, 4]

In [97]:
copy[2][1] = 666

In [98]:
copy

[1, 2, [3, 666], 5]

In [99]:
copy[0] = 667

Was ist ``copy``?

In [101]:
copy

[667, 2, [3, 666], 5]

Was ist ``orig``?

In [102]:
orig

[1, 2, [3, 666], 5]

## Dictionary

In [103]:
lookup = {
    'one': 1,
    'two': 2,
}

In [104]:
lookup['one']

1

In [105]:
lookup['three'] = 3

In [106]:
lookup['three']

3

In [107]:
del lookup['three']

In [109]:
try:
    lookup['three']
except Exception as e:
    print(e)

'three'

In [110]:
hash(42)

42

In [111]:
hash('hallo')

613744100421320239

In [112]:
hash((1,2,3))

529344067295497451

In [114]:
try:
    hash([1,2,3])
except Exception as e:
    print(e)

unhashable type: 'list'

In [119]:
value = lookup.get('four')

In [121]:
print(value)

None

In [123]:
for k, v in lookup.items():
    if v == 2:
        print(k)

two

## Exercise: Liste von gemischten Datentypen

In [126]:
l = []
l

[]

In [127]:
l = list()
l

[]

In [129]:
l = [1, 2, 'drei']
l

[1, 2, 'drei']

Eine leere Liste

In [130]:
l = []

In [131]:
l.append(42)
l.append(42.666)
l.append(True)
l

[42, 42.666, True]

In [132]:
l.extend([1, 2, 3])
l

[42, 42.666, True, 1, 2, 3]

In [133]:
l.append(['eins', 2])
l

[42, 42.666, True, 1, 2, 3, ['eins', 2]]

In [134]:
l.append((4, 'vier'))
l

[42, 42.666, True, 1, 2, 3, ['eins', 2], (4, 'vier')]

In [136]:
try:
    l[7].append(666)
except Exception as e:
    print(e)

'tuple' object has no attribute 'append'

In [138]:
try:
    l[7][1] = 'fuenf'
except Exception as e:
    print(e)

'tuple' object does not support item assignment

In [139]:
l.append({3, 'drei', 3.0})
l

[42, 42.666, True, 1, 2, 3, ['eins', 2], (4, 'vier'), {3, 'drei'}]

Nebenbei: 3.0 wird hier verschluckt

In [141]:
hash(3) == hash(3.0)

True

In [142]:
l.append({'eins': 'one', 'zwei': 'two'})
l

[42,
 42.666,
 True,
 1,
 2,
 3,
 ['eins', 2],
 (4, 'vier'),
 {3, 'drei'},
 {'eins': 'one', 'zwei': 'two'}]

### Konstruktoren

In [147]:
t = tuple([1, 2, 3])
t

(1, 2, 3)

In [149]:
t = tuple('abcd')
t

('a', 'b', 'c', 'd')

In [150]:
t = tuple('111')
t

('1', '1', '1')

In [155]:
t = tuple(['1', '11'])
t

('1', '11')

In [156]:
s = set('abc')
s

{'a', 'b', 'c'}

In [157]:
s = set([1, 2, 3, 4])
s

{1, 2, 3, 4}

In [158]:
3 in s

True

In [159]:
111 in s

False

In [161]:
d = dict([("one", "eins"), ("two", "zwei")])
d

{'one': 'eins', 'two': 'zwei'}