# Jupyter Notebook: Python Advanced (2023-04-24 - 2023-04-26)

## Iterator Protocol

In [1]:
for i in range(3):
    print(i)

0
1
2

In [2]:
for i in [0,1,2]:
    print(i)

0
1
2

In [3]:
drei_millionen_ints = list(range(3_000_000))

In [4]:
type(drei_millionen_ints)

list

In [5]:
r = range(3)

In [6]:
print(type(r))

<class 'range'>

In [7]:
it = iter(r)

In [8]:
print(type(it))

<class 'range_iterator'>

In [9]:
next(it)

0

In [10]:
next(it)

1

In [11]:
next(it)

2

In [12]:
try:
    next(it)
except StopIteration:
    pass

In [13]:
for i in range(3):
    print(i)

0
1
2

In [14]:
numbers = range(10)

In [15]:
def odd_numbers(iterable):
    for number in iterable:
        if number % 2 != 0:
            print('next element')
            yield number

In [16]:
for i in odd_numbers(numbers):
    print(i)

next element
1
next element
3
next element
5
next element
7
next element
9

In [17]:
def odd_numbers_func(l):
    ret_nums = []
    for number in l:
        if number % 2 != 0:
            ret_nums.append(number)
    print('returning result')
    return ret_nums

In [18]:
for i in odd_numbers_func(numbers):
    print(i)

returning result
1
3
5
7
9

## Dynamic Features

In [19]:
a = 42

In [20]:
globals()['a']

42

In [21]:
globals()['numbers']

range(0, 10)

In [22]:
code = '''
eine_variable = 7
'''

In [23]:
context = {}

In [24]:
exec(code, context)

In [25]:
context['eine_variable']

7

In [26]:
class Foo:
    def __init__(self, bar, blech):
        self.bar = bar
        self.blech = blech

In [27]:
f = Foo('Joerg', 'Faschingbauer')

In [28]:
f.__dict__

{'bar': 'Joerg', 'blech': 'Faschingbauer'}

In [29]:
print(type(odd_numbers))

<class 'function'>

In [30]:
print(type(a))

<class 'int'>

In [31]:
odd_numbers.__name__

'odd_numbers'

In [32]:
blah = odd_numbers

In [33]:
blah

In [34]:
blah.__name__

'odd_numbers'

## Variables

In [35]:
a = 42

In [36]:
print(type(a))

<class 'int'>

In [37]:
a = 1.234

In [38]:
type(a)

float

In [39]:
a = [1,2,'drei']

In [40]:
type(a)

list

In [41]:
a = odd_numbers

In [42]:
type(a)

function

In [43]:
t = (1,2)

In [44]:
type(t)

tuple

In [45]:
x, y = t

In [46]:
x

1

In [47]:
y

2

In [48]:
x, y = 1, 2

In [49]:
x, y = (1, 2)

In [50]:
x, y = 1, 2

In [51]:
tmp = x

In [52]:
x = y

In [53]:
y = tmp

In [54]:
x

2

In [55]:
y

1

In [56]:
x, y = 1, 2

In [57]:
x, y = y, x

In [58]:
x

2

In [59]:
y

1

In [60]:
a = 42

In [61]:
b = a

In [62]:
hex(id(a))

'0x7f32ccc4c610'

In [63]:
hex(id(b))

'0x7f32ccc4c610'

## Datatypes

In [64]:
i = 42

In [65]:
i = 2**64-1

In [66]:
bin(i)

'0b1111111111111111111111111111111111111111111111111111111111111111'

In [67]:
i += 1

In [68]:
i

18446744073709551616

In [69]:
bin(i)

'0b10000000000000000000000000000000000000000000000000000000000000000'

In [70]:
10**6

1000000

In [71]:
10**10

10000000000

In [72]:
10**100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [73]:
10**1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [74]:
3/2

1.5

### ``is`` vs. ``==``

In [75]:
l1 = [1,2,3]

In [76]:
l2 = [3,4,5]

In [77]:
id(l1)

139855258515840

In [78]:
id(l2)

139856078033344

In [79]:
l1 is l2

False

In [80]:
l1 == l2

False

In [81]:
l3 = [1,2,3]

In [82]:
id(l3)

139856078226432

In [83]:
l1 is l3

False

In [84]:
l1 == l3

True

In [85]:
l1.append(4)

In [86]:
l1

[1, 2, 3, 4]

In [87]:
l3

[1, 2, 3]

In [88]:
i1 = 42

In [89]:
i2 = i1

In [90]:
id(i1)

139856160540176

In [91]:
id(i2)

139856160540176

In [92]:
i1 is i2

True

In [93]:
i1 == i2

True

In [94]:
i1 = 42

In [95]:
i2 = 42

In [96]:
i1 is i2

True

In [97]:
i3 = 10**1000

In [98]:
i4 = 10**1000

In [99]:
i3 is i4

False

In [100]:
b = False

In [101]:
if b is False:
    print('yay')

yay

In [102]:
if b == False:
    print('yay')

yay

In [103]:
if b:
    print('nope')

In [104]:
l3

[1, 2, 3]

In [105]:
if l3:
    print('yay')

yay

In [106]:
if []:
    print('yay')

In [107]:
s = 'abc'

In [108]:
if s:
    print('yay')

yay

In [109]:
if '':
    print('yay')

### Datatype Conversions

In [110]:
s = 'abc'

In [111]:
print(type(s))

<class 'str'>

In [112]:
i = 42

In [113]:
s = str(i)

In [114]:
s

'42'

In [115]:
s == i

False

In [116]:
str()

''

In [117]:
int()

0

In [118]:
i = int('42')

In [119]:
i

42

In [120]:
int('42', 16)

66

In [121]:
int('0101010101010', 2)

2730

In [122]:
print(type(l1))

<class 'list'>

In [123]:
list()

[]

In [124]:
list('abc')

['a', 'b', 'c']

In [125]:
for c in 'abc':
    print(c)

a
b
c

In [126]:
l = []
for c in 'abc':
    l.append(c)

In [127]:
l

['a', 'b', 'c']

In [128]:
list(range(3))

[0, 1, 2]

In [129]:
type(l)

list

In [130]:
type(42)

int

In [131]:
print(int)

<class 'int'>

In [132]:
print(type(int))

<class 'type'>

In [133]:
int = 666

In [134]:
try:
    int('42')
except TypeError as e:
    print(e, type(e))

'int' object is not callable <class 'TypeError'>

In [135]:
import os
os.listdir('/home/jfasch')

['.bash_logout',
 '.bash_profile',
 '.cache',
 '.config',
 '.local',
 'Desktop',
 'Downloads',
 'Templates',
 'Public',
 'Documents',
 'Music',
 'Pictures',
 'Videos',
 'old-home',
 'Homebrain',
 '.thunderbird',
 '.mozilla',
 'work',
 'venv',
 '.emacs.d',
 '.bashrc~',
 '.emacs',
 '.gnupg',
 'tmp',
 '.wget-hsts',
 '.cups',
 '.gitconfig',
 '.pki',
 '.var',
 '.zoom',
 '.mplayer',
 '.ipython',
 '.jupyter',
 'hello.~1~',
 'x-tools',
 'cross',
 'build',
 '.dia',
 '.bashrc.~1~',
 '.bashrc.~2~',
 '.bashrc',
 'raspi-home',
 'daham',
 'C++-Training-2023-03-20',
 '.ssh',
 '#*message*-20230403-222915#',
 'blink-home',
 'can.log',
 '.bash_history',
 '.python_history',
 '.lesshst']

In [136]:
import os
os.listdir = lambda d: []

In [137]:
os.listdir('/home/jfasch')

[]

In [138]:
os.listdir = None

In [139]:
try:
    os.listdir('/home/jfasch')
except TypeError as e:
    print(e, type(e))

'NoneType' object is not callable <class 'TypeError'>

### Compound DataTypes

#### List, Tuple

In [140]:
l = [1,2,3]

In [141]:
l.append(4)

In [142]:
l

[1, 2, 3, 4]

In [143]:
l.extend([5,6,7])

In [144]:
l

[1, 2, 3, 4, 5, 6, 7]

In [145]:
l.extend('abc')
l

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c']

In [146]:
try:
    l.extend(666)
except TypeError as e:
    print(e, type(e))

'int' object is not iterable <class 'TypeError'>

In [147]:
l.append([8,9,10])
l

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', [8, 9, 10]]

In [148]:
l[0]

1

In [149]:
l[1]

2

In [150]:
l1 = [1,2,3]

In [151]:
id(l1)

139855258795072

In [152]:
l2 = [4,5,6]

In [153]:
l1 + l2

[1, 2, 3, 4, 5, 6]

In [154]:
id(l1)

139855258795072

In [155]:
l1 += l2

In [156]:
l1

[1, 2, 3, 4, 5, 6]

In [157]:
id(l1)     # <--- mutable

139855258795072

In [158]:
t = (1,2,3)
print(type(t))

<class 'tuple'>

In [159]:
t

(1, 2, 3)

In [160]:
t[0]

1

In [161]:
t[1]

2

In [162]:
try:
    t.append(4)
except AttributeError as e:
    print(e, type(e))

'tuple' object has no attribute 'append' <class 'AttributeError'>

In [163]:
id(t)

139855260513728

In [164]:
t += (4,5,6)

In [165]:
id(t)

139856085569920

#### Dictionary

In [166]:
d = {
    'one': 1,
    'two': 2,
}

In [167]:
d['one']

1

In [168]:
'one' in d

True

In [169]:
'four' in d

False

In [170]:
'four' not in d

True

In [171]:
d['four'] = 'vier'

In [172]:
d

{'one': 1, 'two': 2, 'four': 'vier'}

In [173]:
del d['four']

In [174]:
'four' in d

False

In [196]:
d['four'] = 'vier'

**pop**

In [197]:
elem = d['four']
del d['four']
elem

'vier'

In [198]:
d['four'] = 'vier'

In [199]:
elem = d.pop('four')
elem

'vier'

In [177]:
try:
    d.pop('four')
except Exception as e:
    print(e, type(e))

'four' <class 'KeyError'>

**get**

In [201]:
try:
    elem = d['four']
except KeyError:
    elem = None
if elem is None:
    print('nix')
else:
    print('yay')

nix

In [205]:
elem = d.get('four')
if elem is None:
    print('nix')
else:
    print('yay')

nix

Doppelt gemoppelt:

In [217]:
if 'four' in d:     # <--- constant time
    elem = d['four']
else:
    elem = 4
print(elem)

4

Einfach gemoppelt:

In [218]:
elem = d.get('four', 4)
print(elem)

4

``keys()``? ``in``?

In [219]:
if 'four' in d.keys():    # <--- sequential search!
    elem = d['four']
else:
    elem = 4
print(elem)

4

In [211]:
keys = d.keys()
type(keys)

dict_keys

Wenn ``'four'`` nicht in d, dann trag 4 ein (und gib 4 zurueck). Wenn doch drin, gib dessen Wert zurueck.

In [220]:
if 'four' not in d:
    d['four'] = 4
    value = 4
else:
    value = d['four']
print(value)

4

In [221]:
del d['four']

**setdefault**

Exakt das gleiche:

In [222]:
value = d.setdefault('four', 4)
print(value)

4

**Dictionary constructor**

In [226]:
d = {
    'one': 1,
    'two': 2,
    'three': 3,
}

In [227]:
d

{'one': 1, 'two': 2, 'three': 3}

In [229]:
d = dict([('one', 1), ('two', 2), ('three', 3)])

In [230]:
d

{'one': 1, 'two': 2, 'three': 3}

**Dictionary iteration**

Key iteration, implizit

In [233]:
for elem in d:
    print(elem)

one
two
three

Key iteration, explizit

In [234]:
for k in d.keys():
    print(k)

one
two
three

Value iteration

In [235]:
for v in d.values():
    print(v)

1
2
3

Paarweise iteration (keys, values)

In [237]:
for elem in d.items():
    print(elem)

('one', 1)
('two', 2)
('three', 3)

*Tuple unpacking*

In [238]:
x, y = (1,2)

In [239]:
x

1

In [240]:
y

2

In [241]:
for elem in d.items():
    k = elem[0]
    v = elem[1]
    print(f'key: {k}, value: {v}')

key: one, value: 1
key: two, value: 2
key: three, value: 3

In [242]:
for k, v in d.items():
    print(f'key: {k}, value: {v}')

key: one, value: 1
key: two, value: 2
key: three, value: 3

#### Set

In [178]:
s = {1,2,3}

In [179]:
s = set()

In [180]:
s = set('abc')
s

{'a', 'b', 'c'}

In [181]:
'a' in s

True

In [182]:
s.add('d')

In [183]:
'd' in s

True

In [184]:
s.remove('a')

In [185]:
'a' in s

False

In [186]:
s = frozenset('abc')

In [187]:
try:
    s.add('d')
except Exception as e:
    print(e, type(e))

'frozenset' object has no attribute 'add' <class 'AttributeError'>

In [188]:
for elem in s:
    print(elem)

b
a
c

In [189]:
s1 = {1,2,3}
s2 = {2,3,4,5}

In [190]:
s1 | s2

{1, 2, 3, 4, 5}

In [191]:
s1 & s2

{2, 3}

In [192]:
s1 ^ s2

{1, 4, 5}

## Mutability

In [243]:
a = [1,2,3]
b = a

In [245]:
a is b

True

In [246]:
id(a) == id(b)

True

In [247]:
b.append(4)
b

[1, 2, 3, 4]

In [248]:
a

[1, 2, 3, 4]

In [250]:
a = [1,2,3]
b = a[:]

In [251]:
a is b

False

In [252]:
b.append(4)

In [254]:
b

[1, 2, 3, 4]

In [255]:
a

[1, 2, 3]

Nested lists?

In [256]:
a = [1, [2,3,4], 5]
len(a)

3

In [257]:
b = a[:]

In [258]:
b[0] = 666

In [259]:
b

[666, [2, 3, 4], 5]

In [260]:
a

[1, [2, 3, 4], 5]

In [261]:
b[1].append(666)

In [262]:
b

[666, [2, 3, 4, 666], 5]

In [263]:
a

[1, [2, 3, 4, 666], 5]

## File I/O

In [269]:
f = open('/etc/passwd')

In [270]:
block = f.read(10)

In [272]:
len(block)

10

In [274]:
block

'root:x:0:0'

In [275]:
f.readline()

':root:/root:/bin/bash\n'

In [276]:
f.readline()

'bin:x:1:1:bin:/bin:/sbin/nologin\n'

In [277]:
f.readline()

'daemon:x:2:2:daemon:/sbin:/sbin/nologin\n'

... und so weiter ...

In [291]:
f = open('/etc/passwd')

In [292]:
for line in f:
    print(line.rstrip())   # <--- strip trailing newline

root:x:0:0:root:/root:/bin/bash
bin:x:1:1:bin:/bin:/sbin/nologin
daemon:x:2:2:daemon:/sbin:/sbin/nologin
adm:x:3:4:adm:/var/adm:/sbin/nologin
lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin
sync:x:5:0:sync:/sbin:/bin/sync
shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown
halt:x:7:0:halt:/sbin:/sbin/halt
mail:x:8:12:mail:/var/spool/mail:/sbin/nologin
operator:x:11:0:operator:/root:/sbin/nologin
games:x:12:100:games:/usr/games:/sbin/nologin
ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin
nobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin
dbus:x:81:81:System message bus:/:/sbin/nologin
apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin
tss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin
systemd-network:x:192:192:systemd Network Management:/:/usr/sbin/nologin
systemd-oom:x:999:999:systemd Userspace OOM Killer:/:/usr/sbin/nologin
systemd-resolve:x:193:193:systemd Resolver:/:/usr/sbin/nologin
qemu:x:107:107:qemu user:/:/sbin/nologin
polkitd:x:998:997:User for polkitd:/:/sbin/nologin
avahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin
unbound:x:997:995:Unbound DNS resolver:/etc/unbound:/sbin/nologin
nm-openconnect:x:996:994:NetworkManager user for OpenConnect:/:/sbin/nologin
geoclue:x:995:993:User for geoclue:/var/lib/geoclue:/sbin/nologin
usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin
gluster:x:994:992:GlusterFS daemons:/run/gluster:/sbin/nologin
rtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin
chrony:x:993:990::/var/lib/chrony:/sbin/nologin
saslauth:x:992:76:Saslauthd user:/run/saslauthd:/sbin/nologin
dnsmasq:x:991:989:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin
rpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin
colord:x:990:988:User for colord:/var/lib/colord:/sbin/nologin
rpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin
openvpn:x:989:987:OpenVPN:/etc/openvpn:/sbin/nologin
nm-openvpn:x:988:986:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin
pipewire:x:987:985:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin
abrt:x:173:173::/etc/abrt:/sbin/nologin
flatpak:x:986:983:User for flatpak system helper:/:/sbin/nologin
gdm:x:42:42:GNOME Display Manager:/var/lib/gdm:/sbin/nologin
gnome-initial-setup:x:985:982::/run/gnome-initial-setup/:/sbin/nologin
vboxadd:x:984:1::/var/run/vboxadd:/sbin/nologin
sshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin
tcpdump:x:72:72::/:/sbin/nologin
jfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash
systemd-coredump:x:978:978:systemd Core Dumper:/:/usr/sbin/nologin
systemd-timesync:x:977:977:systemd Time Synchronization:/:/usr/sbin/nologin
mosquitto:x:976:976:Mosquitto Broker:/etc/mosquitto:/sbin/nologin

In [293]:
f.close()

In [294]:
def read_lines_of_file(filename):
    f = open('/etc/passwd')
    lines = f.readlines()
    return lines

In [295]:
lines = read_lines_of_file('/etc/passwd')

In [296]:
with open('/etc/passwd') as f:
    # read file
    pass

In [298]:
try:
    f = open('/etc/passwd', 'w')
except Exception as e:
    print(e, type(e))

[Errno 13] Permission denied: '/etc/passwd' <class 'PermissionError'>

## ``enumerate()``

In [299]:
l = ['Joerg', 'Faschingbauer', 'blah']

In [301]:
for elem in l:
    print(elem)

Joerg
Faschingbauer
blah

In [305]:
for elem in enumerate(l):
    print(elem)

(0, 'Joerg')
(1, 'Faschingbauer')
(2, 'blah')

In [306]:
for pos, elem in enumerate(l):
    print(f'[{pos}]: {elem}')

[0]: Joerg
[1]: Faschingbauer
[2]: blah

In [307]:
'-'.join(['Joerg', 'Faschingbauer', 'blah'])

'Joerg-Faschingbauer-blah'

## ``class``

In [308]:
class Foo:
    pass

In [309]:
f = Foo()

In [312]:
print(type(f))

<class '__main__.Foo'>

In [314]:
f.__dict__

{}

In [317]:
f.bar = 'Blah'

In [319]:
f.__dict__

{'bar': 'Blah'}

In [321]:
f

In [326]:
class Foo:
    def __init__(self, bar):
        self.bar = bar

In [327]:
f = Foo('blah')

In [324]:
f.bar

'blah'

In [325]:
f.__dict__['bar']

'blah'