# BlahBlah

In [1]:
print('Hello World')

Hello World

In [2]:
i = 666

In [3]:
type(i)

int

In [4]:
i = 'hallo'

In [5]:
type(i)

str

In [6]:
i.find('l')

2

In [7]:
def f(a):
    return a**2

In [8]:
type(f)

function

In [9]:
f(6)

36

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
code_str = '''
for i in range(5):
    print(i)
'''

In [12]:
type(code_str)

str

In [13]:
exec(code_str)

0
1
2
3
4

In [14]:
i

4

In [15]:
code_str = '''
import random
rnd = random.randrange(6)
'''

In [16]:
context = {}
exec(code_str, context)

In [17]:
context['rnd']

0

# Strings und Quotes

In [18]:
s = 'abc'

In [19]:
print(s)

abc

In [20]:
s = "abc"

In [21]:
s

'abc'

In [22]:
print(s)

abc

In [23]:
s = 'Hallo, du "Suesser"'
print(s)

Hallo, du "Suesser"

In [24]:
s = "Hallo, du 'Suesser'"
print(s)

Hallo, du 'Suesser'

In [25]:
s = 'Hallo, du "Suesser" \'du\''
print(s)

Hallo, du "Suesser" 'du'

# Comments vs. Docstrings

In [26]:
# <doc>
# dieser extrem komplexe algorithmus verwendet ein naeherungsverfahren,
# um die beiden paramete a und b zu addieren.
# die summe ist dann auch der wert des funktionsaufrufs 
# </doc>
def add(a,b):
    return a+b

In [27]:
s = add(2, 5)
s

7

In [28]:
def add(a,b):
    '''
    dieser extrem komplexe algorithmus verwendet ein naeherungsverfahren,
    um die beiden paramete a und b zu addieren.
    die summe ist dann auch der wert des funktionsaufrufs 
    '''
    return a+b

In [29]:
add.__doc__

'\n    dieser extrem komplexe algorithmus verwendet ein naeherungsverfahren,\n    um die beiden paramete a und b zu addieren.\n    die summe ist dann auch der wert des funktionsaufrufs \n    '

In [30]:
help(add)

Help on function add in module __main__:

add(a, b)
    dieser extrem komplexe algorithmus verwendet ein naeherungsverfahren,
    um die beiden paramete a und b zu addieren.
    die summe ist dann auch der wert des funktionsaufrufs

# Variables and Types

In [31]:
a = 1.5
type(a)

float

## Assignment Fun

In [32]:
a = 1
b = 2

In [33]:
print(a, b, sep=',')

1,2

In [34]:
a, b = 1, 2

### Swap

In [35]:
tmp = a
a = b
b = tmp

In [36]:
print(a, b, sep=',')

2,1

In [37]:
a, b = 1, 2

In [38]:
a, b = b, a

In [39]:
print(a, b, sep=',')

2,1

### Assignment Details

In [40]:
a = 42
id(a)

140606563548752

In [41]:
b = a
id(b)

140606563548752

In [42]:
a is b

True

In [43]:
b += 1

In [44]:
b

43

In [45]:
a

42

In [46]:
a = 5

In [47]:
b

43

In [48]:
a = 42
b = 42

In [49]:
id(a)

140606563548752

In [50]:
id(b)

140606563548752

# Datatypes


## Boolean

In [51]:
1.5 < 42

True

In [52]:
type(1.5 < 42)

bool

In [53]:
if 42:
    print('jo eh')

jo eh

In [54]:
if 0:
    print('jo eh')
else:
    print('na wirklich net')

na wirklich net

In [55]:
a = 1.5 < 42
a

True

In [56]:
a = 1.5 > 42
a

False

## Integers

In [57]:
i = 1

In [58]:
i

1

In [59]:
i = 1 * 2**0 
i

1

In [60]:
1 * 2**1 + 1 * 2**0

3

In [61]:
0b11

3

In [62]:
0b100

4

In [63]:
1 * 2**2 + 0 * 2**1 + 0 * 2**0

4

In [64]:
0x10

16

In [65]:
1 * 16**1 + 0 * 16**0

16

In [66]:
0o10

8

In [67]:
1 == 2

False

In [68]:
1 != 2

True

In [69]:
3/2

1.5

In [70]:
3//2

1

In [71]:
5%2

1

In [72]:
11%3

2

In [73]:
if 10%5 == 0:
    print('10 ist durch 5 teilbar')

10 ist durch 5 teilbar

### Integers are Infinitely long

In [74]:
i = 2**64 - 1

In [75]:
i

18446744073709551615

In [76]:
i += 1

In [77]:
i

18446744073709551616

In [78]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

## Operator Precedence

In [79]:
2*10%3

2

In [80]:
(2*10)%3

2

In [81]:
2*(10%3)

2

In [82]:
2*11%3

1

In [83]:
(2*11)%3

1

In [84]:
2*(11%3)

4

## Floating Point Comparison

In [85]:
a = 2/3
b = 4/6

In [86]:
a == b  # ERROR!

True

In [87]:
abs(a-b) < 0.00001

True

## Datatype Conversions

In [88]:
s = '666'
i = 666

In [89]:
i == s

False

In [90]:
type(i) == type(s)

False

In [91]:
i == int(s)

True

In [92]:
int(s)

666

In [93]:
try:
    int('abc')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: 'abc'

In [94]:
int('abc', 16)

2748

In [95]:
float('1.234')

1.234

In [96]:
i

666

In [97]:
bool(i)

True

In [98]:
bool(0)

False

In [99]:
if i == 0:
    print('falsch')

In [100]:
if i:
    print('true')

true

In [101]:
type('abc')

str

In [102]:
i = 666
s = str(i)
print(s)

666

In [103]:
int(666)

666

In [104]:
int(666.666)

666

In [105]:
float(666)

666.0

# Compound Datatypes

## List

In [106]:
l = [1,2,3,4]

In [107]:
len(l)

4

In [108]:
len('abc')

3

In [109]:
l.append(5)

In [110]:
l

[1, 2, 3, 4, 5]

In [111]:
l = [1.9, 'drei', 'hansi']

In [112]:
l.extend([1, 'one'])

In [113]:
l

[1.9, 'drei', 'hansi', 1, 'one']

In [114]:
l.extend('abc')

In [115]:
l

[1.9, 'drei', 'hansi', 1, 'one', 'a', 'b', 'c']

In [116]:
try:
    l.extend(666)
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

In [117]:
l1 = [1,2,3]
l2 = [2,3,4]
l1 < l2

True

In [118]:
l1 = [1,2,3]
l2 = [1,2,4]
l1 < l2

True

In [119]:
s1 = 'abc'
s2 = 'abd'
s1 < s2

True

## Mutability/Immutability

In [120]:
l1 = [1,2,3,4]
l2 = l1

In [121]:
l1 is l2

True

In [122]:
id(l1) == id(l2)

True

In [123]:
l1.append(5)

In [124]:
l1

[1, 2, 3, 4, 5]

In [125]:
l2

[1, 2, 3, 4, 5]

In [126]:
i1 = 666
i2 = i1
i1 is i2

True

In [127]:
i1 += 1

In [128]:
i1

667

In [129]:
i2

666

In [130]:
id(i2)

140606428182128

In [131]:
id(i1)

140606428182896

In [132]:
l1 is l2

True

In [133]:
l1

[1, 2, 3, 4, 5]

In [134]:
l2

[1, 2, 3, 4, 5]

In [135]:
l1 = [1,2,3,4]
l2 = l1[:]

In [136]:
l1.append(5)
l1

[1, 2, 3, 4, 5]

In [137]:
l2

[1, 2, 3, 4]

In [138]:
l1 = [1, 2, ['a', 'b'], 3, 4]
l2 = l1[:]

In [139]:
l1.append(5)

In [140]:
l1

[1, 2, ['a', 'b'], 3, 4, 5]

In [141]:
l2

[1, 2, ['a', 'b'], 3, 4]

In [142]:
l2[2].append('c')

In [143]:
l2

[1, 2, ['a', 'b', 'c'], 3, 4]

In [144]:
l1

[1, 2, ['a', 'b', 'c'], 3, 4, 5]

## Tuple

In [145]:
t = (1,2,3,4)

In [146]:
for element in t:
    print(element)

1
2
3
4

In [147]:
try:
    t.append(5)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

Liste mit einem Element:

In [148]:
l = [1]

In [149]:
type(l)

list

In [150]:
l

[1]

Tuple mit einem Element?

In [151]:
t = (1)

In [152]:
type(t)

int

In [153]:
3*(4%2)

0

In [154]:
t = (1,)

In [155]:
type(t)

tuple

## ``in`` Operator

In [156]:
l = [4,1,8,2,44,0]

In [157]:
5 in l

False

In [158]:
5 not in l

True

In [159]:
4 in l

True

## Dictionary

In [160]:
people = {
    '1037190666': ('Joerg', 'Faschingbauer', '19.6.1966'),
    '1234250497': ('Caro', 'Faschingbauer', '25.4.1997'),
}

In [161]:
people['1037190666']

('Joerg', 'Faschingbauer', '19.6.1966')

In [162]:
try:
    people['2345010101']
except Exception as e:
    print(type(e), e)

<class 'KeyError'> '2345010101'

In [163]:
people['2345010101'] = ('Elizabeth', 'Queen', '1.1.1901')

In [164]:
people['2345010101']

('Elizabeth', 'Queen', '1.1.1901')

In [165]:
del people['2345010101']

In [166]:
'2345010101' in people

False

## Set

In [167]:
s = {'Joerg', 'Caro', 'Johanna', 'Philipp'}

In [168]:
'Joerg' in s

True

In [169]:
s.add('Evi')

In [170]:
'Evi' in s

True

In [171]:
s.remove('Joerg')

# Exercise: Digit To English Word

In [172]:
translation_table = { 0: 'zero', 1: 'one', 2: 'two' }

In [173]:
zahl = '2'
zahl = int(zahl)

In [174]:
translation = translation_table[zahl]

In [175]:
print(translation)

two

# Exercise: Determine Maximum of Two Numbers

In [176]:
l, r = 200, 99     # tuple unpacking

In [177]:
if l < r:
    print(r)
else:
    print(l)

200

In [178]:
max(l, r)

200

In [179]:
max(200, 99, 356, 1)

356

In [180]:
numbers = [200, 99, 356, 1]

**Iterable?**

In [181]:
for element in numbers:
    print(element)

200
99
356
1

In [182]:
for element in 'abc':
    print(element)

a
b
c

In [183]:
max(numbers)

356

Strings are iterable

In [184]:
max('abc')

'c'

**Slicing**

In [185]:
numbers

[200, 99, 356, 1]

In [186]:
numbers[1]

99

In [187]:
numbers[2]

356

In [188]:
try:
    numbers[4]
except Exception as e:
    print(type(e), e)

<class 'IndexError'> list index out of range

In [189]:
numbers[1:3]

[99, 356]

In [190]:
numbers[1:4]

[99, 356, 1]

In [191]:
numbers[1:len(numbers)]

[99, 356, 1]

In [192]:
numbers[1:]

[99, 356, 1]

# ``while`` Loops

In [193]:
summe = 0
i = 1

while i <= 100:
    summe += i
    i += 1

print(summe)

5050

**Pythonicity**

In [194]:
sum(range(1, 101))

5050

**Use Case**: maximal sechs mal wuerfeln, sich freuen, wenn eine Sechser faellt, und sonst jammern

Version 1: potschert, weil wir nicht jammern

In [195]:
import random

versuch_nummer = 1
while versuch_nummer <= 6:
    augen = random.randrange(1,7)
    if augen == 6:
        print('yay!, nach', versuch_nummer, 'versuchen')
        break
    versuch_nummer += 1
    
print('ende')

yay!, nach 2 versuchen
ende

Version 2: potschertes Jammern

In [196]:
import random

versuch_nummer = 1
yay = False
while versuch_nummer <= 6:
    augen = random.randrange(1,7)
    if augen == 6:
        print('yay!, nach', versuch_nummer, 'versuchen')
        yay = True
        break
    versuch_nummer += 1

if not yay:
    print('Jammertal!!!!')

Jammertal!!!!

Version 3: Pythonic jammern

In [197]:
import random

versuch_nummer = 1
while versuch_nummer <= 6:
    augen = random.randrange(1,7)
    if augen == 6:
        print('yay!, nach', versuch_nummer, 'versuchen')
        break
    versuch_nummer += 1
else:
    print('Jammertal!!!!')

yay!, nach 1 versuchen

# Ranges

In [198]:
numbers = [3, 2, 7, 99, 5, 3]

In [199]:
numbers[2:5]

[7, 99, 5]

In [200]:
s = 'Hello World'

In [201]:
s[6:10]

'Worl'

In [202]:
s[0:5]

'Hello'

In [203]:
s[0:5:2]

'Hlo'

In [204]:
for i in range(5):
    print(i)

0
1
2
3
4

In [205]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [206]:
for i in range(2,5):
    print(i)

2
3
4

In [207]:
for i in range(2,7,2):
    print(i)

2
4
6

# Exercise: Sort out Duplicates

In [208]:
output_liste = [2, 3, 1]

In [209]:
element = 1
if element in output_liste:
    print('jo eh')

jo eh

**Set**

In [210]:
have = set()

In [211]:
have.add(2)
have.add(3)
have.add(1)

In [212]:
1 in have

True

In [213]:
10 in have

False

## ``dict.fromkeys()``

Set does not preserve insertion order

In [214]:
s = set()
s.add(100)
s.add(1)
s.add(50)
for element in s:
    print(element)

1
50
100

Dictionary preserves Insertion Order

In [215]:
d = {}
d[100] = 'x'
d[1] = 'x'
d[50] = 'x'
for element in d:
    print(element)

100
1
50

In [216]:
input_list = [2, 3, 1, 10, 3, 3, 1, 10, 5, 2]

In [217]:
d = dict.fromkeys(input_list)
d

{2: None, 3: None, 1: None, 10: None, 5: None}

In [218]:
for element in d:
    print(element)

2
3
1
10
5

In [219]:
output_list = list(d)
output_list

[2, 3, 1, 10, 5]

In [220]:
list('abc')

['a', 'b', 'c']

# Algorithmic Complexity

O(n)

In [221]:
l = [2,3,4,1,5,7,8]
100 in l

False

# More on Lists

In [222]:
l = [3,2,1,5,6]
l.append(3000)
l

[3, 2, 1, 5, 6, 3000]

In [223]:
l.insert(2, 'blah')

In [224]:
l

[3, 2, 'blah', 1, 5, 6, 3000]

In [225]:
l.insert(0, 'erstes/nulltes')
l

['erstes/nulltes', 3, 2, 'blah', 1, 5, 6, 3000]

In [226]:
l.reverse()
l

[3000, 6, 5, 1, 'blah', 2, 3, 'erstes/nulltes']

In [227]:
l.reverse()
l

['erstes/nulltes', 3, 2, 'blah', 1, 5, 6, 3000]

In [228]:
r = reversed(l)

In [229]:
type(r)

list_reverseiterator

In [230]:
for element in r:
    print(element)

3000
6
5
1
blah
2
3
erstes/nulltes

In [231]:
try:
    l.sort()
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'str'

In [232]:
l = [2, 6, 1, 89, 1, 34567654567]
l.sort()

In [233]:
l

[1, 1, 2, 6, 89, 34567654567]

In [234]:
l = [2, 6, 1, 89, 34567654567]

In [235]:
s = sorted(l)
s

[1, 2, 6, 89, 34567654567]

In [236]:
l

[2, 6, 1, 89, 34567654567]

In [237]:
l = [2,1,3,4]
del l[1]
l

[2, 3, 4]

In [238]:
el = l.pop(2)
el

4

In [239]:
l

[2, 3]

**Type names are callable**

In [282]:
list('abc')

['a', 'b', 'c']

# More On Dictionaries

In [240]:
table = { 'one': 1, 'two': 2 }

In [241]:
table['one']

1

In [242]:
table['three'] = 3

In [243]:
'three' in table

True

In [244]:
try:
    table['four']
except Exception as e:
    print(type(e), e)

<class 'KeyError'> 'four'

In [245]:
value = table.get('four')

In [246]:
print(value)

None

In [247]:
if value is None:
    print('leider nicht')
else:
    print('gsd')

leider nicht

In [248]:
value = table.get('four', 4)
print(value)

4

In [249]:
'four' in table

False

In [250]:
'one' in table

True

In [251]:
del table['one']

In [252]:
'one' in table

False

In [253]:
table

{'two': 2, 'three': 3}

In [254]:
table.setdefault('three', 3)

3

In [255]:
table.setdefault('one', 1)

1

In [256]:
table

{'two': 2, 'three': 3, 'one': 1}

**Dictionary Iteration**

Keys ...

In [257]:
for element in table:
    print(element)

two
three
one

In [258]:
for k in table.keys():
    print(k)

two
three
one

In [259]:
for v in table.values():
    print(v)

2
3
1

In [260]:
for element in table.items():
    print(element)

('two', 2)
('three', 3)
('one', 1)

**Tuple unpacking**

In [265]:
a, b = 1, 2

In [264]:
a, b = b, a

In [263]:
(a, b) = (1, 2)

In [267]:
for element in table.items():
    k, v = element
    print('Key:', k, ', Value:', v)

Key: two , Value: 2
Key: three , Value: 3
Key: one , Value: 1

In [268]:
for k, v in table.items():
    print('Key:', k, ', Value:', v)

Key: two , Value: 2
Key: three , Value: 3
Key: one , Value: 1

**Tuple unpacking --- CSV**

In [269]:
csv = [
    ['1037190666', 'Joerg', 'Faschingbauer'],
    ['1234250497', 'Caro', 'Faschingbauer'],
]

In [270]:
for svnr, firstname, lastname in csv:
    print(f'SVNr: {svnr}, Firstname: {firstname}, Lastname: {lastname}')

SVNr: 1037190666, Firstname: Joerg, Lastname: Faschingbauer
SVNr: 1234250497, Firstname: Caro, Lastname: Faschingbauer

In [272]:
try:
    for svnr, firstname in csv:
        pass
except Exception as e:
    print(type(e), e)

<class 'ValueError'> too many values to unpack (expected 2)

In [274]:
for svnr, firstname, _ in csv:
    pass

**``dict.update()``**

In [275]:
table = { 'one': 1, 'two': 2 }

In [276]:
another_table = {'one': 100, 'three': 300}

In [277]:
table.update(another_table)

In [278]:
table

{'one': 100, 'two': 2, 'three': 300}

**Type names are callable**

In [283]:
pairs = [('1037190666', 'Joerg'), ('1234250497', 'Caro')]

In [284]:
dict(pairs)

{'1037190666': 'Joerg', '1234250497': 'Caro'}

# More On Sets

In [279]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

In [281]:
s1 ^ s2     # symmetische differenz

{1, 2, 5, 6}

**Type names are callable**

In [288]:
set('abc')

{'a', 'b', 'c'}

In [287]:
set([1,3,2,5,6])

{1, 2, 3, 5, 6}

# ``eval()``, ``json``

## ``eval()``

In [1]:
s = '666'

In [2]:
int(s)

666

In [3]:
eval(s)

666

In [6]:
eval('666.66')

666.66

In [8]:
eval('"abc"')

'abc'

In [9]:
eval('{1: "one", 2: "two"}')

{1: 'one', 2: 'two'}

**WARUM TF?** Netzwerkkommunikation, vielleicht?

Client ...

In [16]:
import time

request_to_send = {
    'action': 'scan',
    'timestamp': time.time(),
}

request_str_to_send = repr(request_to_send)

# send off request_str_to_send

In [17]:
repr(request_to_send)

"{'action': 'scan', 'timestamp': 1651046407.3633313}"

Server ... (reads request off the cable)

In [14]:
# read request (as str) off cable
request_str_from_cable = request_str_to_send

request_from_cable = eval(request_str_from_cable)

In [18]:
request_from_cable

{'action': 'scan', 'timestamp': 1651046335.8477345}

## ``json``

In [19]:
import json

Client ...

In [21]:
request_to_send

{'action': 'scan', 'timestamp': 1651046407.3633313}

In [22]:
request_str_to_send = json.dumps(request_to_send)
request_str_to_send

'{"action": "scan", "timestamp": 1651046407.3633313}'

sends off request_str_to_send ...

Server ...

reads request from cable

In [24]:
request_str_from_cable = request_str_to_send

In [25]:
request_from_cable = json.loads(request_str_from_cable)
request_from_cable

{'action': 'scan', 'timestamp': 1651046407.3633313}

# References, (Im)mutability

In [26]:
t = ('abc', 2, {}, [])

In [52]:
try:
    t.append(666)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

In [54]:
try:
    t[2] = 0
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'tuple' object does not support item assignment

In [29]:
d = t[2]
l = t[3]

In [31]:
d

{}

In [32]:
l

[]

In [33]:
l.append(666)

In [34]:
t

('abc', 2, {}, [666])

In [35]:
d['one'] = 1

In [36]:
t

('abc', 2, {'one': 1}, [666])

In [37]:
id(t[3])

139909434561408

In [38]:
id(l)

139909434561408

In [39]:
i = 42

In [40]:
id(i)

139909544402512

In [41]:
i += 1

In [42]:
id(i)

139909544402544

In [43]:
s = 'abc'
id(s)

139909543772528

In [46]:
s += 'def'
id(s)

139909433666288

In [47]:
import sys
sys.getrefcount(s)

2

In [48]:
l = [1,2,3]
l.append(l)

In [49]:
l

[1, 2, 3, [...]]

In [50]:
import copy
copy.deepcopy(l)

[1, 2, 3, [...]]

In [51]:
del l

# File I/O

Open for reading ...

In [59]:
f = open('/etc/passwd', mode='r')

In [60]:
f.read(10)

'root:x:0:0'

In [61]:
f.read(10)

':root:/roo'

In [62]:
f.read()

't:/bin/bash\nbin:x:1:1:bin:/bin:/sbin/nologin\ndaemon:x:2:2:daemon:/sbin:/sbin/nologin\nadm:x:3:4:adm:/var/adm:/sbin/nologin\nlp:x:4:7:lp:/var/spool/lpd:/sbin/nologin\nsync:x:5:0:sync:/sbin:/bin/sync\nshutdown:x:6:0:shutdown:/sbin:/sbin/shutdown\nhalt:x:7:0:halt:/sbin:/sbin/halt\nmail:x:8:12:mail:/var/spool/mail:/sbin/nologin\noperator:x:11:0:operator:/root:/sbin/nologin\ngames:x:12:100:games:/usr/games:/sbin/nologin\nftp:x:14:50:FTP User:/var/ftp:/sbin/nologin\nnobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin\napache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin\nsystemd-network:x:192:192:systemd Network Management:/:/sbin/nologin\nsystemd-coredump:x:999:997:systemd Core Dumper:/:/sbin/nologin\nsystemd-resolve:x:193:193:systemd Resolver:/:/sbin/nologin\nsystemd-oom:x:998:996:systemd Userspace OOM Killer:/:/sbin/nologin\nsystemd-timesync:x:997:995:systemd Time Synchronization:/:/sbin/nologin\ntss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin\ndbus:x:81:81:System message bus:/:/sbin/nologin\npolkitd:x:996:994:User for polkitd:/:/sbin/nologin\navahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin\nunbound:x:995:992:Unbound DNS resolver:/etc/unbound:/sbin/nologin\ndnsmasq:x:994:991:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin\nnm-openconnect:x:993:989:NetworkManager user for OpenConnect:/:/sbin/nologin\nusbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin\ngluster:x:992:988:GlusterFS daemons:/run/gluster:/sbin/nologin\nrtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin\npipewire:x:991:987:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin\ngeoclue:x:990:986:User for geoclue:/var/lib/geoclue:/sbin/nologin\nchrony:x:989:984::/var/lib/chrony:/sbin/nologin\nsaslauth:x:988:76:Saslauthd user:/run/saslauthd:/sbin/nologin\nradvd:x:75:75:radvd user:/:/sbin/nologin\nrpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin\nqemu:x:107:107:qemu user:/:/sbin/nologin\nopenvpn:x:987:982:OpenVPN:/etc/openvpn:/sbin/nologin\nnm-openvpn:x:986:981:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin\ncolord:x:985:980:User for colord:/var/lib/colord:/sbin/nologin\nrpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin\nabrt:x:173:173::/etc/abrt:/sbin/nologin\nflatpak:x:984:979:User for flatpak system helper:/:/sbin/nologin\ngdm:x:42:42::/var/lib/gdm:/sbin/nologin\ngnome-initial-setup:x:983:978::/run/gnome-initial-setup/:/sbin/nologin\nvboxadd:x:982:1::/var/run/vboxadd:/sbin/nologin\nsshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin\ntcpdump:x:72:72::/:/sbin/nologin\njfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash\nmosquitto:x:981:974:Mosquitto Broker:/etc/mosquitto:/sbin/nologin\nsomeone-else:x:1001:1001::/home/someone-else:/bin/bash\n'

In [64]:
f.read()     # EOF (end of file)

''

In [65]:
f = open('/etc/passwd')

In [66]:
f.readline()

'root:x:0:0:root:/root:/bin/bash\n'

In [67]:
f.readline()

'bin:x:1:1:bin:/bin:/sbin/nologin\n'

In [68]:
f.readlines()

['daemon:x:2:2:daemon:/sbin:/sbin/nologin\n',
 'adm:x:3:4:adm:/var/adm:/sbin/nologin\n',
 'lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin\n',
 'sync:x:5:0:sync:/sbin:/bin/sync\n',
 'shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown\n',
 'halt:x:7:0:halt:/sbin:/sbin/halt\n',
 'mail:x:8:12:mail:/var/spool/mail:/sbin/nologin\n',
 'operator:x:11:0:operator:/root:/sbin/nologin\n',
 'games:x:12:100:games:/usr/games:/sbin/nologin\n',
 'ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin\n',
 'nobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin\n',
 'apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin\n',
 'systemd-network:x:192:192:systemd Network Management:/:/sbin/nologin\n',
 'systemd-coredump:x:999:997:systemd Core Dumper:/:/sbin/nologin\n',
 'systemd-resolve:x:193:193:systemd Resolver:/:/sbin/nologin\n',
 'systemd-oom:x:998:996:systemd Userspace OOM Killer:/:/sbin/nologin\n',
 'systemd-timesync:x:997:995:systemd Time Synchronization:/:/sbin/nologin\n',
 'tss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin\n',
 'dbus:x:81:81:System message bus:/:/sbin/nologin\n',
 'polkitd:x:996:994:User for polkitd:/:/sbin/nologin\n',
 'avahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin\n',
 'unbound:x:995:992:Unbound DNS resolver:/etc/unbound:/sbin/nologin\n',
 'dnsmasq:x:994:991:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin\n',
 'nm-openconnect:x:993:989:NetworkManager user for OpenConnect:/:/sbin/nologin\n',
 'usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin\n',
 'gluster:x:992:988:GlusterFS daemons:/run/gluster:/sbin/nologin\n',
 'rtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin\n',
 'pipewire:x:991:987:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin\n',
 'geoclue:x:990:986:User for geoclue:/var/lib/geoclue:/sbin/nologin\n',
 'chrony:x:989:984::/var/lib/chrony:/sbin/nologin\n',
 'saslauth:x:988:76:Saslauthd user:/run/saslauthd:/sbin/nologin\n',
 'radvd:x:75:75:radvd user:/:/sbin/nologin\n',
 'rpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin\n',
 'qemu:x:107:107:qemu user:/:/sbin/nologin\n',
 'openvpn:x:987:982:OpenVPN:/etc/openvpn:/sbin/nologin\n',
 'nm-openvpn:x:986:981:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin\n',
 'colord:x:985:980:User for colord:/var/lib/colord:/sbin/nologin\n',
 'rpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin\n',
 'abrt:x:173:173::/etc/abrt:/sbin/nologin\n',
 'flatpak:x:984:979:User for flatpak system helper:/:/sbin/nologin\n',
 'gdm:x:42:42::/var/lib/gdm:/sbin/nologin\n',
 'gnome-initial-setup:x:983:978::/run/gnome-initial-setup/:/sbin/nologin\n',
 'vboxadd:x:982:1::/var/run/vboxadd:/sbin/nologin\n',
 'sshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin\n',
 'tcpdump:x:72:72::/:/sbin/nologin\n',
 'jfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash\n',
 'mosquitto:x:981:974:Mosquitto Broker:/etc/mosquitto:/sbin/nologin\n',
 'someone-else:x:1001:1001::/home/someone-else:/bin/bash\n']

In [69]:
f = open('/etc/passwd')

In [70]:
for line in f:
    print(line)

root:x:0:0:root:/root:/bin/bash

bin:x:1:1:bin:/bin:/sbin/nologin

daemon:x:2:2:daemon:/sbin:/sbin/nologin

adm:x:3:4:adm:/var/adm:/sbin/nologin

lp:x:4:7:lp:/var/spool/lpd:/sbin/nologin

sync:x:5:0:sync:/sbin:/bin/sync

shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown

halt:x:7:0:halt:/sbin:/sbin/halt

mail:x:8:12:mail:/var/spool/mail:/sbin/nologin

operator:x:11:0:operator:/root:/sbin/nologin

games:x:12:100:games:/usr/games:/sbin/nologin

ftp:x:14:50:FTP User:/var/ftp:/sbin/nologin

nobody:x:65534:65534:Kernel Overflow User:/:/sbin/nologin

apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin

systemd-network:x:192:192:systemd Network Management:/:/sbin/nologin

systemd-coredump:x:999:997:systemd Core Dumper:/:/sbin/nologin

systemd-resolve:x:193:193:systemd Resolver:/:/sbin/nologin

systemd-oom:x:998:996:systemd Userspace OOM Killer:/:/sbin/nologin

systemd-timesync:x:997:995:systemd Time Synchronization:/:/sbin/nologin

tss:x:59:59:Account used for TPM access:/dev/null:/sbin/nologin

dbus:x:81:81:System message bus:/:/sbin/nologin

polkitd:x:996:994:User for polkitd:/:/sbin/nologin

avahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin

unbound:x:995:992:Unbound DNS resolver:/etc/unbound:/sbin/nologin

dnsmasq:x:994:991:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/sbin/nologin

nm-openconnect:x:993:989:NetworkManager user for OpenConnect:/:/sbin/nologin

usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin

gluster:x:992:988:GlusterFS daemons:/run/gluster:/sbin/nologin

rtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin

pipewire:x:991:987:PipeWire System Daemon:/var/run/pipewire:/sbin/nologin

geoclue:x:990:986:User for geoclue:/var/lib/geoclue:/sbin/nologin

chrony:x:989:984::/var/lib/chrony:/sbin/nologin

saslauth:x:988:76:Saslauthd user:/run/saslauthd:/sbin/nologin

radvd:x:75:75:radvd user:/:/sbin/nologin

rpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin

qemu:x:107:107:qemu user:/:/sbin/nologin

openvpn:x:987:982:OpenVPN:/etc/openvpn:/sbin/nologin

nm-openvpn:x:986:981:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin

colord:x:985:980:User for colord:/var/lib/colord:/sbin/nologin

rpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin

abrt:x:173:173::/etc/abrt:/sbin/nologin

flatpak:x:984:979:User for flatpak system helper:/:/sbin/nologin

gdm:x:42:42::/var/lib/gdm:/sbin/nologin

gnome-initial-setup:x:983:978::/run/gnome-initial-setup/:/sbin/nologin

vboxadd:x:982:1::/var/run/vboxadd:/sbin/nologin

sshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/sbin/nologin

tcpdump:x:72:72::/:/sbin/nologin

jfasch:x:1000:1000:Joerg Faschingbauer:/home/jfasch:/bin/bash

mosquitto:x:981:974:Mosquitto Broker:/etc/mosquitto:/sbin/nologin

someone-else:x:1001:1001::/home/someone-else:/bin/bash

In [72]:
try:
    f = open('/etc/passwd', 'w')
except Exception as e:
    print(type(e), e)

<class 'PermissionError'> [Errno 13] Permission denied: '/etc/passwd'

# Encoding

In [74]:
s = 'abc'
bytes = s.encode('ascii')

In [75]:
len(bytes)

3

In [76]:
bytes[0]

97

In [77]:
bytes[1]

98

In [79]:
s = 'Jörg'
try:
    s.encode('ascii')
except Exception as e:
    print(type(e), e)

<class 'UnicodeEncodeError'> 'ascii' codec can't encode character '\xf6' in position 1: ordinal not in range(128)

In [81]:
bytes = s.encode('iso-8859-1')
len(bytes)

4

In [82]:
bytes[1]

246

In [83]:
s

'Jörg'

In [85]:
joerg_latin = s.encode('iso-8859-1')

In [86]:
type(joerg_latin)

bytes

In [87]:
len(bytes)

4

In [88]:
joerg_latin

b'J\xf6rg'

In [89]:
joerg_latin.decode('iso-8859-5')

'Jіrg'

# ``enumerate()``

In [90]:
names = ['Joerg', 'Caro', 'Philipp', 'Johanna']
for n in names:
    print(n)

Joerg
Caro
Philipp
Johanna

In [92]:
for element in enumerate(names):
    print(element)

(0, 'Joerg')
(1, 'Caro')
(2, 'Philipp')
(3, 'Johanna')

In [93]:
for lineno, n in enumerate(names):
    print(lineno, n)

0 Joerg
1 Caro
2 Philipp
3 Johanna