# Basics

## Jupyter Notebook

Das Notebook tut aus Markdown HTML machen, und aus Python Code auch

In [1]:
print('hello world')

## Syntax

In [2]:
for c in 'hello':
    print(c)

## Batteries

In [3]:
import random
random.randrange(3, 7)

## Tuple Unpacking

In [4]:
a, b = 1, 2

In [5]:
a

1

In [6]:
b

2

In [7]:
a, b = b, a

In [8]:
a

2

In [9]:
b

1

Ist das gleiche wie ...

In [10]:
(a, b) = (b, a)

## ``for``

In [11]:
liste = [1, 'eins', 1.0]
for element in liste:
    print(element)

1
eins
1.0

In C: ``for (i=0; i<len(liste); i++) ...``

## Key Value Map

In [12]:
lookup_table = {
    'eins': 1,
    'zwei': 2,
    'drei': 3,
    # ...
}

In [13]:
lookup_table['eins']

1

In [14]:
lookup_table['vier'] = 4

In [15]:
lookup_table['vier']

4

In [16]:
try:
    lookup_table['fuenf']
except Exception as e:
    print(e)

'fuenf'

# Syntax

## Comments vs Documentation

In [17]:
# das ist ein kommentar

In [18]:
a = 1  # das ist auch ein kommentar

### Docstrings

In [19]:
def do_something(some_number):
    "Das ist die Dokumentation von dieser Funktion do_something. Sie macht genau nichts, ausser deppert auf stdout auszuspucken"
    print('doing something with that number:', some_number)

In [20]:
do_something(42)

doing something with that number: 42

In [21]:
do_something.__doc__

'Das ist die Dokumentation von dieser Funktion do_something. Sie macht genau nichts, ausser deppert auf stdout auszuspucken'

In [22]:
help(do_something)

Help on function do_something in module __main__:

do_something(some_number)
    Das ist die Dokumentation von dieser Funktion do_something. Sie macht genau nichts, ausser deppert auf stdout auszuspucken

### Multiline String (btw.)

In [25]:
def do_something(some_number):
    """Das ist die Dokumentation von dieser Funktion do_something.
    Sie macht genau nichts, ausser deppert auf stdout auszuspucken"""
    print('doing something with that number:', some_number)

In [26]:
do_something.__doc__

'Das ist die Dokumentation von dieser Funktion do_something.\n    Sie macht genau nichts, ausser deppert auf stdout auszuspucken'

In [27]:
help(do_something)

Help on function do_something in module __main__:

do_something(some_number)
    Das ist die Dokumentation von dieser Funktion do_something.
    Sie macht genau nichts, ausser deppert auf stdout auszuspucken

# Variables

In [28]:
a = 42
a

42

In [29]:
type(a)

int

In [30]:
a = 'hallo'

In [31]:
type(a)

str

In [32]:
a = 42.666

In [33]:
type(a)

float

In [34]:
a = ['hallo', 666, 1.234]

In [35]:
type(a)

list

In [36]:
a

['hallo', 666, 1.234]

In [37]:
del a

In [38]:
try:
    a
except Exception as e:
    print(e)

name 'a' is not defined

In [39]:
a = 666

``globals()`` is a function that returns a dictionary containing all **global** variables (nur so nebenbei)

In [40]:
globals()['a']

666

In [41]:
globals()['eine_neue_variable'] = ['hallo', 'welt', 42]

In [42]:
eine_neue_variable

['hallo', 'welt', 42]

## Tuple Unpacking

In [43]:
a = 1
b = 2

Das geht auch anders:

In [44]:
a, b = 1, 2

Tuple?

In [45]:
(a, b) = (1, 2)

In [46]:
a, b

(1, 2)

Vertauschen von Variablen: klassisch

In [47]:
c = a
a = b
b = c
a, b

(2, 1)

In [48]:
a, b = 1, 2

In [49]:
a, b = b, a
a, b

(2, 1)

## Assignment Details

In [50]:
a = 42
id(a)

140705292246608

In [51]:
b = a

In [52]:
id(b)

140705292246608

# Datatypes

## Numbers

### Integer Numbers (Literals)

In [53]:
1234

1234

In [54]:
-1234

-1234

In [55]:
permission = 0o755

In [56]:
register_content = 0xdeadbeef
register_content

3735928559

In [57]:
register_content = 0b11010001110101000
register_content

107432

### Arithmetic Operators

In [58]:
6/4

1.5

Python 2: ``6/4 == 1``. Erzwungen in Python 3: *Floor Division*

In [59]:
6//4

1

Modulo: Rest einer Division

In [60]:
6%4

2

In [61]:
7%3

1

In [62]:
6%3

0

In [63]:
i = 6
i = i+7
i

13

In [64]:
i = 6
i += 7
i

13

### Wertebereich von Integers

In [65]:
10**6

1000000

In [66]:
10**10

10000000000

In [67]:
10**100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [68]:
hex(10**100)

'0x1249ad2594c37ceb0b2784c4ce0bf38ace408e211a7caab24308a82e8f10000000000000000000000000'

In [69]:
10**1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

Die groesste Zahl, die auf 64 Bit darstellbar ist

In [70]:
i = 2**64-1
i

18446744073709551615

In [71]:
i += 1

In [72]:
i

18446744073709551616

## Strings

In [73]:
s = 'abc'

In [74]:
s = "abc"

In [75]:
s = 'abc\'def'

In [76]:
s = "abc'def"

In [77]:
s = 'abc"def'

In [78]:
s = """erste zeile
zweite zeile"""
s

'erste zeile\nzweite zeile'

In [79]:
dos_path = 'C:\Programme\neues programm'
dos_path

'C:\\Programme\neues programm'

In [80]:
print(dos_path)

C:\Programme
eues programm

Raw Strings

In [81]:
dos_path = r'C:\Programme\neues programm'
print(dos_path)

C:\Programme\neues programm

## Datatype Conversions

In [82]:
ein_string_der_aussieht_wie_ein_integer = '42'
type(ein_string_der_aussieht_wie_ein_integer)

str

In [83]:
ein_integer = int(ein_string_der_aussieht_wie_ein_integer)
ein_integer

42

In [84]:
type(ein_integer)

int

In [85]:
int(1.234)

1

Zur Basis 16 ...

In [86]:
int('32', 16)

50

In [87]:
str(42)

'42'

In [88]:
str(24.234)

'24.234'

## Complex Datatypes

### Listen

In [89]:
l = []  # empty list

In [90]:
type(l)

list

In [91]:
l = list()
l

[]

In [92]:
l = ['hallo', 42, 1.5]
l

['hallo', 42, 1.5]

In [93]:
len(l)

3

In [94]:
l.append(True)
l

['hallo', 42, 1.5, True]

In [95]:
l.extend([1, 2, 3])
l

['hallo', 42, 1.5, True, 1, 2, 3]

In [96]:
l += ['vier', 5]
l

['hallo', 42, 1.5, True, 1, 2, 3, 'vier', 5]

Tuple? Wie Liste, nur **immutable**

In [97]:
t = ('eins', 2, 3.0)
t

('eins', 2, 3.0)

In [98]:
type(t)

tuple

Immutable: es gibt kein ``append()`` (und andere verÃ¤ndernde Methoden)

In [99]:
try:
    t.append(4)
except Exception as e:
    print(e)

'tuple' object has no attribute 'append'

### Dictionaries

In [100]:
d = {}
type(d)

dict

In [101]:
d

{}

In [102]:
len(d)

0

In [103]:
d = dict()
d

{}

In [104]:
d = {
    'eins': 1,
    'zwei': 2,
}

In [105]:
len(d)

2

In [106]:
d['eins']

1

In [107]:
try:
    d['drei']    # KeyError: no such key
except KeyError as e:
    print(type(e), e)

<class 'KeyError'> 'drei'

In [108]:
value = d.get('drei')
print(value)

None

In [109]:
if d.get('drei') is None:
    print('nix drin')

nix drin

In [110]:
d['drei'] = 3
d['drei']

3

In [111]:
'drei' in d

True

In [112]:
del d['drei']   # delete key 'drei'