# Python Advanced (2023-01-15 - 2024-01-17)

In [1]:
a = 42

In [2]:
type(a)

int

Die Function ``dir()`` wird verwendet, um die attribute von a anzuzeigen

In [3]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

## Syntax

In [4]:
a = 42
if a == 42:
    print('yay')

yay

In [5]:
if a == 42:
  print('yay')

yay

## DocStrings

In [6]:
# the function foo foos's a bar
# and returns the square of it
def foo(bar):
    return bar**2

In [7]:
def foo(bar):
    """the function foo foos's a bar
    and returns the square of it"""
    return bar**2

In [8]:
type(foo)

function

In [9]:
foo.__doc__

"the function foo foos's a bar\n    and returns the square of it"

In [10]:
help(foo)

Help on function foo in module __main__:

foo(bar)
    the function foo foos's a bar
    and returns the square of it

## Type System

In [11]:
a = 42
type(a)

int

In [12]:
b = 43

In [13]:
a + b

85

In [14]:
c = 'abc'

In [15]:
def maximum(l, r):
    if l < r:
        return r
    return l

In [16]:
maximum(1,2)

2

In [17]:
try:
    maximum(1, '2')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'str'

In [18]:
maximum(1.2, 2)

2

In [19]:
def maximum_number(l, r):
    if l < r:
        return r
    return l

In [20]:
try:
    maximum_number(1, '2')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'str'

In [21]:
try:
    maximum_number(1, [1, 2, 3])
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'list'

## Variables

### Tuple Unpacking

In [22]:
a = 42

In [23]:
a, b = 42, 666

In [24]:
a

42

In [25]:
b

666

In [26]:
(a, b) = (42, 666)

In [27]:
def foo():
    return 42, 666

In [28]:
rv = foo()

In [29]:
rv

(42, 666)

In [30]:
a, b = foo()

In [31]:
a, b

(42, 666)

In [32]:
tmp = a
a = b
b = tmp

In [33]:
a, b

(666, 42)

In [34]:
a, b = b, a

In [35]:
a, b

(42, 666)

### Assignment Details

In [36]:
a = 42

In [37]:
id(a)

139739243869416

In [38]:
b = a

In [39]:
id(b)

139739243869416

In [40]:
b += 1

In [41]:
b

43

In [42]:
a

42

In [43]:
xxx = 666

In [44]:
xxx

666

In [45]:
del xxx

In [46]:
try:
    xxx
except Exception as e:
    print(type(e), e)

<class 'NameError'> name 'xxx' is not defined

In [47]:
d = {
    'a': 1,
    'b': 2,
}

In [48]:
d

{'a': 1, 'b': 2}

In [49]:
globals()['a']

42

In [50]:
a = 1234

In [51]:
globals()['a']

1234

In [52]:
del a

#### Infinity?

In [53]:
a = 2**64-1

In [54]:
a

18446744073709551615

In [55]:
bin(a)

'0b1111111111111111111111111111111111111111111111111111111111111111'

In [56]:
len(bin(a))

66

In [57]:
a += 1

In [58]:
bin(a)

'0b10000000000000000000000000000000000000000000000000000000000000000'

In [59]:
len(bin(a))

67

In [60]:
10**1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

#### Datatype Conversions

In [61]:
a = '42'

In [62]:
type(a)

str

In [63]:
int(a)

42

In [64]:
try:
    int('42.0')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: '42.0'

In [65]:
str(42)

'42'

In [66]:
int('0x42', 16)

66

In [67]:
float(42)

42.0

In [68]:
float('42.666')

42.666

In [69]:
int(42.666)

42

#### Compound Datatypes

##### Lists

In [70]:
l = list()

In [71]:
type(l)

list

In [72]:
l = []

In [73]:
l = [1,2,'drei']

In [74]:
for elem in l:
    print(elem)

1
2
drei

In [75]:
l.append(4.0)

In [76]:
l

[1, 2, 'drei', 4.0]

In [77]:
l1 = [5, 6, 7]

In [78]:
l.extend(l1)

In [79]:
l

[1, 2, 'drei', 4.0, 5, 6, 7]

In [80]:
l2 = [8, 9, 10]

In [81]:
l.append(l2)

In [82]:
l

[1, 2, 'drei', 4.0, 5, 6, 7, [8, 9, 10]]

In [83]:
l[2]

'drei'

In [84]:
try:
    l[100]
except Exception as e:
    print(type(e), e)

<class 'IndexError'> list index out of range

In [85]:
try:
    l[100] = 666
except Exception as e:
    print(type(e), e)

<class 'IndexError'> list assignment index out of range

In [86]:
l += l2

In [87]:
l

[1, 2, 'drei', 4.0, 5, 6, 7, [8, 9, 10], 8, 9, 10]

In [88]:
6 in l

True

In [89]:
10 in l

True

In [90]:
666 in l

False

In [91]:
del l[2]

In [92]:
l

[1, 2, 4.0, 5, 6, 7, [8, 9, 10], 8, 9, 10]

In [93]:
l.pop()

10

In [94]:
l

[1, 2, 4.0, 5, 6, 7, [8, 9, 10], 8, 9]

##### Tuple

In [95]:
t = (1, 2, 'drei')

In [96]:
t[2]

'drei'

In [97]:
try:
    t.append(4.0)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

In [98]:
2 in t

True

In [99]:
666 in t

False

##### Dictionary

In [100]:
d = {
    'one': 1,
    'two': 2,
}

In [101]:
type(d)

dict

In [102]:
d['one']

1

In [103]:
'one' in d

True

In [104]:
d['one'] = 1.0

In [105]:
try:
    d['three']
except Exception as e:
    print(type(e), e)

<class 'KeyError'> 'three'

In [106]:
del d['one']

In [107]:
d

{'two': 2}

In [108]:
d = {'one': 1, 'two': 2, 'three': 3}

In [109]:
for elem in d:
    print(elem)

one
two
three

In [110]:
for elem in d.keys():
    print(elem)

one
two
three

In [111]:
for elem in d.values():
    print(elem)

1
2
3

In [112]:
for elem in d.items():
    print(elem)

('one', 1)
('two', 2)
('three', 3)

In [113]:
a, b = 1, 2

In [114]:
for elem in d.items():
    # potschert
    k = elem[0]
    v = elem[1]
    print(k, v)

one 1
two 2
three 3

In [115]:
# Pythonic
for k, v in d.items():
    print(k, v)

one 1
two 2
three 3

##### Sets

In [116]:
s = set()

In [117]:
s= {}  # dict!

In [118]:
s = {1, 2, 'drei'}

In [119]:
for elem in s:
    print(elem)

drei
1
2

In [120]:
2 in s

True

In [121]:
s.add(4.0)

In [122]:
4.0 in s

True

In [123]:
try:
    s[3]
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'set' object is not subscriptable

In [124]:
s

{1, 2, 4.0, 'drei'}

In [125]:
print(s)

{'drei', 1, 2, 4.0}

#### ``enumerate()``

In [126]:
l = [1, 2, 3, 4]

In [127]:
for elem in l:
    print(elem)

1
2
3
4

In [128]:
idx = 0
for elem in l:
    print(idx, elem)
    idx += 1

0 1
1 2
2 3
3 4

In [129]:
for elem in enumerate(l):
    print(elem)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [130]:
for elem in enumerate(l):
    idx = elem[0]
    value = elem[1]
    print(idx, value)

0 1
1 2
2 3
3 4

In [131]:
for idx, value in enumerate(l):
    print(idx, value)

0 1
1 2
2 3
3 4

##### ``dict``, and ``enumerate()``

In [132]:
pairs = [('one', 1), ('two', 2)]

In [133]:
d = dict(pairs)
d

{'one': 1, 'two': 2}

In [134]:
l = ['zero', 'one']

In [135]:
for elem in l:
    print(elem)

zero
one

In [136]:
idx = 0
for elem in l:
    print(idx, elem)
    idx += 1

0 zero
1 one

In [137]:
for elem in enumerate(l):
    print(elem)

(0, 'zero')
(1, 'one')

In [138]:
for idx, value in enumerate(l):
    print(idx, value)

0 zero
1 one

In [139]:
dict(enumerate(l))

{0: 'zero', 1: 'one'}

## ``while``

In [140]:
summe = 0
num = 1
while num <= 100:
    summe += num
    num += 1
print(summe)

5050

In [141]:
sum(range(1, 101))    # so gehts auch

5050

In [142]:
import random
n_tries = 0
while True:
    n_tries += 1
    eyes = random.randrange(1, 7)
    if eyes == 6:
        print('hooray nach dem', n_tries, 'ten versuch')
        break

hooray nach dem 12 ten versuch

In [143]:
n_tries = 0
win = False
while n_tries < 10:
    n_tries += 1
    eyes = random.randrange(1, 7)
    if eyes == 6:
        win = True
        break
if win:
    print('win')
else:
    print('lose')

lose

In [144]:
n_tries = 0
while n_tries < 10:
    n_tries += 1
    eyes = random.randrange(1, 7)
    if eyes == 6:
        print('win')
        break
else:
    print('lose')

win

## ``range()``

In [145]:
for elem in range(3):
    print(elem)

0
1
2

In [146]:
for elem in range(1, 4):
    print(elem)

1
2
3

In [147]:
for elem in range(1, 9, 2):
    print(elem)

1
3
5
7

In [148]:
l = [0,1,2]

In [149]:
for elem in l:
    print(elem)

0
1
2

In [150]:
for elem in range(3):
    print(elem)

0
1
2

In [151]:
r = range(3)
type(r)

range

In [152]:
print(r)

range(0, 3)

In [153]:
print(type(r))

<class 'range'>

In [154]:
for elem in r:
    print(elem)

0
1
2

In [155]:
r = range(3)

In [156]:
it = iter(r)

In [157]:
next(it)

0

In [158]:
next(it)

1

In [159]:
next(it)

2

In [160]:
try:
    next(it)
except Exception as e:
    print(type(e), e)

<class 'StopIteration'>

In [161]:
l = [0,1,2]

In [162]:
it = iter(l)

In [163]:
next(it)

0

In [164]:
next(it)

1

In [165]:
next(it)

2

In [166]:
try:
    next(it)
except Exception as e:
    print(type(e), e)

<class 'StopIteration'>

In [167]:
def even(maximum):
    rv = []
    num = 0
    while num < maximum:
        if num%2 == 0:
            rv.append(num)
        num += 1
    return rv

In [168]:
for elem in even(10):
    print(elem)

0
2
4
6
8

In [169]:
def even(maximum):
    print('start')
    num = 0
    while num < maximum:
        if num%2 == 0:
            print('suspend, produce', num)
            yield num
            print('wakeup')
        num += 1
    print('end')

In [170]:
nums = even(10)

In [171]:
print(nums)

<generator object even at 0x7f17801cec20>

In [172]:
it = iter(nums)

In [173]:
next(it)

start
suspend, produce 0

0

In [174]:
next(it)

wakeup
suspend, produce 2

2

In [175]:
next(it)

wakeup
suspend, produce 4

4

In [176]:
next(it)

wakeup
suspend, produce 6

6

In [177]:
next(it)

wakeup
suspend, produce 8

8

In [178]:
try:
    next(it)
except Exception as e:
    print(type(e), e)

wakeup
end
<class 'StopIteration'>

In [179]:
cnt = 2
while cnt < 10:
    print(cnt)
    cnt += 1

2
3
4
5
6
7
8
9

In [180]:
for cnt in range(2, 10, 1):
    print(cnt)

2
3
4
5
6
7
8
9

## Functions

In [181]:
def maximum(a: int, b: int) -> int:
    if a < b:
        return b
    return a

In [182]:
maximum('a', 'b')

'b'

In [183]:
maximum(1, 2)

2

In [184]:
maximum(1, 1.2)

1.2

In [185]:
try:
    maximum(1, '2')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'str'

In [186]:
1.0 == 1

True

In [187]:
f = 1.0

In [188]:
f.__eq__(1)

True

In [189]:
s = '1'

In [190]:
s.__eq__(1)

NotImplemented

In [191]:
i = 1

In [192]:
i.__eq__('1')

NotImplemented

In [193]:
id(maximum)

139738910436672

In [194]:
a = maximum

In [195]:
a(1, 2)

2

In [196]:
def create_print_function(msg):
    def inner():
        print(msg)
    return inner

In [197]:
joerg = create_print_function('Joerg')

In [198]:
joerg

In [199]:
joerg()

Joerg

## References, (Im)mutability

In [200]:
a = 42
b = a

In [201]:
id(a)

139739243869416

In [202]:
id(b)

139739243869416

In [203]:
id(a) == id(b)

True

In [204]:
a is b

True

In [205]:
a == b

True

In [206]:
a += 1

In [207]:
id(a)

139739243869448

In [208]:
a is b

False

In [209]:
a == b

False

In [210]:
c

'abc'

In [211]:
del c

In [212]:
c = 666

In [213]:
id(c)

139738909716880

In [214]:
c += 1

In [215]:
id(c)

139738909716752

In [216]:
a = 42

In [217]:
id(a)

139739243869416

In [218]:
b = 42

In [219]:
id(b)

139739243869416

In [220]:
a = 666

In [221]:
id(a)

139738909717104

In [222]:
b = 666

In [223]:
id(b)

139738909717360

Shallow copy

In [224]:
a = [1,2,3]
b = a[:]

In [225]:
b.append(4)

In [226]:
b

[1, 2, 3, 4]

In [227]:
a

[1, 2, 3]

In [228]:
a = [1,2,[3,4,5],6, 7]
b = a[:]

In [229]:
b[2].append(666)

In [230]:
b

[1, 2, [3, 4, 5, 666], 6, 7]

In [231]:
a

[1, 2, [3, 4, 5, 666], 6, 7]

## More About Strings

In [232]:
path = 'C:\no\name'
print(path)

C:
o
ame

In [233]:
line = '     \t  joerg     666\n'

In [234]:
match_expression = r'^\s*(\S+)\s*(\d+)\s*$'

In [235]:
import re

In [236]:
compiled_expression = re.compile(match_expression)

In [237]:
match = compiled_expression.search(line)

In [238]:
match.group(1)

'joerg'

In [239]:
match.group(2)

'666'

### String Methods

In [240]:
s = 'mississippi'

In [241]:
s.count('ss')

2

In [242]:
s.find('ss')

2

In [243]:
s.find('ss', 3)

5

In [244]:
s.find('xxx')

-1

In [245]:
s.index('ss')

2

In [246]:
try:
    s.index('xxx')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> substring not found

In [247]:
'XXX'.isupper()

True

In [248]:
'xxx'.islower()

True

In [249]:
'file.csv'.endswith('.csv')

True

In [250]:
'file.csv'.startswith('file')

True

In [251]:
'abc123'.isalnum()

True

In [252]:
'***'.center(100)

'                                                ***                                                 '

In [253]:
s

'mississippi'

In [254]:
s.rfind('ss')

5

In [255]:
'    xxx '.strip()

'xxx'

In [256]:
'   xxx '.rstrip()

'   xxx'

In [257]:
'   xxx '.lstrip()

'xxx '

In [258]:
'123   abc    1 2 3 '.strip(' 123')

'abc'

In [259]:
line = 'root:x:0:0:Super User:/root:/bin/bash\n'

In [260]:
line = line.rstrip()

In [261]:
line

'root:x:0:0:Super User:/root:/bin/bash'

In [262]:
elems = line.split(':')

In [263]:
elems[0]

'root'

In [264]:
name, passwd, uid, gid, descr, home, loginshell = line.split(':')

In [265]:
name

'root'

In [266]:
l = ['xxx', 'yyy', 'zzz']

In [267]:
joined_l = '-'.join(l)

In [268]:
l

['xxx', 'yyy', 'zzz']

In [269]:
joined_l

'xxx-yyy-zzz'

In [270]:
line = 'root:x:0:0:Super User:/root:/bin/bash\n'

In [271]:
line.split(':', 2)

['root', 'x', '0:0:Super User:/root:/bin/bash\n']

## More About Lists

In [272]:
l = ['a', 'b', 'c']

In [273]:
l.append('d')

In [274]:
l

['a', 'b', 'c', 'd']

In [275]:
l.extend(['e', 'f'])

In [276]:
l

['a', 'b', 'c', 'd', 'e', 'f']

In [277]:
l.extend('ghi')

In [278]:
l

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [279]:
for c in 'ghi':
    print(c)

g
h
i

In [280]:
l.extend(range(3, 6))

In [281]:
l

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 3, 4, 5]

In [282]:
try:
    l.extend(666)
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

In [283]:
try:
    for i in 666:
        print(i)
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'int' object is not iterable

In [284]:
rv = l.append(100)

In [285]:
type(rv)

NoneType

In [286]:
print(rv)

None

In [287]:
def f(): pass

In [288]:
rv = f()

In [289]:
print(rv)

None

## More About Dictionaries

In [290]:
d = {'one': 1,
     'two': 2,
    }

In [291]:
rv = d.get('three')

In [292]:
print(rv)

None

In [293]:
rv = d.get('three')
if rv:
    print(rv)
else:
    print(3)

3

In [294]:
rv = d.get('three', 3)
print(rv)

3

In [295]:
rv = d.get('four')
if rv is not None:
    print(rv)
else:
    d['four'] = 4
    rv = d.get('four')
    print(rv)

4

In [296]:
rv = d.setdefault('five', 5)

In [297]:
print(rv)

5

In [298]:
d

{'one': 1, 'two': 2, 'four': 4, 'five': 5}

In [299]:
d2 = {'five': 5.5, 'six': 6, 'seven': 7.0}

In [300]:
d.update(d2)

In [301]:
d

{'one': 1, 'two': 2, 'four': 4, 'five': 5.5, 'six': 6, 'seven': 7.0}

In [302]:
list(d.keys())

['one', 'two', 'four', 'five', 'six', 'seven']

In [303]:
d[666] = 'crap'

In [304]:
d

{'one': 1,
 'two': 2,
 'four': 4,
 'five': 5.5,
 'six': 6,
 'seven': 7.0,
 666: 'crap'}

In [305]:
for elem in d:
    print(elem)

one
two
four
five
six
seven
666

In [306]:
for key in d.keys():
    print(key)

one
two
four
five
six
seven
666

In [307]:
for v in d.values():
    print(v)

1
2
4
5.5
6
7.0
crap

In [308]:
for elem in d.items():
    print(elem)

('one', 1)
('two', 2)
('four', 4)
('five', 5.5)
('six', 6)
('seven', 7.0)
(666, 'crap')

In [309]:
for k, v in d.items():
    print(k, v)

one 1
two 2
four 4
five 5.5
six 6
seven 7.0
666 crap

In [310]:
{}

{}

In [311]:
dict([('one', 1), ('two', 2)])

{'one': 1, 'two': 2}

In [312]:
{
    'one': 1,
    'two': 2,
}

{'one': 1, 'two': 2}

## More About Sets

In [313]:
s = set()

In [314]:
s.add(42)

In [315]:
s.add('abc')

In [316]:
s

{42, 'abc'}

In [317]:
42 in s

True

In [318]:
try:
    s.add([1,2,'drei'])
except Exception as e:
    print(type(e), e)

<class 'TypeError'> unhashable type: 'list'

In [319]:
i = 666

In [320]:
hash(i)

666

In [321]:
i.__hash__()

666

In [322]:
l = [1, 2, 'drei']

In [323]:
try:
    hash(l)
except Exception as e:
    print(type(e), e)

<class 'TypeError'> unhashable type: 'list'

In [324]:
list.__dict__.get('__hash__')

## Comprehensions (List, Dictionary, Set)

In [325]:
l = [0, 1, 2, 3, 4, 5]

In [326]:
l = list(range(6))

In [327]:
l

[0, 1, 2, 3, 4, 5]

In [328]:
squares = []
for elem in l:
    squares.append(elem**2)
squares

[0, 1, 4, 9, 16, 25]

In [329]:
squares = [elem**2 for elem in l]

In [330]:
squares

[0, 1, 4, 9, 16, 25]

In [331]:
even_squares = [elem**2 for elem in l if elem%2 == 0]

In [332]:
even_squares

[0, 4, 16]

In [333]:
l

[0, 1, 2, 3, 4, 5]

In [334]:
d = {}

In [335]:
for elem in l:
    d[elem] = elem**2

In [336]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [337]:
{elem: elem**2 for elem in l}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [338]:
s = set()
for elem in l:
    s.add(elem**2)

In [339]:
s

{0, 1, 4, 9, 16, 25}

In [340]:
{elem**2 for elem in l}

{0, 1, 4, 9, 16, 25}

In [341]:
squares = []
for elem in l:
    squares.append(elem**2)
squares

[0, 1, 4, 9, 16, 25]

In [342]:
[elem**2 for elem in l]

[0, 1, 4, 9, 16, 25]

In [343]:
for num in [elem**2 for elem in l]:
    print(num)

0
1
4
9
16
25

In [344]:
for num in (elem**2 for elem in l):
    print(num)

0
1
4
9
16
25

## File I/O

In [367]:
f = open('/etc/passwd', encoding='utf-8')

In [368]:
for line in f:
    print(line, end='')

root:x:0:0:Super User:/root:/bin/bash
bin:x:1:1:bin:/bin:/usr/sbin/nologin
daemon:x:2:2:daemon:/sbin:/usr/sbin/nologin
adm:x:3:4:adm:/var/adm:/usr/sbin/nologin
lp:x:4:7:lp:/var/spool/lpd:/usr/sbin/nologin
sync:x:5:0:sync:/sbin:/bin/sync
shutdown:x:6:0:shutdown:/sbin:/sbin/shutdown
halt:x:7:0:halt:/sbin:/sbin/halt
mail:x:8:12:mail:/var/spool/mail:/usr/sbin/nologin
operator:x:11:0:operator:/root:/usr/sbin/nologin
games:x:12:100:games:/usr/games:/usr/sbin/nologin
ftp:x:14:50:FTP User:/var/ftp:/usr/sbin/nologin
nobody:x:65534:65534:Kernel Overflow User:/:/usr/sbin/nologin
dbus:x:81:81:System Message Bus:/:/usr/sbin/nologin
apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin
tss:x:59:59:Account used for TPM access:/:/usr/sbin/nologin
systemd-coredump:x:998:998:systemd Core Dumper:/:/usr/sbin/nologin
systemd-network:x:192:192:systemd Network Management:/:/usr/sbin/nologin
systemd-oom:x:997:997:systemd Userspace OOM Killer:/:/usr/sbin/nologin
systemd-resolve:x:193:193:systemd Resolver:/:/usr/sbin/nologin
systemd-timesync:x:996:996:systemd Time Synchronization:/:/usr/sbin/nologin
qemu:x:107:107:qemu user:/:/sbin/nologin
polkitd:x:114:114:User for polkitd:/:/sbin/nologin
avahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin
geoclue:x:995:994:User for geoclue:/var/lib/geoclue:/sbin/nologin
nm-openconnect:x:994:993:NetworkManager user for OpenConnect:/:/sbin/nologin
usbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin
gluster:x:993:992:GlusterFS daemons:/run/gluster:/sbin/nologin
rtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin
pipewire:x:992:990:PipeWire System Daemon:/run/pipewire:/usr/sbin/nologin
saslauth:x:991:76:Saslauthd user:/run/saslauthd:/sbin/nologin
chrony:x:990:989:chrony system user:/var/lib/chrony:/sbin/nologin
dnsmasq:x:989:988:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/usr/sbin/nologin
rpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin
rpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin
openvpn:x:988:987:OpenVPN:/etc/openvpn:/sbin/nologin
nm-openvpn:x:987:986:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin
colord:x:986:985:User for colord:/var/lib/colord:/sbin/nologin
unbound:x:985:984:Unbound DNS resolver:/var/lib/unbound:/sbin/nologin
abrt:x:173:173::/etc/abrt:/sbin/nologin
flatpak:x:984:982:Flatpak system helper:/:/usr/sbin/nologin
gdm:x:42:42:GNOME Display Manager:/var/lib/gdm:/usr/sbin/nologin
gnome-initial-setup:x:983:981::/run/gnome-initial-setup/:/sbin/nologin
vboxadd:x:982:1::/var/run/vboxadd:/sbin/nologin
sshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/usr/sbin/nologin
tcpdump:x:72:72:tcpdump:/:/usr/sbin/nologin
jfasch:x:1000:1000:Jrg Faschingbauer:/home/jfasch:/bin/bash

In [347]:
f = open('/etc/passwd', encoding='utf-8')

In [348]:
f.read(5)

'root:'

In [349]:
f.read(5)

'x:0:0'

In [350]:
f.readline()

':Super User:/root:/bin/bash\n'

In [351]:
f.readline()

'bin:x:1:1:bin:/bin:/usr/sbin/nologin\n'

In [352]:
f.read()

'daemon:x:2:2:daemon:/sbin:/usr/sbin/nologin\nadm:x:3:4:adm:/var/adm:/usr/sbin/nologin\nlp:x:4:7:lp:/var/spool/lpd:/usr/sbin/nologin\nsync:x:5:0:sync:/sbin:/bin/sync\nshutdown:x:6:0:shutdown:/sbin:/sbin/shutdown\nhalt:x:7:0:halt:/sbin:/sbin/halt\nmail:x:8:12:mail:/var/spool/mail:/usr/sbin/nologin\noperator:x:11:0:operator:/root:/usr/sbin/nologin\ngames:x:12:100:games:/usr/games:/usr/sbin/nologin\nftp:x:14:50:FTP User:/var/ftp:/usr/sbin/nologin\nnobody:x:65534:65534:Kernel Overflow User:/:/usr/sbin/nologin\ndbus:x:81:81:System Message Bus:/:/usr/sbin/nologin\napache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin\ntss:x:59:59:Account used for TPM access:/:/usr/sbin/nologin\nsystemd-coredump:x:998:998:systemd Core Dumper:/:/usr/sbin/nologin\nsystemd-network:x:192:192:systemd Network Management:/:/usr/sbin/nologin\nsystemd-oom:x:997:997:systemd Userspace OOM Killer:/:/usr/sbin/nologin\nsystemd-resolve:x:193:193:systemd Resolver:/:/usr/sbin/nologin\nsystemd-timesync:x:996:996:systemd Time Synchronization:/:/usr/sbin/nologin\nqemu:x:107:107:qemu user:/:/sbin/nologin\npolkitd:x:114:114:User for polkitd:/:/sbin/nologin\navahi:x:70:70:Avahi mDNS/DNS-SD Stack:/var/run/avahi-daemon:/sbin/nologin\ngeoclue:x:995:994:User for geoclue:/var/lib/geoclue:/sbin/nologin\nnm-openconnect:x:994:993:NetworkManager user for OpenConnect:/:/sbin/nologin\nusbmuxd:x:113:113:usbmuxd user:/:/sbin/nologin\ngluster:x:993:992:GlusterFS daemons:/run/gluster:/sbin/nologin\nrtkit:x:172:172:RealtimeKit:/proc:/sbin/nologin\npipewire:x:992:990:PipeWire System Daemon:/run/pipewire:/usr/sbin/nologin\nsaslauth:x:991:76:Saslauthd user:/run/saslauthd:/sbin/nologin\nchrony:x:990:989:chrony system user:/var/lib/chrony:/sbin/nologin\ndnsmasq:x:989:988:Dnsmasq DHCP and DNS server:/var/lib/dnsmasq:/usr/sbin/nologin\nrpc:x:32:32:Rpcbind Daemon:/var/lib/rpcbind:/sbin/nologin\nrpcuser:x:29:29:RPC Service User:/var/lib/nfs:/sbin/nologin\nopenvpn:x:988:987:OpenVPN:/etc/openvpn:/sbin/nologin\nnm-openvpn:x:987:986:Default user for running openvpn spawned by NetworkManager:/:/sbin/nologin\ncolord:x:986:985:User for colord:/var/lib/colord:/sbin/nologin\nunbound:x:985:984:Unbound DNS resolver:/var/lib/unbound:/sbin/nologin\nabrt:x:173:173::/etc/abrt:/sbin/nologin\nflatpak:x:984:982:Flatpak system helper:/:/usr/sbin/nologin\ngdm:x:42:42:GNOME Display Manager:/var/lib/gdm:/usr/sbin/nologin\ngnome-initial-setup:x:983:981::/run/gnome-initial-setup/:/sbin/nologin\nvboxadd:x:982:1::/var/run/vboxadd:/sbin/nologin\nsshd:x:74:74:Privilege-separated SSH:/usr/share/empty.sshd:/usr/sbin/nologin\ntcpdump:x:72:72:tcpdump:/:/usr/sbin/nologin\njfasch:x:1000:1000:Jrg Faschingbauer:/home/jfasch:/bin/bash\n'

In [353]:
f.read(1)

''

In [362]:
f = open('/etc/passwd', 'rb')

In [365]:
b = f.read(5)

In [366]:
type(b)

bytes