# Python Advanced (2023-01-15 - 2024-01-17)

In [1]:
a = 42

In [2]:
type(a)

int

Die Function ``dir()`` wird verwendet, um die attribute von a anzuzeigen

In [3]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

## Syntax

In [4]:
a = 42
if a == 42:
    print('yay')

yay

In [5]:
if a == 42:
  print('yay')

yay

## DocStrings

In [6]:
# the function foo foos's a bar
# and returns the square of it
def foo(bar):
    return bar**2

In [7]:
def foo(bar):
    """the function foo foos's a bar
    and returns the square of it"""
    return bar**2

In [8]:
type(foo)

function

In [9]:
foo.__doc__

"the function foo foos's a bar\n    and returns the square of it"

In [10]:
help(foo)

Help on function foo in module __main__:

foo(bar)
    the function foo foos's a bar
    and returns the square of it

## Type System

In [11]:
a = 42
type(a)

int

In [12]:
b = 43

In [13]:
a + b

85

In [14]:
c = 'abc'

In [15]:
def maximum(l, r):
    if l < r:
        return r
    return l

In [16]:
maximum(1,2)

2

In [17]:
try:
    maximum(1, '2')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'str'

In [18]:
maximum(1.2, 2)

2

In [19]:
def maximum_number(l, r):
    if l < r:
        return r
    return l

In [20]:
try:
    maximum_number(1, '2')
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'str'

In [21]:
try:
    maximum_number(1, [1, 2, 3])
except Exception as e:
    print(type(e), e)

<class 'TypeError'> '<' not supported between instances of 'int' and 'list'

## Variables

### Tuple Unpacking

In [22]:
a = 42

In [23]:
a, b = 42, 666

In [24]:
a

42

In [25]:
b

666

In [26]:
(a, b) = (42, 666)

In [27]:
def foo():
    return 42, 666

In [28]:
rv = foo()

In [29]:
rv

(42, 666)

In [30]:
a, b = foo()

In [31]:
a, b

(42, 666)

In [32]:
tmp = a
a = b
b = tmp

In [33]:
a, b

(666, 42)

In [34]:
a, b = b, a

In [35]:
a, b

(42, 666)

### Assignment Details

In [36]:
a = 42

In [37]:
id(a)

140624195876072

In [38]:
b = a

In [39]:
id(b)

140624195876072

In [40]:
b += 1

In [41]:
b

43

In [42]:
a

42

In [43]:
xxx = 666

In [44]:
xxx

666

In [45]:
del xxx

In [46]:
try:
    xxx
except Exception as e:
    print(type(e), e)

<class 'NameError'> name 'xxx' is not defined

In [47]:
d = {
    'a': 1,
    'b': 2,
}

In [48]:
d

{'a': 1, 'b': 2}

In [49]:
globals()['a']

42

In [50]:
a = 1234

In [51]:
globals()['a']

1234

In [52]:
del a

#### Infinity?

In [53]:
a = 2**64-1

In [54]:
a

18446744073709551615

In [55]:
bin(a)

'0b1111111111111111111111111111111111111111111111111111111111111111'

In [56]:
len(bin(a))

66

In [57]:
a += 1

In [58]:
bin(a)

'0b10000000000000000000000000000000000000000000000000000000000000000'

In [59]:
len(bin(a))

67

In [60]:
10**1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

#### Datatype Conversions

In [61]:
a = '42'

In [62]:
type(a)

str

In [63]:
int(a)

42

In [64]:
try:
    int('42.0')
except Exception as e:
    print(type(e), e)

<class 'ValueError'> invalid literal for int() with base 10: '42.0'

In [65]:
str(42)

'42'

In [66]:
int('0x42', 16)

66

In [67]:
float(42)

42.0

In [68]:
float('42.666')

42.666

In [69]:
int(42.666)

42

#### Compound Datatypes

##### Lists

In [70]:
l = list()

In [71]:
type(l)

list

In [72]:
l = []

In [73]:
l = [1,2,'drei']

In [74]:
for elem in l:
    print(elem)

1
2
drei

In [75]:
l.append(4.0)

In [76]:
l

[1, 2, 'drei', 4.0]

In [77]:
l1 = [5, 6, 7]

In [78]:
l.extend(l1)

In [79]:
l

[1, 2, 'drei', 4.0, 5, 6, 7]

In [80]:
l2 = [8, 9, 10]

In [81]:
l.append(l2)

In [82]:
l

[1, 2, 'drei', 4.0, 5, 6, 7, [8, 9, 10]]

In [83]:
l[2]

'drei'

In [84]:
try:
    l[100]
except Exception as e:
    print(type(e), e)

<class 'IndexError'> list index out of range

In [85]:
try:
    l[100] = 666
except Exception as e:
    print(type(e), e)

<class 'IndexError'> list assignment index out of range

In [86]:
l += l2

In [87]:
l

[1, 2, 'drei', 4.0, 5, 6, 7, [8, 9, 10], 8, 9, 10]

In [88]:
6 in l

True

In [89]:
10 in l

True

In [90]:
666 in l

False

In [91]:
del l[2]

In [92]:
l

[1, 2, 4.0, 5, 6, 7, [8, 9, 10], 8, 9, 10]

In [93]:
l.pop()

10

In [94]:
l

[1, 2, 4.0, 5, 6, 7, [8, 9, 10], 8, 9]

##### Tuple

In [95]:
t = (1, 2, 'drei')

In [96]:
t[2]

'drei'

In [97]:
try:
    t.append(4.0)
except Exception as e:
    print(type(e), e)

<class 'AttributeError'> 'tuple' object has no attribute 'append'

In [98]:
2 in t

True

In [99]:
666 in t

False

##### Dictionary

In [100]:
d = {
    'one': 1,
    'two': 2,
}

In [101]:
type(d)

dict

In [102]:
d['one']

1

In [103]:
'one' in d

True

In [104]:
d['one'] = 1.0

In [105]:
try:
    d['three']
except Exception as e:
    print(type(e), e)

<class 'KeyError'> 'three'

In [106]:
del d['one']

In [107]:
d

{'two': 2}

In [108]:
d = {'one': 1, 'two': 2, 'three': 3}

In [109]:
for elem in d:
    print(elem)

one
two
three

In [110]:
for elem in d.keys():
    print(elem)

one
two
three

In [111]:
for elem in d.values():
    print(elem)

1
2
3

In [113]:
for elem in d.items():
    print(elem)

('one', 1)
('two', 2)
('three', 3)

In [114]:
a, b = 1, 2

In [116]:
for elem in d.items():
    # potschert
    k = elem[0]
    v = elem[1]
    print(k, v)

one 1
two 2
three 3

In [132]:
# Pythonic
for k, v in d.items():
    print(k, v)

one 1
two 2
three 3

##### Sets

In [120]:
s = set()

In [123]:
s= {}  # dict!

In [125]:
s = {1, 2, 'drei'}

In [126]:
for elem in s:
    print(elem)

1
2
drei

In [127]:
2 in s

True

In [128]:
s.add(4.0)

In [129]:
4.0 in s

True

In [131]:
try:
    s[3]
except Exception as e:
    print(type(e), e)

<class 'TypeError'> 'set' object is not subscriptable

In [134]:
s

{1, 2, 4.0, 'drei'}

In [135]:
print(s)

{1, 2, 4.0, 'drei'}

#### ``enumerate()``

In [2]:
l = [1, 2, 3, 4]

In [4]:
for elem in l:
    print(elem)

1
2
3
4

In [6]:
idx = 0
for elem in l:
    print(idx, elem)
    idx += 1

0 1
1 2
2 3
3 4

In [8]:
for elem in enumerate(l):
    print(elem)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [9]:
for elem in enumerate(l):
    idx = elem[0]
    value = elem[1]
    print(idx, value)

0 1
1 2
2 3
3 4

In [12]:
for idx, value in enumerate(l):
    print(idx, value)

0 1
1 2
2 3
3 4

##### ``dict``, and ``enumerate()``

In [13]:
pairs = [('one', 1), ('two', 2)]

In [14]:
d = dict(pairs)
d

{'one': 1, 'two': 2}

In [15]:
l = ['zero', 'one']

In [17]:
for elem in l:
    print(elem)

zero
one

In [18]:
idx = 0
for elem in l:
    print(idx, elem)
    idx += 1

0 zero
1 one

In [19]:
for elem in enumerate(l):
    print(elem)

(0, 'zero')
(1, 'one')

In [21]:
for idx, value in enumerate(l):
    print(idx, value)

0 zero
1 one

In [22]:
dict(enumerate(l))

{0: 'zero', 1: 'one'}